[2017-10-04 05:40] seetadev commented on #1183
Is there a documentation for updating the previous code in accordance with AngularFire 5.0?
I have tried the changes mentioned [here](https://github.com/angular/angularfire2/blob/master/docs/version-5-upgrade.md).Still I'm unable to resolve the issue.

[2017-10-04 06:22] almothafar commented on #1183
@davideast I think you should be waited for a little before closing the ticket!
Why I have to do full refactor for just a little modification?

[2017-10-04 07:30] almothafar opened #1196 "Migration doc missing query"
### Version info
Angular 4.4.4
AngularFire 5 RC1
Firebase 4.5

**Angular:**
4.4.4

**Firebase:**
4.5.0

**AngularFire:**
5.0.0-rc.1

### How to reproduce these conditions

Using in old version:
`this._angularFireDatabase.list('/appData/images', {query: {orderByChild: 'order'}})`
then migrated into:
`this._angularFireDatabase.list<Images>('/appData/images', {query: {orderByChild: 'order'}}).valueCh

[2017-10-04 07:45] Toxicable commented on #940
I think maybe reworking this to have a similar API and implementation to the more recent API's might be in order now

[2017-10-04 07:49] Toxicable commented on #391
I don't think baking it into every single request is the best idea.
Since a lot of requests are very fast and very often, think of a chat application for example, having a progress bar flash up for 200ms or less would just be distracting and having that overhead on every single request is unnecessary

[2017-10-04 07:53] kelle62819 commented on #1054
I tried upgrading and am running into this error: (not my post, but I am getting the same error)
https://stackoverflow.com/questions/46557694/update-issues-in-angularfire-5-0

[2017-10-04 08:05] Metsuryu opened #1198 "https://github.com/angular/angularfire2/blob/master/docs/1-install-and-setup.md gives 404, you should replace the link."
# Developer Guide
Getting started

  *  Installation & Setup << Link is broken

[2017-10-04 08:12] #1198 closed

[2017-10-04 09:38] bloodypastor commented on #425
@RedFour hi. Have you some problem?
![image](https://user-images.githubusercontent.com/12949734/31169288-cc2d7b52-a900-11e7-9cd0-cec24108ffd9.png)

[2017-10-04 10:03] pnu commented on #1155
@larssn That's a valid point, but please change `//` to `#` in your example `rm …`command. Someone may copy-paste that to a terminal as such, without noticing the difference.

[2017-10-04 10:22] dauledk opened #1199 "Namespace 'firebase' has no exported member 'Promise'."
### Version info

**Angular:** 4.3.4

**Firebase:** 4.5.0

**AngularFire:** 5.0.0-rc1

**Other (e.g. Ionic/Cordova, Node, browser, operating system):** Stackblitz

### How to reproduce these conditions
Follow this url to the stackblitz: https://stackblitz.com/edit/angular-x1xn8m
Then open app/hello.component.ts. Here I get the error that firebase has no exported member 'Promise'.

### Debug output

[2017-10-04 10:41] xeeeveee opened #1200 "Minor error in collections documentation"
[code]

`const item` is trying to use it's self to construct a new Item, clearly meant to be passed `name`

[2017-10-04 11:19] davideast commented on #1199
Hey @dauledk! `firebase.Promise` was removed in version 4.5.0 of the firebase SDK. Now you just use a regular Promise. The following modification fixes your sample.

[code]

[2017-10-04 11:19] #1199 closed

[2017-10-04 11:23] davideast commented on #1196
Hey @almothafar! We upgraded the API to work better with RxJS. [See the migration guide here](https://github.com/angular/angularfire2/blob/master/docs/version-5-upgrade.md). It's not much work to switch and it provides several advantages (the new library is 55% smaller).

However, if you want to stay on the old API for the time being you can use the `angularfire2/database-deprecated` module. Do kn

[2017-10-04 11:23] #1196 closed

[2017-10-04 11:51] dauledk commented on #1199
@davideast your are awesome 🚀 👍 !

[2017-10-04 12:00] almothafar commented on #1196
@davideast thank you for the reply, it is clear, I just want to ask how to migrate the query part, you not including it in migration guide.

[2017-10-04 12:59] jorgeucano commented on #1175
You cant use AngularFire4 for Angular 2.0.0-beta.11

[2017-10-04 13:40] Geowan opened #1202 "Listening to changes in a node in firebase database whenever value is updated"
Previously this is the way i would listen to changes in a firebase node

    import {AngularFireDatabase , FirebaseListObservable} from "angularfire2/database";
    export class TrackingCenterComponent implements OnInit {
       registered: FirebaseListObservable<any>;
        constructor(
         private _af: AngularFireDatabase
         ) {
          this.registered = _af.list('/registered');

[2017-10-04 13:43] dauledk opened #1203 "no exported member 'AngularFireList'"
### Version info

**Angular:** 4.3.4

**Firebase:** 4.5.0

**AngularFire:** 5.0.0-rc.1

**Other (e.g. Ionic/Cordova, Node, browser, operating system):** stackblitz

### How to reproduce these conditions
visit the stackblitz: https://stackblitz.com/edit/angular-wrsmn2

### Debug output
If you go to the file app/hello.component.ts, you will se this error:
` Module '"node_modules/angularfire2/databas

[2017-10-04 14:02] markgoho commented on #1202
Hi @Geowan make sure you're upgrading to the latest version of AF2 and check out the [Upgrading the AngularFire 5.0 doc](https://github.com/angular/angularfire2/blob/master/docs/version-5-upgrade.md) to see the changes that have been made.

FirebaseListObservable has been changed to AngularFIreList<T> and it looks like you'll need to call `valueChanges()` on your list before subscribing.

For gene

[2017-10-04 14:16] markgoho commented on #1203
The stackblitz certainly shows it, but I'm having no problem importing in a local project. I know Stackblitz is fairly new....is there a potential for this problem to be on their end?

[2017-10-04 14:34] #1056 closed

[2017-10-04 15:24] BAWES commented on #1184
Same would be nice for `snapshotChanges()` as well.

[2017-10-04 15:33] rjain15 commented on #1199
I have the same exact error, it works on my local env and doesn't work on by build system (wercker) and I am not using firebase.Promise in my code. Could it be version mismatch in my package.json

    "@angular/common": "^4.3.2",
    "@angular/compiler": "^4.3.2",
    "@angular/core": "^4.3.2",
    "@angular/forms": "^4.3.2",
    "@angular/http": "^4.3.2",
    "@angular/platform-browser": "^4.3.2"

[2017-10-04 15:44] davideast commented on #1199
@rjain15 Upgrade to the latest of both Firebase and AngularFire.

[2017-10-04 15:45] iclems opened #1204 "Allow to perform set with additional parameters (e.g. { merge: true })"
https://github.com/angular/angularfire2/blob/21133852c2cfcb2fc1402e63e8cddc0cff70d15c/src/firestore/document/document.ts#L52

[2017-10-04 15:48] rjain15 commented on #1199
yes, upgrading to the latest version took care of it. I am not sure if this is related, but I am now getting the following error

[code]

And here is my latest package.json

[code]

[2017-10-04 16:03] rjain15 commented on #1199
Thanks, works and I had to make some more code adjustments.

One more error and I couldn't find anything in the release notes or stackoverflow.

`
ERROR in /Users/rjain/code/xclo/xclo-website/node_modules/angularfire2/firebase.app.module.d.ts (13,31): Namespace 'firebase' has no exported member 'firestore'.`

Thanks,

[2017-10-04 16:12] #1200 closed

[2017-10-04 16:12] #1202 closed

[2017-10-04 16:20] stubborncoder opened #1205 "Angular Firestore - serverTimestamp"
Hello, trying to figure out how to get a server timestamp with angularfire2/firestore,

I tried this but it does not work:

[code]

Is there any other way to set the server timestamp in a document field?.

[2017-10-04 17:27] sionfletcher commented on #1205
Seems to work if you import all of firebase...
[code]

[2017-10-04 18:18] dauledk commented on #1203
@markgoho one thing is the error. The other thing is that I don't see any dinosaurs in the html.

[2017-10-04 18:29] markgoho commented on #1203
@dauledk I refactored your code to use just one component: https://stackblitz.com/edit/angular-trrnhg

Seems to be working (showing dinosaurs) but still not accepting that import from `angularfire2/database`

[2017-10-04 18:33] Toxicable commented on #1203
Loooks like a possible issue with StackBlitz, works fine here https://stackblitz.com/edit/angular-template-firebase?file=app%2Fapp.module.ts

[2017-10-04 18:43] dauledk commented on #1203
@Toxicable - I removed and re-installed angularfire2. It solved the problem. @markgoho - I now see that I dont reference the correct template file, and when I do stackblitz crashes :expressionless: Thanks for the help regardless 💯

[2017-10-04 18:43] #1203 closed

[2017-10-04 19:20] jamesdaniels commented on #1037
This will be fixed once #1193 is merged and a new version cut, closing for now.

[2017-10-04 19:20] #1037 closed

[2017-10-04 21:21] eduardowickertg commented on #1205
maaan.. I'm getting mad at this.

`private clientsCollection: AngularFirestoreCollection<ClientModel>;

    constructor(private db: AngularFirestore) {
    }

    getAll() {
        return this.db.collection<ClientModel>('clients');
    }

    add(client: ClientModel) {
        this.clientsCollection = this.db.collection<ClientModel>('clients');
        return this.clientsCollection.add(client);

[2017-10-04 22:26] ankemp opened #1206 "Can't resolve all parameters for AngularFirestore"
### Version info

**Angular:** 4.4.x

**Firebase:** 4.3.0

**AngularFire:** 5.0.0-RC.1

### Output during ng build --aot --prod

[code]

[2017-10-04 22:34] shakhrillo commented on #1158
const itemsList = this.db.list('all_posts_id');
 const items$: Observable<any> = itemsList.valueChanges(['child_added', 'child_removed']);
 items$.subscribe(console.log); // only receive "child_added" and "child_changed" events

@davideast Is there any ways to return only new added element without "child_changed" events?

[2017-10-05 00:00] yaozuwang opened #1207 "Observable returns nothing when there is no corresponding list inside firebase database"
Before updating to angularfire2 version 5, if there is no corresponding list inisde the database, i will get an blank array back with length: 0.

After updating, if there is no corresponding list inside the database, i will get nothing at all. This means i can't check *ngIf="(list)?.length==0 because there is no array.

It will still listen to change events, and if i add and then remove an object

[2017-10-05 01:32] davideast commented on #1207
Being fixed with #1186! Hold tight!

[2017-10-05 01:33] rjain15 commented on #1199
I had to also downgrade the version of firebase from latest to 4.2.0

https://forum.ionicframework.com/t/namespace-firebase-has-no-exported-member-promise/107627/12

[2017-10-05 01:38] gmanojisaac commented on #280
Dear David East..
GeoFire will it work with CloudFire now??
Thanks..

[2017-10-05 03:14] davideast commented on #1206
@ankemp We're working on this and should have something in before the 5.0 release.

[2017-10-05 03:15] davideast commented on #1204
@iclems Want to send in the PR? :)

[2017-10-05 03:15] davideast commented on #1175
@albertososa101 Can you make stackblitz for this? It will be much easier to debug.

[2017-10-05 04:04] jeanvanwyk opened #1208 "List documentation still broken after fix for bug 1180"
### Version info

**Angular:** 4.4.3

**Firebase:** 4.5.0

**AngularFire:** 5.0.0-rc.1

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**
Ionic: 3.12.0
Node: v8.6.0
Browser: Chrome 61

### How to reproduce these conditions

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**

**Steps to set up and reproduce**

Follow instructions on https://github.com/angular/angula

[2017-10-05 04:21] yaozuwang commented on #1208
*ngFor doesn't break for me, version 5.0

[2017-10-05 04:34] Toxicable commented on #1208
I don' see any mention of `item.$key` here.
It talks about how to grab the `$key` in the upgrade guide here https://github.com/angular/angularfire2/blob/master/docs/version-5-upgrade.md#moving-away-from-key-and-value

Works fine here: https://stackblitz.com/edit/angular-template-firebase-bq1nrg?file=app%2Fapp.module.ts

[2017-10-05 04:56] Toxicable commented on #1205
@eduardowickertg I don't think you issue is related to this issue.

[2017-10-05 06:27] Metsuryu opened #1209 "forEach works with snapshotChanges(), but not .map, even though the documentation says it should."
### Version info

**Angular:**
4.2.4

**Firebase:**
"firebase": "^4.5.0"

**AngularFire:**
"angularfire2": "^5.0.0-rc.1"

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**
AngularCLI Project, Windows 7

### How to reproduce these conditions
[code]

### Debug output

** Errors in the JavaScript console **
None.

### Expected behavior
.map() should work.

### Actual behavior
.map() do

[2017-10-05 06:36] Metsuryu commented on #1209
.subscribe() also works as it should, and .map() works if inside a .subscribe(), like so:

[code]

[2017-10-05 06:39] Toxicable commented on #1209
`valueChanges` returns an Observable, therefore you can do anything on it that you could a normal Observable.
Therefore `map` works totally as expected as you can see here: https://stackblitz.com/edit/angular-template-firebase-uxldsj?file=app/app.module.ts

[2017-10-05 06:53] Metsuryu commented on #1209
@Toxicable I tried that code now, both with `valueChanges `and with `snapshotChanges`, and .map() still doesn't work for me.

Also, I didn't put` <Type>` in `this.allUsers = db.collection("users");` before, but now that I did like this `this.allUsers = db.collection<any>("users"); ` it still doesn't work.

But since it work in the link you provided, I guess it's a problem on my end, maybe I missed

[2017-10-05 06:54] Toxicable commented on #1209
@Metsuryu What error do you get ?

[2017-10-05 07:07] Metsuryu commented on #1209
No errors, the console.log just doesn't print anything. I'm trying a few more things and I'll update this post later with what I find.

[2017-10-05 07:16] sionfletcher commented on #1209
@Metsuryu are you subscribing the second one anywhere?

[2017-10-05 07:31] Metsuryu commented on #1209
@sionfletcher No, should I?

[2017-10-05 07:46] sionfletcher commented on #1209
@Metsuryu I don't think the observable will emit any values until it's subscribed to, or you use `users | async` in your template.

[2017-10-05 07:49] #1209 closed

[2017-10-05 07:51] iclems commented on #1204
Sure!

[2017-10-05 08:05] ChannabasappaH commented on #1199
Looks like firebase is still not stable.
I had to run into the same issue.
I had to change
  "angularfire2": "^4.0.0-rc.0",
  "firebase": "^3.9.*",
in my package.json file to fix it.

[2017-10-05 08:44] Jennyshah commented on #663
i have an error...
![image](https://user-images.githubusercontent.com/32536921/31218271-73e4ecaa-a9d7-11e7-8ac4-dfe94c70eeb2.png)

[2017-10-05 08:45] jamesdaniels commented on #1208
As @Toxicable mentioned there no longer is a `.$key`, `valueChanges()` strips the metadata. You can use `snapshotChanges()` to access the snapshot + do with it what you wish.

Am I misunderstanding @jeanvanwyk?

Closing for now, continue discussing, will reopen if a bug is identified.

[2017-10-05 08:45] #1208 closed

[2017-10-05 09:23] Metsuryu opened #1210 "Feature request: implement transactions"
### Feature request

https://firebase.google.com/docs/firestore/manage-data/update-data?authuser=1#update_data_with_transactions

Transactions are useful to avoid confilcts when updating data that is accessible by many users, I think this is an important feature.

[2017-10-05 09:36] voogi commented on #1199
Upgraded both packages to latest version, but i cant "ng serve" at all. Same error

ERROR in X:/own/fireRPG/node_modules/angularfire2/firebase.app.module.d.ts (12,28): Namespace 'firebase' has no exported member 'Promise'.

[2017-10-05 10:30] dauledk opened #1211 "The stackblitz template should be updated to latest version"
Is is running version 4 of angularfire2.

[2017-10-05 10:34] dauledk commented on #1191
@jamesdaniels do you now if there is a workaround to this for now? My objective is to get notified when the collection has data (to update loading indication in the UI). I tried with the do operator, but with no success.

[2017-10-05 14:00] codediodeio commented on #1204
On a related note, it looks like these methods require a plain object.
<img width="641" alt="screen shot 2017-10-05 at 6 56 56 am" src="https://user-images.githubusercontent.com/10172199/31230997-777d93f4-a99a-11e7-9e21-7204416dc0ae.png">

Is this expected or should the methods look like this?

`return this.ref.update({ ...data });`

[2017-10-05 15:04] albertososa101 commented on #1175
I tried it, but Stackblitz uses Angular 4 and I have some errors trying to migrate my code. Clone my [repositorie](https://github.com/albertososa101/MAGIC-NIS) and try it please.

[2017-10-05 16:03] jQrgen opened #1212 "API Reference | AngularFire 2"
Hello

How can i know what methods AngularFire 2 has available?

Does AngularFire 2 has a full API reference like [AnguarFire1 has](https://github.com/firebase/angularfire/blob/master/docs/reference.md)?

Thanks

[2017-10-05 16:05] davideast commented on #1212
Now that we are on a more stable API we plan on doing that soon. Follow #677 for updates!

[2017-10-05 16:05] #1212 closed

[2017-10-05 17:30] Maistho opened #1214 "valueChanges does not inherit type of list/object"
### Version info

**Angular:** 4.4.4

**Firebase:** 4.5.0

**AngularFire:** 5.0.0-rc.0-next

### The problem
`AngularFireList` and `AngularFireObject` has a generic `T` that is not inherited to all of it's members, such as `valueChanges` or `snapshotChanges`.

Is it possible to have a generic for `snapshotChanges`? It returns a `SnapshotAction`, which in turn contains a `firebase.database.DataSnap

[2017-10-05 18:00] Toxicable commented on #1214
valueChanges does return an `Observable<T[]>`
https://github.com/angular/angularfire2/blob/master/src/database/interfaces.ts#L8

[2017-10-05 18:08] Maistho commented on #1183
This is fixed in master

https://github.com/angular/angularfire2/commit/96b3c208064b1019399e892e58ee480b4264eeb9#diff-bdb6b409af08da485e2b960e4d9f75eaL16

[2017-10-05 18:08] Maistho commented on #1199
This is fixed in master

https://github.com/angular/angularfire2/commit/96b3c208064b1019399e892e58ee480b4264eeb9#diff-bdb6b409af08da485e2b960e4d9f75eaL16

[2017-10-05 18:37] voogi commented on #1199
@Maistho yes i see now, its works like a charm

[2017-10-05 19:15] jeanvanwyk commented on #1208
Hi @Toxicable, @jamesdaniels ,

Thanks for the quick response. Unfortunately I copied the wrong link. I should have copied: https://github.com/angular/angularfire2/blob/master/docs/rtdb/lists.md not **querying-lists.md**

I was referring specifically to the `Example app` portion at the bottom of that page just below https://github.com/angular/angularfire2/blob/master/docs/rtdb/lists.md#deleting-th

[2017-10-05 20:05] codediodeio opened #1215 "AFS document update type error and custom object error"
### Issue

1. Firestore doc `update` method raises a type error when passing individual properties.
2. This method will also raise an error on custom JS objects.
<img width="641" alt="screen shot 2017-10-05 at 6 56 56 am" src="https://user-images.githubusercontent.com/10172199/31248682-7e58bf12-a9c9-11e7-962a-80227c36010c.png">

### Version info

AngularFire 5.0.0

### Steps to Reproduce

[code]

[2017-10-05 20:09] Toxicable commented on #1215
The data you'er passing to the store must be an Object, not a class instance.
The reason I would assume for this is because while firebase can take the data out of a class but it cannot re-instantiate that class once it comes back into the app from the store

[2017-10-05 20:26] ihateids opened #1216 "Some small issues found in firestore"
Dear fireguys ;-)

thank you for working on such a great thing like firebase is. Today I installed the latest angularfire with firestore and I got amazed by the value it brings. During a quick checks I discovered 3 (I believe) issues:

1.  While trying to update document in firestore, debugger is activated (changes.js - line 34 - debugger;).
2.  While deleting of document the action returned by 's

[2017-10-05 20:28] ihateids commented on #1216
Ups, sorry, sending the right reference:

"dependencies": {
    "@angular/animations": "^4.2.4",
    "@angular/common": "^4.2.4",
    "@angular/compiler": "^4.2.4",
    "@angular/core": "^4.2.4",
    "@angular/forms": "^4.2.4",
    "@angular/http": "^4.2.4",
    "@angular/platform-browser": "^4.2.4",
    "@angular/platform-browser-dynamic": "^4.2.4",
    "@angular/router": "^4.2.4",
    "angularfi

[2017-10-05 20:32] codediodeio commented on #1215
@Toxicable that makes sense, but it seems like AngularFire could convert instances implicitly without harm? For example, you have PhoneNumber class you instantiate, then send that to update the userDocument - you wouldn't expect an instance back, but also wouldn't expect an error.

What do you think about removing the generic type on the data argument, it was an `Object` type in previous versions?

[2017-10-05 20:39] Toxicable commented on #1215
but that wouldn't be inconsistent if you don't get an instance back, what if the class has a method on it? you'd be able to use that method on the out going object but not in the incoming one, this would be very unintuitive.

Also the type `Object` does allow classes see example below, as far as I know there's not type in TS that disallows class instances
[code]

[2017-10-05 20:54] codediodeio commented on #1215
That's how `update` should work. If it's typed to a generic it's almost identical to `set` because you need to send **all** object data to the method based on its interface (even if updating one property). If that's the case, it should not be documented like this: "Update some fields of a document without overwriting the entire document"

[2017-10-05 21:00] jamesdaniels commented on #1216
At least 1 and 3 will be fixed when we cut the next version, haven't seen 2; I'll look into it.

[2017-10-05 21:15] Maistho commented on #1214
@Toxicable

Yup, but I need to specify the generic twice:
[code]

Whereas this is much more preferable:
[code]

[2017-10-05 21:23] Maistho commented on #1214
Also this is "valid" code currently:

[code]

[2017-10-05 21:35] Toxicable commented on #1214
No you don't see here, https://stackblitz.com/edit/angular-template-firebase-uxldsj?file=app%2Fapp.module.ts
`var items` is typed to `Observable<Item[]>`

if you second example you're overriding the generic with another, which is fine.
`stuff$ will be typed as a generic of `string` but `stuff` is still typed as a generic of `number`, I don't see an issue here

[2017-10-05 22:00] RoseReatherford opened #1217 "Promise Error During Compile"
I did a standard 'npm update' on my project. After trying to build, I received a failed error. I scoured my code for any instances of 'Promise' and found none. I am using the newer version since this is a hobby project and good for experimentation. So far, I've been loving the changes #1158 and pretty excited about this direction.

The offending line of code is referenced in the console output bel

[2017-10-05 22:04] Toxicable commented on #1217
duplicate
#1199
#1183

[2017-10-05 22:07] #1217 closed

[2017-10-05 22:08] RoseReatherford commented on #1217
Thanks! I pulled the changes and it works. Closing issue.

[2017-10-05 22:56] #1191 closed

[2017-10-05 23:08] Ali762 commented on #990
To save the click, as of 10 Aug 17, mkwsra's link does not work for ionic on devices. Same problem with the recapthca requirement on firebase phone auth. Still looking for the answer myself.......

[2017-10-06 00:16] #1211 closed

[2017-10-06 01:01] Borsaliino commented on #1208
For a list, you could do something like:

[2017-10-06 01:07] Borsaliino commented on #1208
For a list, you could do something like
[code]

[2017-10-06 02:22] jeanvanwyk commented on #1208
Thank you very much. That fixes my problem.

[2017-10-06 02:27] zwtokio commented on #425
@bloodypastor
`import {  AngularFireDatabaseModule , FirebaseListObservable , FirebaseObjectObservable} from 'angularfire2/database-deprecated';`

[2017-10-06 02:41] mateusduraes commented on #1184
It was released in ^5.0.0-rc.2?
Because seems like empty sets still not being returned from valueChanges()

I have the following code
[code]

When my query should return an empty array, the map / observables is not fired.

[2017-10-06 02:52] Abby3017 commented on #990
I was also getting the similar error when using grecaptcha and then used the way you described.
@Sagar-AppLogics , can you or anyone explain the logic behind that

[2017-10-06 06:23] dauledk commented on #1211
@jamesdaniels can you enable firestore on the project?

[2017-10-06 07:48] larssn commented on #1216
Also, shouldn't https://github.com/angular/angularfire2/blob/master/src/firestore/collection/collection.ts#L118 return T?

[2017-10-06 08:59] Wanted92 commented on #1205
@eduardowickertg I have the same problem and I'm getting mad, @Toxicable Do you have a simple solution?

[2017-10-06 09:01] Toxicable commented on #1205
@Wanted92 @eduardowickertg I explained what's going on here https://github.com/angular/angularfire2/issues/1215#issuecomment-334577913

[2017-10-06 10:32] Wanted92 commented on #1146
@ivanhdzd do you solve the problem?

[2017-10-06 11:39] MSkraburski opened #1219 "Data being removed from Database after refresh/ng serve"
Hi,

I am facing a pretty confusing obstacle. I have so called "wizard form" where user fills the short form. After submit all the data goes to the Firebase Database. I can access them later in the edit profile page but when I refresh/reload the page the data dissapears from Database.

The data goes to Db via "save()" function that is launched by clicking submit button. The code is similar to this

[2017-10-06 12:37] MSkraburski commented on #1219
When I change 'update' to 'set' or 'push' same thing happens...

[2017-10-06 17:11] Maistho commented on #1214
@Toxicable Your example is for Cloud Firestore, not Realtime Database.

If I modify your example to use the Realtime Database, it fails.

https://stackblitz.com/edit/angular-template-firebase-7mn3ay

[2017-10-06 17:12] Maistho commented on #1214
Also, Firestore does not have a generic for collection.valueChanges

https://github.com/angular/angularfire2/blob/master/src/firestore/collection/collection.ts#L98

[2017-10-06 19:15] jamesdaniels commented on #1216
Can you open a new issue for that?

[2017-10-06 19:15] #1207 closed

[2017-10-06 19:19] jamesdaniels commented on #1184
hmmm, is this the realtime db? i've mostly been focused on the firestore side

[2017-10-06 19:19] #1184 closed

[2017-10-06 19:20] jamesdaniels commented on #1184
If so, can you open a new issue?

[2017-10-06 19:20] #1069 closed

[2017-10-06 19:34] jamesdaniels commented on #940
Yes, will be doing so.

[2017-10-06 19:34] mateusduraes opened #1220 "AngularFireDatabase doesn't execute functions when an empty list should be returned"
Hello, seems like the AngularFireDatabase is not handling empty lists in the observables.

[code]

When i call the method with an email that exists in my realtime database, everything is fine, but if the observable should return an empty list, it is not triggered.

[2017-10-06 19:58] mateusduraes commented on #1184
@jamesdaniels yeah, it is. I've openned the issue [#1220]( https://github.com/angular/angularfire2/issues/1220)

[2017-10-06 20:03] jamesdaniels commented on #391
The AFS dynamic querying example now has a loading template per 0f6f2bf, I'll keep in mind for future examples

[2017-10-06 20:03] #391 closed

[2017-10-06 22:39] guillefd commented on #1220
Same here, also ```snapshotChanges()``` doesn´t trigger when list is empty

[2017-10-06 23:43] jamesdaniels commented on #1220
K, I fixed in AFS I'll grab AFDB tonight + cut a new RC.

[2017-10-07 00:45] markgoho commented on #1219
Hey @MSkraburski this type of _how-to_ question is best asked on Stack Overflow where the community is more prepared to take on this type of challenge. Issues should be saved for bugs or feature requests. Thanks!

[2017-10-07 00:48] markgoho commented on #1210
Have you tried just using the firebase API a la [this method?](https://github.com/angular/angularfire2/issues/201#issuecomment-306502809)

[2017-10-07 03:14] Metsuryu commented on #1210
I managed to use transactions yesterday using FirebaseApp like in the method you linked, even though it could have been easier, but the important thing is that it works. Thank you for the reply anyway.

[2017-10-07 03:28] wor-k commented on #199
for version 5, try
`
const ref = afDb.list('/items).query.ref.push();
ref.set(data);
console.log(ref.key);
`

[2017-10-07 10:41] SlimenTN opened #1221 "The Cloud Firestore API is not enabled for the project"
### Version info

**Angular:** 4.2.4

**Firebase:** 4.5.0

**AngularFire:** 5.0.0-rc.2
In my **AppComponent** class I wanted to call `couses ` list from the database like this:
[code]

But I get this error in the console:
`ERROR Error: The Cloud Firestore API is not enabled for the project fir-demo-376da`

[2017-10-07 10:42] Toxicable commented on #1221
You must enable it from the firebase console

[2017-10-07 10:45] SlimenTN commented on #1221
And how can I do it please, this is my first project with angular and firebase

[2017-10-07 11:06] SlimenTN commented on #1221
Ok I did it thank you.

[2017-10-07 11:07] #1221 closed

[2017-10-07 12:32] gerhardcit opened #1222 "rtdb Lists document sample still used $ref"
The documentation our rtdb lists here: [rtdb lists](https://github.com/angular/angularfire2/blob/master/docs/rtdb/lists.md)

uses the $key property as follows:
[code]
but in Ver 5 (according to the docs here [version-5-upgrade](https://github.com/angular/angularfire2/blob/master/docs/version-5-upgrade.md) indicates that you are:
## Moving away from $key and $value

The sample provided on the first

[2017-10-07 13:23] gerhardcit commented on #1180
This is still wrong
You are using ` <button (click)="updateItem(item.$key, updatetext.value)">Update</button>`
whilst the `.valueChanges()` does not provide a $key anymore.

[2017-10-07 16:30] patrickmichalina commented on #1073
@davideast what is the timeframe for this? do you need any help with this? SSR is critical for the stuff we are building and I would love to use firebase for it.

[2017-10-07 19:26] sonirahul commented on #1119
can you please share your code as a reference

[2017-10-07 22:02] bob-lee opened #1223 "rtdb after upgrade to 5 - List working all good but has issue on :enter / :leave animation"
### Version info

**Angular:** 4.4.4

**Firebase:** 4.5.0

**AngularFire:** 5.0.0-rc.2

**Other (e.g. Ionic/Cordova, Node, browser, operating system):** Windows7 x64, Chrome and FF

### How to reproduce these conditions
Have working animation on removed item on `angularfire2 list`

[code]
[code]
After upgrading `firebase` and `angularfire2`, I managed to make all behaviors around a list (querying,

[2017-10-08 00:47] amouly commented on #1199
@Maistho this was released already? Because I still seeing the same issue as reported above.

[2017-10-08 03:06] sssdesilva commented on #1199
Chanasx fix worked for me.

Changed:
"angularfire2": "^4.0.0-rc.0",
"firebase": "^3.9.*",
in package.json.
npm install again.
done.

[2017-10-08 12:54] Maistho commented on #1199
@amouly I _think_ so, but I recall having some issues earlier as well. Might've been a different version (rc-0?)

It works for me now, I'm using `firebase@4.5.0` and `angularfire2@5.0.0-rc.2`.

[2017-10-08 13:46] patrickmichalina opened #1225 "Feature Request: HTTP Interceptor / TransferState Support [Angular Universal]"
The does not currently appear to be any hook for transferring data between the server and client using a package like HttpStateTransfer. Are there any plans to use HttpInterceptors? Thanks to Angular 5 TransferState module, we can accomplish this, but this could be better abstract in the AngularFire library itself.

[2017-10-08 14:48] albertososa101 commented on #1175
@davideast Hi! Debugging my AuthService, the promise returned in signInWithRedirect is never reached (I added .then() and .catch()). With signInWithPopup all is ok.

[2017-10-08 14:58] edvillareal26 commented on #1206
@davideast so far still having this error. Hope to see fix soon.

Angular@4.4.4
Firebase@4.5.0
AngularFire@5.0.0-rc.2

Output during --aot --prod

Warning: Can't resolve all parameters for AngularFirestore in /Users//Documents/Projects//node_modules/angularfire2/firestore/index.d.ts: ([object Object], ?). This will become an error in Angular v5.x

[2017-10-08 15:38] kvanzuijlen opened #1226 "Scoped packagename"
Hi,

It would improve consistency if angularfire2 also gets a scoped packagename, just like the other angular packages (@angular/cli for example). Also, this would help users finding the official package as stated on the [npm docs](https://docs.npmjs.com/misc/scope#publishing-public-scoped-packages-to-the-public-npm-registry) page (I haven't checked if there are other angular-firebase packages).

[2017-10-08 16:57] flaviuj commented on #199
for version 5, you can also try:
afDb.list('/items).push(null).then(( ref )=>{
     ref.push({/* your_data_here */})
})

[2017-10-08 19:15] davideast commented on #1226
Hi @kvanzuijlen! We are working on a solution. Stay tuned!

[2017-10-08 19:15] #1226 closed

[2017-10-08 19:17] davideast commented on #1225
@patrickmichalina We plan on doing this when we implement SSR support. Follow #1073 until the official proposal is listed.

[2017-10-08 19:17] #1225 closed

[2017-10-08 20:42] DennisSmolek commented on #848
@davideast I think it will.. I'm still mulling over how I feel about the loss of $key but I think this issue specifically is resolved with `.stateChanges()` as the examples all use `map()` for the key value.

[2017-10-08 21:03] lielvan opened #1227 "FirebaseObjectObservable error"
Angular: 4.0

Firebase: 4.5.0

AngularFire: 5.0.0-rc.2

Node: 6.11.2

### How to reproduce these conditions
import { AngularFireDatabase, AngularFireObject } from 'angularfire2/database';
export class AppComponent {
  itemRef: AngularFireObject<any>;
  item: FirebaseObjectObservable<any>;
  constructor(db: AngularFireDatabase) {
    this.itemRef = db.object('item');
    this.item = this.itemRef.va

[2017-10-08 22:00] markgoho commented on #1227
Checkout the [upgrade guide for version 5.0](https://github.com/angular/angularfire2/blob/master/docs/version-5-upgrade.md). The new object is called `AngularFireObject`

[2017-10-08 23:15] #1227 closed

[2017-10-08 23:16] jamesdaniels commented on #1222
Thanks, will address.

[2017-10-08 23:31] yaozuwang commented on #1207
This seems to be fixed for AFS now, i think James Daniels is working on AFDB #1220, will wait for new update

[2017-10-09 02:02] bergergit commented on #1204
Any updates on this?
Being able to use `{ merge: true }` is crucial

[2017-10-09 06:31] Abrahamh08 commented on #1124
I'm having the same problem with 5.0.0-rc.2

[2017-10-09 09:12] sasxa commented on #761
I'm also interested in this feature. I looked over a source code and as far as I can tell `app` is only initialized in the constructor of top level classes: database, auth, firestore:

[code]

@davideast Would it be possible to add an option to switch apps in these classes (`AngularFireDatabase`, `AngularFireAuth`, etc.)? For example:

[code]
Then we could use it:

[code]
---
Or can this be achiev

[2017-10-09 09:12] kleeb commented on #1222
the topic is about $ref, not $key

looks like $ref is also missing, used to make a transaction calls like that

[code]

any clue how to deal with it after upgrde to 5 ?

[2017-10-09 09:27] kleeb commented on #1222
ok, I guess this will be

[code]

?

[2017-10-09 10:27] callen5914 opened #1229 "FireStore Add Document Issue (Not Adding)"
Hello I am going through the documentation of this new Firestore concept. My application is expected to read the announcements from the Firebase FireStore (Which it does just fine). However, when I want to add a document to a collection it is not functioning as expected. I have a form which gathers a title and a body of text. When I call it, for a brief moment the new announcement shows up on the

[2017-10-09 12:15] SilverMountainSoftware opened #1230 "Docs still reference FirebaseObjectObservable"
Please take a look at https://github.com/angular/angularfire2/blob/master/docs/rtdb/objects.md

It still references FirebaseObjectObservable and it would be helpful to have an example where, I assume, we now have an RxJs Observable. No? Thanks for a really useful package, but the transition to 5.0 has been a little rough.

[2017-10-09 14:09] zuandre opened #1231 "Angular 5 is very bad run in to problems the whole time"
guys the new update sucks apart from the firestore , please revert back for list and objects. I can build full crud app in 2 minutes. with this new update it pushed me back whole few days. Sure allot of people agree.

How can i use version 4

[2017-10-09 14:23] alltej commented on #1199
I have `firebase 4.2` and `angularfire2 4.0.0-rc.1`. I am still seeing the ``firebase' has no exported member 'Promise'" message

[2017-10-09 14:57] Nebula-Spark commented on #1231
@zuandre
Actually  The New update Kinda So cool and with firestore Solving the  Query Issues !

And You Can Use Both with Angularfire 2 , That's Awesome! !!
You Can benefit From Both RDB and Firestore

StateChanges  And  auditTrail  With limiting event  = Full control Now
And It's Not even That much   Breaking changes !

And Check The New Documentation , So much Easier now  and it make sense

Hone

[2017-10-09 15:03] esgantivar opened #1232 "Update Firebase Version"
When update version of angularfire 4.0.0.rc-2 to 5.0.0 some problems appears with compilation of app.
The error description: "Namespace 'firebase' has no exported member 'Promise'."

[2017-10-09 15:09] Nebula-Spark commented on #1232
@esgantivar
Check this https://github.com/angular/angularfire2/issues/1199

[2017-10-09 15:20] jacobnaran commented on #1222
i'm having the same issue with $key. has the sample app in rtdb/list.md been updated yet?

[2017-10-09 15:22] patrickmichalina commented on #1231
The new updates are awesome. Only missing feature is Universal rendering.

[2017-10-09 15:23] reactionic127 commented on #824
This is solution that I am using

uploadFileDirect(data, uniquePath): Observable<any>{
    const subject = new Subject();
    const blob = this.base64toBlob(data.image.replace(/^data:image\/(png|jpg|jpeg);base64,/, ""), this.imageContentType);
    const storageRef = this.app.storage().ref(`/userImages/${this.id}/${uniquePath}`);
    storageRef.put(blob).then((fileData) => {
      subject.next(file

[2017-10-09 15:47] onewiseburdman commented on #1232
I think its because of the version you are using I had this problem initially, uninstall using npm and reinstall making sure your version is angularfire2@5.0.0-rc.2.  That fixed my issue with that error.  I am now experiencing some weird issue with importing firebase2 database with a no provider error.

[2017-10-09 15:55] onewiseburdman opened #1233 "Strange Issue with FirebaseDatabase Provider"
Login and auth work fine but now, for my simple search component I keep getting.
ERROR Error: Uncaught (in promise): Error: No provider for AngularFireDatabase!

I am new to programming with firebase2, so maybe this is not an issue, but no matter where I put the provider which is already in my app-module I still get the error.  Been at least 2 hours looking at the problem.  Since I just wrote the

[2017-10-09 15:59] xeeeveee opened #1234 "Example App doesn't work"
### Version info

**Angular:** 4.2.4

**Firebase:** 4.5.0

**AngularFire:** 5.0.0-rc.1

### How to reproduce these conditions

**Steps to set up and reproduce**
Example App on https://github.com/angular/angularfire2/blob/master/docs/rtdb/lists.md makes use to old $key method, but does not use the updated code from the upgrade guide (5.0) to resolve the issues, resulting in the sample app not runni

[2017-10-09 16:12] kleeb commented on #1222
all is explained in the migration docs https://github.com/angular/angularfire2/blob/master/docs/version-5-upgrade.md

[2017-10-09 16:53] Nebula-Spark commented on #1233
@onewiseburdman  Did You imported  AngularFireDatabaseModule  in the appmodule ?

[2017-10-09 17:10] gerhardcit commented on #1222
@kleeb , yes, maybe some kind of explanation,  but what essentially happened here is that RDDB went from BETA to MATURE with a lot of CORE changes suddenly thrown in which effect angularfire2 (/5) quite a lot.
The native Firebase SDK might be fairly mature, but AngularFire2 (ver 4) is essentially being thrown out the window. I don't think the Google guys did a great job in making life easier for a

[2017-10-09 17:33] jamesdaniels commented on #1231
What features don't you like? Is it the dropping of the metadata from valueChanges, having to query by building on the ref, or does this have to do with bugs? This is a big change so there will be some we need to work out.

You can always install the older version by `npm install --save angularfire2@VERSION`

[2017-10-09 17:33] #1231 closed

[2017-10-09 17:44] ivanhdzd commented on #1146
@Wanted92 I had to downgrade Angularfire2 to 4.0.0-rc.1:
`[npm install --save-exact | yarn add --exact] angularfire2@4.0.0-rc.1`

[2017-10-09 18:16] Anthony2539 commented on #1180
Yes i don't understand how this can work with `.valueChanges`

How to use the` $key` simply in the template?

[2017-10-09 18:19] kleeb commented on #1222
Maybe thats why its RC. Anyway I still vote for @davideast playing with the core dev instead of writing great doc and samples. They will come up in time.

[2017-10-09 19:36] glennlawyer opened #1235 "inconsistency in lists.md docs"
The current version of the docs (844c096)
https://github.com/angular/angularfire2/blob/master/docs/rtdb/lists.md
strongly implies that the .valueChanges() does not return the key of the items in the list, only the data associated with the key (emphasis added):

However, the example app
[code]
seems to rely on valueChanges() returning a key (to pass into the button click handlers).

This is slightl

[2017-10-09 20:25] Anthony2539 opened #1236 "How to test a query which returns no result"
I have just migrated to angularfire2 5.0.0-rc.2.

**Before I had this :**
`const searchHashtag = this.searchHashtag(hashtag);`
`const subscribe = searchHashtag.subscribe(snapshots=>{
        if(snapshots.length > 0){
           ....
       }else{
          ....
       }`
**and now i replace it by this:**
`const searchHashtag = this.searchHashtag(hashtag);`
`const subscribe = searchHashtag.snapshot

[2017-10-09 20:33] xeeeveee commented on #1235
Same fundamental issue in #1234

[2017-10-09 20:52] onewiseburdman commented on #1233
yes still the same problem

[2017-10-09 22:46] Nebula-Spark commented on #1236
@Anthony2539
Try This,
const searchHashtag = this.db.list('hastag/').valueChanges()
const subscribe =  searchHashtag.subscribe( (snapshots:any)=>{ if(snapshots.length > 0){ .... }else{ .... }

[2017-10-09 22:59] Luiz-N commented on #581
I'm not using angularfire but I am on firebase 4.4.0 and seeing this issue trying to use auth via with `onAuthStateChanged` and `onIdTokenChanged` listeners in election (an atom package specifically). I believe it was after adding the `onIdTokenChanged` listener and then closing my laptop and opening it up again a few hours later to see my screen flooded with this error. My guess is this has to do

[2017-10-09 23:30] onewiseburdman commented on #1233
This is the module I user for the home page component which is where this search form would go:
import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';

import { NavigationComponent } from '../../pages/shared/navigation/navigation.component';
import { BodyComponent } from '../../pages/shared/body/body.component';
import { FooterComponent } from '../../pages/shared

[2017-10-10 00:12] jamesdaniels commented on #1236
Working on it now #1220

[2017-10-10 00:12] #1236 closed

[2017-10-10 00:12] jamesdaniels commented on #1220
FYI this is a little trickier with RTDB + the new arch. Still in progress.

[2017-10-10 00:13] #1232 closed

[2017-10-10 00:14] jamesdaniels commented on #1234
This is a doc issue, I will address #1235

[2017-10-10 00:14] #1234 closed

[2017-10-10 00:17] jamesdaniels commented on #1229
This sounds like a permission error, do you see anything show up in your browser's inspector?

[2017-10-10 00:42] yaozuwang commented on #1220
Thanks James

[2017-10-10 00:52] bresleveloper commented on #283
@thielCole i was missing as FirebaseListObservable<any[]>
`this.itemsFirebase = this.af.database.list('/users/userA').map( (arr) => { return arr.reverse(); } ) as FirebaseListObservable<any[]>;`

[2017-10-10 01:04] Abrahamh08 commented on #1124
@davideast Can you link the issue relating to this in the ionic cli please?

[2017-10-10 01:26] elmergu commented on #1235
Based on what I understood from the documentation if you need the $key then we should use snapshotChanges()  so I think that the constructor in the example should be like this

[code]

let me know if I'm right or if we are able to access the key using valueChanges()

[2017-10-10 02:00] bob-lee commented on #1235
I made a PR #1237

[2017-10-10 03:14] elmergu commented on #1235
[Stackblitz Template Example](https://stackblitz.com/edit/angularfire-db-api-zajp8j?embed=1&file=app/app.component.ts) - Remember to set your Firebase configuration in app/app.module.ts.

@jacobnaran

[2017-10-10 03:27] jacobnaran commented on #1235
i did have that, thanks @elmergu . my problem is that i still can't figure out how to update or delete a specific item.

[2017-10-10 05:18] cartant opened #1239 "child_added/changed events in listChanges are not sorted"
### Version info

**Angular:** -

**Firebase:** -

**AngularFire:** 5.0.0-rc.2

**Other (e.g. Ionic/Cordova, Node, browser, operating system):** -

Looking at the source for [`listChanges`](https://github.com/angular/angularfire2/blob/5.0.0-rc.2/src/database/list/changes.ts#L9-L36), it's obvious that changes for `child_added` events are always appended to the array:

[code]

Similarly, changes for

[2017-10-10 06:26] jamesdaniels commented on #1239
I have this in progress alongside several other fixes.

[2017-10-10 06:27] jamesdaniels commented on #1239
Thanks for reporting! Keep an eye out for the next RC

[2017-10-10 07:55] zuandre commented on #1231
orderbykey(true) not working if i remove boolean it works and yes the fact that i need to change the code just to get the key of elements.

firestore update is great though.

[2017-10-10 08:05] swftvsn opened #1240 "Feature request: add support for multiple firebase projects"
Hi,

thank you for the awesome library, especially the 5.0, it's forming to be the holy grail of angular apps with Firestore.

I need to use multiple projects with Angularfire, and currently it's not as developer friendly as it could be.

I request to have either

1. Builtin support for bootstrapping and injecting multiple instances of the app, database, firestore, auth etc. or...
2. Documentation

[2017-10-10 08:05] zuandre opened #1241 "orderByKey not working !!!"
so when  I orderByKey(true) then I get error-->  Supplied parameters do not match any signature of call target.

when i remove boolean its okay but its  not sorting my data

[2017-10-10 13:26] onewiseburdman commented on #1233
I got it on my own-if anyone else runs into this, and since the documentation doesn't make it real clear:  import import {AngularFireDatabase} from 'angularfire2/database-deprecated';
on your module, then add AngularFireDatabase to your provider.

[2017-10-10 15:08] markgoho commented on #1233
Hey @onewiseburdman if you use markdown on your code examples it really helps the readability. At the top of the block do three back ticks and then ts (` ``` ts `), then at the bottom, another three backticks (` ``` `) and it'll format the whole thing and even use syntax highlighting. Just a tip! 👍

[2017-10-10 15:09] markgoho commented on #1233
This may be an issue @codediodeio wants to chime in on, too

[2017-10-10 15:14] markgoho commented on #1230
Hey @SilverMountainSoftware I believe what we're experiencing is just a side-effect from how expansive the docs are and how much the library changed from 4.0 to 5.0. If you think you know how to fix the docs, the AF team is always happy to accept pull requests 👍

A number of us have been catching little things like this and fixing them, but again, there are a lot of docs and a lot of changes. We c

[2017-10-10 15:15] onewiseburdman commented on #1233
Sorry and thanks.  Just learning - it takes a while....

On Tue, Oct 10, 2017 at 11:10 AM, Mark Goho <notifications@github.com>
wrote:

[2017-10-10 15:17] #1233 closed

[2017-10-10 15:17] markgoho commented on #1241
Hi @zuandre have you upgraded to version 5 of AF2 yet?

[2017-10-10 17:42] mparpaillon opened #1243 "Offline first behavior (Serve cached datas first)"
### Version info

**Angular:** 4.4.3
**Firebase:** 4.5.0
**AngularFire:** 5.0.0-rc.2
**Ionic:** 3.7.1

### How to reproduce these conditions

**Steps to set up and reproduce**

Make any query to Firestore

[code]

### Expected behavior

The Observable should emit first the local datas then a second time when the Firestore query is back. An offline first behavior basically.

### Actual behavior

Th

[2017-10-10 17:57] Denisijcu commented on #971
Same problem is happening to me when I am tryng to use firestore

[2017-10-10 17:58] Denisijcu commented on #971
in nativescript

[2017-10-10 18:01] Denisijcu commented on #971
$ npm install firebase angularfire2      in angular 4.  this should work fine.   see this https://alligator.io/angular/cloud-firestore-angularfire/

[2017-10-10 18:58] ayoubboum commented on #1180
Hi, when i remove an item, all the data deleted in the same time, although i used the same code of @davideast, any idea ?

[2017-10-10 19:05] davideast commented on #1180
@ayoubboum Can you open a new issue that follows the template and gives a stackblitz?

[2017-10-10 19:10] davideast commented on #1180
Opening since the documentation still needs work.

[2017-10-10 19:19] ayoubboum commented on #1180
I am new in github, i didn't get what you mean, sorry

[2017-10-10 19:24] davideast commented on #1180
@ayoubboum

On the main issue page (https://github.com/angular/angularfire2/issues/) create a new issue.

That issue will be populated with a template. That template asks you to tell the versions of Angular, Firebase, and AngularFire. Then when asking how to reproduce you can create a link to [Stackblitz](stackblitz.com). Which is a super easy to use VSCode online editor. Create a little app that

[2017-10-10 19:28] davideast commented on #1180
Fixed

[2017-10-10 19:28] #1180 closed

[2017-10-10 19:42] ayoubboum commented on #1180
Did you fixe my problem?

[2017-10-10 20:36] Plackowski commented on #1206
I have similar problem too

Uncaught Error: Can't resolve all parameters for AngularFirestore: ([object Object], ?).
    at syntaxError (compiler.es5.js:1540)
    at CompileMetadataResolver._getDependenciesMetadata (compiler.es5.js:14877)
    at CompileMetadataResolver._getTypeMetadata (compiler.es5.js:14745)
    at CompileMetadataResolver._getInjectableMetadata (compiler.es5.js:14731)
    at Comp

[2017-10-10 20:47] Anthony2539 opened #1244 "How implement infinite scroll with AFS"
I want to migrate my code to AFS
Before I had to implement the infinity scroll like this:

[code]
and I have an action on each spot where I need the key of the spot

[code]
When i merged to AFS, i have this:
[code]
But with **.valueChanges()**, we lost the key.

Must use **.snapshotChanges()**, if yes how can we do that?

Thx :)

[2017-10-10 20:59] markgoho opened #1245 "Firestore document .update() not working as intended"
### Version info

**Angular:** 4.3

**Firebase:** 4.5.0

**AngularFire:** 5.0 rc1

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

### How to reproduce these conditions

https://stackblitz.com/edit/angular-abcgfq?file=app%2Fapp.component.ts

I think stackblitz is having trouble with the AngularFire2 import, if you get the red squiggly under `angularfire2/firestore` go to dependen

[2017-10-10 22:18] kkbear1985 opened #1246 "snapshotChanges with orderByChild does not return data in correct order"
### Version info

**Angular:**4.1.3

**Firebase:**4.5.0

**AngularFire:**5.0.0-rc.2

**Other (e.g. Ionic/Cordova, Node, browser, operating system):** ionic-angular@3.6.1

### How to reproduce these conditions

since i needed metadata with my app
so i followed the guide for angular version 5 update as in [https://github.com/angular/angularfire2/blob/master/docs/version-5-upgrade.md](https://github.

[2017-10-10 22:32] callen5914 commented on #1229
No I didn’t see anything in the console. I also set the project Firestore to allow open read and write for dev purposes. Thanks for viewing and your response. Cheers

[2017-10-10 22:35] callen5914 commented on #1229
For what it’s worth I also think there is an issue with using the form tag as it makes the component make a query string in the address bar of the browser. I will have to remove that when I have access to my computer. This could be the reason the browser refreshes after clicking the save button.

[2017-10-10 22:36] jamesdaniels commented on #1246
I have a WIP branch that I'm cleaning up + separating into several PRs (this being one of them) now.

[2017-10-10 22:43] callen5914 commented on #1205
@stubborncoder does your add method work? Without the the time stamp? I followed the docs and didn’t use the second line where you use “return xxxx”. Maybe that’s why my add method is broken.

[2017-10-10 22:51] kkbear1985 commented on #1246
after some digging, i think i have some hints into this issue

my app actually did subscribe with the key in action[3] and action[7] somewhere else
[code]
as long as i am still subscribing, those order would be messed
but once i unsubscribe it, the returned order are perfect

[2017-10-10 22:55] jamesdaniels commented on #1246
Hmmm, interesting. I'll keep an eye out for that.

[2017-10-11 00:22] callen5914 commented on #1205
@stubborncoder I think I found something that you could try for timestamps. It works for me wonderfully!

[code]

[2017-10-11 06:37] fearless23 opened #1248 "Database Collection Returns Null"
### Version info

**Angular: * 4.2.4*

**Firebase: *4.5.0*

**AngularFire: *5.0.0-rc.2*

**Other (e.g. Ionic/Cordova, Node, browser, operating system): * Win10 64bit node 6.11.1*

### How to reproduce these conditions

**Steps to set up and reproduce**

A simple FireStore Component

    import { Component } from '@angular/core';
    import { AngularFirestore } from 'angularfire2/firestore';
    im

[2017-10-11 06:40] rubs commented on #1205
@callen5914 yes my method works without the timestamp line, your suggestion works fine but bear in mind that you are saving the client's date value, and I would like that field to be more reliable to avoid messing with ordering that collection for example.

With new Date() you will set the date to whatever date you user has in her computer...

[2017-10-11 07:37] Toxicable opened #1249 "firestore: DocumentChangeAction is not exported"
`DocumentChangeAction` dosen't appear to be exported as a public API, along with all the interfaces under `interfaces.ts`, not sure about the other interfaces but `DocumentChangeAction` is exposed by `.snapshotChanges()`, therefore it should also be exported.

## Use Case
Transforming the data into data with it's `id` in a function to avoid code duplication
[code]
Speaking of which, it would be ni

[2017-10-11 07:59] fearless23 commented on #1248
If i go to firebase console > Firestore and update some field of data, as soon i press update button, the data shows up. (Both in json format and ngFor list item) But when reload locally with ng serve nothing shows up.

[2017-10-11 08:14] NurGuz23 opened #1250 "FIREBASE Loses the subscription after loggin"
Hi guys,

I have this in my app.components:

[code]
and this on my tabs.ts

The problem is when I log in for the first time. The subscription that I make in tabs.ts to bring me data does not work correctly, since when I make modifications in my database the subscription does not interpret that there were changes and does not jump. The first time after logging in if it brings me data, but if it the

[2017-10-11 08:59] Abdelazziz opened #1251 "angularfire2@5.0.0-rc.2 and firebase@4.5.0 runtime error"
Hi every one i have the last version of ionic 3 and when i try to lunch my ionic with ionic serve i get this error :
Runtime Error
No firebase.app.App instance is currently initialized.
Ionic Framework: 3.7.1
Ionic App Scripts: 3.0.0
Angular Core: 4.4.3
Angular Compiler CLI: 4.4.3
Node: 7.10.0
OS Platform: Linux 4.10
Navigator Platform: Linux x86_64
User Agent: Mozilla/5.0 (X11; Linux x86_64) Appl

[2017-10-11 09:05] Anthony2539 commented on #1244
I have just found a solution but i don't know if it's a good practice:

`this.spotProvider`
        `.getSpotList(this.batch+1, this.lastDate).snapshotChanges()`
        `.do(spots => {`
         ` if(spots.length > 0){`
            `/// set the lastKey in preparation for next query`
            `//this.lastDate = _.last(spots)['dateUpdate']`
            `this.lastDate = _.last(spots)['payload']['

[2017-10-11 11:14] Anthony2539 opened #1252 "[AFS] Problem when i get nested object"
This is my base:

[code]

A collection (spots) witch have attributes date, message, userUid and a collection (likes).
When i retrieve the collection like this:
[code]

In my collection spots, i don't have  **likes** collection

[2017-10-11 12:39] davideast commented on #1248
@fearless23 Are your security rules set to authenticated only?

[2017-10-11 12:42] davideast commented on #1252
Hi @Anthony2539! Please use Stackoverflow for these kind of questions. We also have a required issue template to know what exactly you are using.

In your case you will not get back likes since it is a nested collection and those are not automatically retrieved. You will need to manually retrieve them.

[2017-10-11 12:42] #1252 closed

[2017-10-11 13:58] larssn opened #1254 "Missing type"
### Version info
5.0.0-rc.2

Please don't make me fill out the rest.

At
https://github.com/angular/angularfire2/blob/master/src/firestore/collection/collection.ts#L118
the function should probably return T?

The generated type definition is currently type `{}`:
`doc(path: string): AngularFirestoreDocument<{}>;`

[2017-10-11 14:03] larssn commented on #1244
They have a conversion guide: https://github.com/angular/angularfire2/blob/master/docs/version-5-upgrade.md

The rest of your questions, should probably go on stackoverflow, as the team prefers their issue tracker free of questions.

[2017-10-11 15:54] fearless23 commented on #1248
no firestore is in test mode

[2017-10-11 16:02] hermbit opened #1255 "Proposal: Compact functions for collection and valueChanges"
I propose a set of compact functions that would make it much easier to fit Firebase calls on a single line.
These would be convenience functions that would likely be additional to the ones already in place.

First of all, considering that `document` is shortened to `afs.doc`, it would intuitively make sense that `collection` should be shortened to `afs.col`.

Also, adding a `$` after the request t

[2017-10-11 16:17] davideast commented on #1248
@fearless23 Can you create a stackblitz to recreate this problem?

[2017-10-11 16:57] markgoho commented on #1250
Hi @NurGuz23 this sounds like a question that would best be asked on StackOverflow or in the [AF2 gitter chat](https://gitter.im/angular/angularfire2). If you think you've found a bug, this is definitely the place for it, but for general how-to or problem solving questions, check those other resources out!

[2017-10-11 18:20] LennyZ71 commented on #1245
Not only the partial typescript issue but it appears .update() is not creating a document if it doesn't already exist. .set() works.

[code]

[2017-10-11 20:08] DennisSmolek commented on #1220
Heads up, getting this as well...
[core firebase.js says a snapshot should return null if empty](https://firebase.google.com/docs/reference/js/firebase.database.Query#on) but with the latest angularFire I dont get anything until a value exists.

`return this.af.list('/revisions/' + contentId + '/' + draftId).valueChanges();` and `snapshotChanges()` are both never firing their subscriptions..

but:

[2017-10-11 23:44] fearless23 commented on #1248
@davideast  https://angular-xsovop.stackblitz.io/    here is the stackblitz. It seems like working here but not on local environment.

[2017-10-12 01:13] juntaforce commented on #1235
`this.groupsRef = this.afDatabase.list('/Groups');
    this.groups = this.groupsRef.snapshotChanges().map(changes => {
      return changes.map(c => ({ key: c.payload.key, ...c.payload.val() }));
    });
    `
Visual studio code gives an error that  **Object is possibly 'null'** for  **key: c.payload.key** and **...c.payload.val()**

[2017-10-12 07:53] hiepxanh commented on #1235
hello, anyone know show me, how can I update or delete without my "little $key" ?? he is gone in new update and I don't know to do anything when my database doesn't have this

[2017-10-12 08:03] hiepxanh commented on #1235
look like, if you just need data, you have to use "valueChanges", but if you need update or delete item in list, you have to subscribe on "snapshotChanges" object, am I right ?!

[2017-10-12 10:52] rtm commented on #1173
I'm curious why this was treated as a breaking change. Instead, a new method and/or type could have been introduced. This approach prevents me from migrating my code incrementally.

[2017-10-12 12:53] davideast commented on #1173
The old API is still in `angularfire2/database-deprecated`.

We opted to not add in new methods or types to decrease the size of the library. We were able to drop 55% of the library while adding more features than before. If we kept everything around the library would have been much larger.

[2017-10-12 13:00] josh-m-sharpe opened #1256 "This repo isn't tagged correctly."
Tags are severely limited making it difficult to find the appropriate version of the docs per the version that's being used.

Is it possible to start tagging the repo with versions that match actual releases?

[2017-10-12 13:15] #1256 closed

[2017-10-12 15:19] rashid-softordi opened #1257 "Uncaught ReferenceError: FirebaseApp is not defined or Uncaught ReferenceError: firebase is not defined"
### Version info

**Angular:**
[code]

**Firebase:**
`firebase@^4.1.3"`

**AngularFire:**
`angularfire2@^4.0.0-rc.1`

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

### How to reproduce these conditions

I am declaring the namespaces like:

[code]

### Debug output

** Errors in the JavaScript console **

** Output from `firebase.database().enableLogging(true);` **

** Screensho

[2017-10-12 15:23] #1244 closed

[2017-10-12 17:42] deepu105045 commented on #425
I am getting same error as @bloodypastor

[2017-10-12 17:44] davideast commented on #1257
@rashid-softordi What is the code that errors?

[2017-10-12 18:34] rodrigoreal opened #1258 "Collection with no documents subscribe event not being triggered"
When i have an collection that has no documents and i try to subscribe it, the subscribe event is never being triggered.

[code]

I want to show on my application an message something like that: "No items found". Does anyone have any tips on how to handle that?

### Version info

**Angular:** 4.1.3

**Firebase:** 4.5.0

**AngularFire:** 5.0.0-rc.1

**Ionic:** 3.6.0

[2017-10-12 19:39] davideast commented on #1258
@rodrigoreal This bug was fixed in the last release. Can you upgrade and let us know if it works?

[2017-10-12 21:18] bashisha commented on #1089
Thank you  fahadhussain2 , it works like a champ.

[2017-10-12 21:45] rodrigoreal commented on #1258
Thanks, it is working now.

[2017-10-12 21:45] #1258 closed

[2017-10-12 21:53] #1245 closed

[2017-10-12 21:53] #1215 closed

[2017-10-12 22:19] mnlfischer commented on #1199
`angularfire2: ^5.0.0-rc.0-next`
`firebase": ^4.5.1`
still not working.

[2017-10-12 23:29] juntaforce commented on #1235
@hiepxanh You are right.

[2017-10-13 02:39] hiepxanh commented on #1251
please, follow the instructions sir, you need provide more information for us to resolve your problem, if you not, we cannot detect the true reason of your problem.

"IMPORTANT! YOU MUST FOLLOW THESE INSTRUCTIONS OR YOUR ISSUE WILL BE CLOSED."

[2017-10-13 03:48] YoonJaePark opened #1259 "Angular unit test error: Failed: Invalid provider for the NgModule 'DynamicTestModule' - only instances of Provider and Type are allowed, got: [AngularFireDatabase, ?[object Object]?, ...]"
### Version info

**Angular:**
<pre><code>
   "@angular/animations": "^4.2.4",
    "@angular/common": "^4.2.4",
    "@angular/compiler": "^4.2.4",
    "@angular/core": "^4.2.4",
    "@angular/forms": "^4.2.4",
    "@angular/http": "^4.2.4",
    "@angular/platform-browser": "^4.2.4",
    "@angular/platform-browser-dynamic": "^4.2.4",
    "@angular/router": "^4.2.4",
    "angularfire2": "^5.0.0-rc.2

[2017-10-13 06:55] swftvsn commented on #1184
Should snapshotChanges also work? When I hit conditions that produce zero results, the list is not cleared, but displays the old results. This is due to the `.snapshotChanges()` never being called.

I can fix it by having `.snapshotChanges().startWith([]).map(snapshots => {`, but then there's a double call everytime there's data.

I have code like this:

[code]

[2017-10-13 06:57] swftvsn commented on #1184
@jamesdaniels dropping you a message cause this issue is already closed. See previous comment.

[2017-10-13 08:48] iskonation23 opened #1261 "firebase.Promise"
if I run my project ionic serve -l

see this error :

Typescript Error
Namespace 'firebase' has no exported member 'Promise'.

...oject/apps/ionic-splasher/node_modules/angularfire2/app/firebase.app.module.d.ts

12      delete: () => firebase.Promise<any>

the line 12 is error
plsss help how can fix this problem ? anyone can help me tnx :)

[2017-10-13 09:59] dauledk commented on #1261
duplicate of: https://github.com/angular/angularfire2/issues/1199

[2017-10-13 10:42] San10694 commented on #1124
@Abrahamh08  same issue in my ionic3 app with 5.0.0-rc.2.  did you get any solution ??

[2017-10-13 10:52] Abdelazziz commented on #1251
Hi
First thank you for reply, i resolved the problem by this :
firebase.initialiseApp(firebaseConfig)

[2017-10-13 11:04] goekaypamuk opened #1262 "Proposal: Using BehaviorSubject<T> instead of Observable"
I would like to propose to have an Option to return  BehaviorSubject<T> instead of Observable.
The idea is if multiple Components need to fetch the same data, then it would be obvious to wrap the query into a Service. But when using observables, only the first component would fetch the data from the example shown below. When we would route to the second component the observable would not return an

[2017-10-13 11:55] andy-parinas commented on #1180
Found a Fix on this problem:

` this.db.object('listings').snapshotChanges().map(action =>{
      const data = action.payload.toJSON();
      return data;
    }).subscribe(result =>{
      Object.keys(result).map(key=>{
        this.listings.push({
          'key': key,
          'data':result[key]
        });
      });
      console.log(this.listings)
    });`

The snapshotChanges() returns an Ob

[2017-10-13 11:56] ayoubboum commented on #1180
Thank you, i fixed it.

On Oct 13, 2017 12:55, "andy-parinas" <notifications@github.com> wrote:

[2017-10-13 11:59] KrGyan opened #1263 "Issue with Angular 4 + AOT + Firebasestore"
### Version info

**Angular:4.0.0

**Firebase: 4.3.1

**AngularFire: 4.0.0-rc.2

node_modules/angularfire2/firestore/firestore.d.ts (9,64): Namespace 'firebase' has no exported member 'firestore'.
/node_modules/angularfire2/firestore/collection/collection.d.ts (8,105): Namespace 'firebase' has no exported member 'firestore'.
node_modules/angularfire2/firestore/interfaces.d.ts (17,21): Namespace 'f

[2017-10-13 12:07] goekaypamuk commented on #1263
I think you Need to upgrade your Firebase

[2017-10-13 12:47] Maistho commented on #1217
@iskonation23 what versions of firebase and angularfire2 are you using?

[2017-10-13 13:22] willshowell commented on #1262
[code]

[2017-10-13 13:28] Abrahamh08 commented on #1124
@San10694 Yep, just build through XCode

[2017-10-13 14:36] rashid-softordi commented on #1257
@davideast

Its a firebase chat app and using these 2 statements:

`detail.lastMessaged = firebase.database.ServerValue.TIMESTAMP;
`

and

`detail.lastMessaged = FirebaseApp.Timestamp.TIMESTAMP;
`

[2017-10-13 14:52] iskonation23 commented on #1261
How ?

[2017-10-13 15:31] dauledk commented on #1261
`signIn(email: string, password: string): Promise<void> {
return this.auAuth.auth.signInWithEmailAndPassword(email, password);
}`

[2017-10-13 15:53] goekaypamuk commented on #1262
Your solution to this problem is really awesome. I have tested it and it works!
Thx a lot.

[2017-10-13 16:24] davideast commented on #1263
@KrGyan Upgrade to AngularFire 5.0 and you'll have access to Firestore.

[2017-10-13 16:24] #1263 closed

[2017-10-13 17:05] iskonation23 commented on #1261
where place to export your codes ?  I'm sorry because I'm a beginner :)

On Fri, Oct 13, 2017 at 11:31 PM, dauledk <notifications@github.com> wrote:

[2017-10-13 17:33] kkbear1985 commented on #1257
import firebase from 'firebase';

[2017-10-13 19:12] jamesdaniels commented on #1262
Thanks for the good answer @willshowell
Going to close, we decided against any sort of caching in the module itself, instead allowing the developer to implement what they need. We wouldn't want to blow things up on large collections, etc.

[2017-10-13 19:12] #1262 closed

[2017-10-13 19:13] #1261 closed

[2017-10-13 23:37] #1220 closed

[2017-10-13 23:37] #1246 closed

[2017-10-14 00:09] hichamshadow commented on #1183
Hi,
i have the same problem here, and i don't want to make changes on my code, because in this case i should make a lot of changes
how can i downgrade firebase and angularfire to resolve this issue ?

[2017-10-14 02:30] jamesdaniels commented on #1240
This is already supported. Just initialize more than one Firebase app in your ngModule and then switch/swap them via `providers`.

Here's a quick stackblitz demonstrating https://stackblitz.com/edit/angular-aw3pyc?file=app%2Fapp.component.ts

I'll add to the docs, in the meantime the DI docs for Angular are a good start. https://angular.io/guide/dependency-injection-in-action

[2017-10-14 02:30] #1240 closed

[2017-10-14 02:31] #1251 closed

[2017-10-14 03:06] callen5914 opened #1265 "Firestore Delete Issue (Not Deleting Doc Within Collection)"
**Angular:**
angular/core": "^4.0.0"

**Firebase:**
"firebase": "^4.5.0",

**AngularFire:**
angularfire2": "^5.0.0-rc.2"

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**
MacOS, Chrome

### Expected behavior

When I click the "x" icon the document found within the collection should delete.

### Actual behavior

Absolutely Nothing. I can console log the announcement that needs to de

[2017-10-14 06:04] CharlesSuttie commented on #1183
Hi,

I had a look at the commit that @Maistho mentions above. But when I look at that file in my local node_modules, the changes are not there. So, I checked the version of angularfire2 in my local node_modules: it's 5.0.0-rc.0-next.

In my project, my package.json specifies `"angularfire2": "^5.0.0-rc.3"`

When I run `yarn add angularfire2 5.0.0-rc3` I get `error Couldn't find package "5.0.0-rc.3

[2017-10-14 06:51] swftvsn commented on #1240
@jamesdaniels Thank you for the support! So I've missed a bit how Angular injection works.

Could you still show how to inject multiple instances of the same service to same component? The
stackblitz only shows how to inject one service. (It does let one choose which one to inject though.)

What do I do when I need all three in the same service?

[2017-10-14 09:38] kkbear1985 commented on #1246
confirm fixed, thank you very much

[2017-10-14 09:50] hiepxanh commented on #1251
good to know you can do it, have a nice day

[2017-10-14 10:35] Benny739 opened #1266 "How do I get the QueryFn Type"
Hi,

with RC2 I used the QueryFn type like so:
`  private getProductList(query: (ref: firebase.database.Reference) => firebase.database.Query) {
    return this.af.list<ProductBase>('/products/products', query)
      .valueChanges<ProductBase>()
      .debounceTime(5);

  }`

But with RC3 now, I get the error "Cannot find namespace 'firebase'".

Does anybody know, how I can use the queryFn type?

[2017-10-14 11:11] Benny739 opened #1267 "Auth LoginWithRedirect - how to specify page to redirect to after login?"
Hi,

is it possible to specify the redirect page after login with redirect?

Thanks

Regards
Benny

[2017-10-14 11:38] Benny739 commented on #1266
I just had to add import * as firebase from 'firebase/app';

[2017-10-14 11:38] #1266 closed

[2017-10-14 13:43] hiepxanh commented on #581
the same issue :(

[2017-10-14 14:50] davideast commented on #1267
Hi @Benny739! Please use stackoverflow for these kind of questions. This library is dedicated to troubleshooting issues.

[2017-10-14 14:50] #1267 closed

[2017-10-14 15:29] Maistho commented on #1183
@CharlesSuttie
`yarn add angularfire2 5.0.0-rc3` should be `yarn add angularfire2@5.0.0-rc3` instead.

If you have `rc.0-next` you will get the error. rc.2 and above should be fine.

[2017-10-14 15:53] markgoho commented on #1265
Hey @callen5914 is this still broken in rc3?

[2017-10-14 16:43] callen5914 commented on #1265
Yes indeed. I’m glad you mentioned that. I did the update thinking maybe I was behind in release. So at least I am thinking like others. Is there a good plugin for chrome that I can debug click events?

[2017-10-14 16:59] erikagtierrez commented on #1196
Hi @almothafar I get what you mean.

Back in 4.0:
[code]

Now in 5.0:
[code]

You can find more [querying lists documentation](https://github.com/angular/angularfire2/blob/master/docs/rtdb/querying-lists.md) :smiley:

[2017-10-14 17:04] katowulf commented on #581
@hiepxanh "library was not found" is by no means the "same issue" as "auth/network-request-failed". Please submit a new issues.

Folks, this is a closed issue. Locking this issue to encourage value-add contributions over more "me too" and "does not work replies. Please open a new issue if you think you have done sufficient due diligence to show a bug with this lib, including specific errors/stacks

[2017-10-14 17:09] almothafar commented on #1196
Thanks, @erikagtierrez yeah this is what I was meaning, this is missing from migration guide.

[2017-10-14 17:22] rashid-softordi commented on #1257
@kkbear1985
Already did it but still getting same error.

[2017-10-14 17:30] mpeguero commented on #954
Note: If you use async to access the data on the user observable after logout you will get Firebase permission error.  AngulareFire will not destroy the subscription after logout. Right davidest.

[2017-10-14 18:01] jtomek commented on #1204
Indeed this is a crucial feature.

[code]

https://cloud.google.com/firestore/docs/manage-data/add-data

[2017-10-14 18:35] patrickmichalina commented on #1073
I have Firebase Auth "working" in my starter project here:

code: https://github.com/patrickmichalina/fusebox-angular-universal-starter
demo: https://angular.patrickmichalina.com/login

[2017-10-14 20:26] callen5914 commented on #1265
I think I might be onto something here.

When I console log the announcement it gives the whole object. I can clearly see the ID of document I wish to delete. However when I console log out this:

[code]
I get something completely different. The ID is way different!

[2017-10-14 20:34] callen5914 commented on #1265
When I try this:

[code]

I get this in the console:

[code]

Does this mean anything to you guys? Is it possible the ID of the Doc is never being passed?

[2017-10-14 20:59] callen5914 commented on #1265
Ooh even better!
When I use:
[code]
I get back:
[code]
Which if this is actually supposed to be the ID, it should have been:
[code]
So if I "Hard Code" in the ID like:
[code]
The Announcement will indeed be deleted! So maybe there is an issue with how the metadata is being stored somehow. Like it's not matching what Firebase has.

[2017-10-14 21:39] ggravand commented on #1199
I am using angularfire2-offline which does not yet support AngularFire 5.0, so upgrading is not an option at the moment for me. The root problem seems to be Firebase 4.5.1 introducing a breaking change as indicated above without updating the major version number and this version being installed by the `"firebase": "^4.0.0"` entry in angularfire2's package.json files. Changing `"^4.0.0"` to `"4.4.0

[2017-10-15 00:13] katowulf commented on #1265
Can anyone verify whether this is actually an AngularFire2 issue by trying this with the vanilla SDK? Wondering where this should be getting reported and whom should get pinged to investigate.

[2017-10-15 03:30] hiepxanh opened #1270 "Bug and solution: angularfire2 auth not working with angular universal"
Thanks for @katowulf  advice.

Think you found a bug?
=======================
Yes, I found a bug in angular auth when running on nodejs with angular universal [universal starter repo](https://github.com/angular/universal-starter)
### Version info
- @angular/ 4.2.4
- firebase: 4.5.0
- angularfire2: 5.0.rc-2

**Steps to set up and reproduce**

1) clone [universal starter repo](https://github.com/ang

[2017-10-15 12:50] thesabareesh commented on #967
Hi @dbartholomae ,
Reloading the user is a great workaround until the email is not verified.

[2017-10-15 13:34] ahmadalibaloch commented on #1206
For me it was occurring, in development `ng server`,  when I had listed `AngularFirestore` in providers of one of my AngularModules.

`  providers: [MatSnackBar, AngularFirestore],`

When I removed it from the providers, the error disappeared.

[2017-10-15 15:09] ankemp commented on #1206
AngularFirestore isn't a provider

[2017-10-15 15:43] ahmadalibaloch commented on #1206
`AngularFirestore` is not a provider i know, but in a rename process, i mistakenly did it and got the same error, so I posted here that may be it could be of help for identification and resolution.

[2017-10-15 15:47] ravivit9 opened #1271 "Firebase not found error."
### Version info

**Angular:**
4.4.5

**Firebase:**
4.5.1

**AngularFire:**
5.0.0-rc.3

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**
npm, mac, cordova,
I am also using https://github.com/mgechev/angular-seed as a base seed for my project.

### How to reproduce these conditions
Upgrade firebase and angularfire2 to latest version and npm start.

**Failing test unit, Plunkr, or JS

[2017-10-15 17:22] callen5914 commented on #1265
Okay, so I have figured it out. I feel so foolish for not catching this. In my app I have a parent component with two children one child is the form used to create a doc and the other child is the list of all docs within a collection. The form component was using valueChanges() with a field generated id. The listing component was built using the snapshotChanges(). So the id's were never lining up.

[2017-10-15 17:24] callen5914 commented on #1229
Its working now please close issue. Thanks for you help guys.

[2017-10-15 18:07] avilao opened #1272 "Firestore: How to check if document exists, and create one if it doesn't"
**AngularFireStore:*

Is there a way to check if a document already exists in the database?

Couldn't find an example.

Thank you

[2017-10-15 21:38] bob-lee commented on #1223
@jamesdaniels  I have some update here. Upgraded to `5.0.0-rc.3` and moved `this.countNotes = actions.length;` to inside of `snapshotChanges().map()`, then animation started to be triggered but still has issue:

 - on add / remove, all items get animated where I expected only added / removed item gets animated, looks like mutable vs. immutable issue

Maybe I should be doing things differently in t

[2017-10-15 22:29] bob-lee commented on #1223
Found an workground by using `trackBy`:

[code]
[code]
Not sure there is a room to improve this inside the library, experts? demo1 above updated and working as expected now.

[2017-10-16 06:38] zuandre commented on #1241
my package json got ----->"angularfire2": "^5.0.0-rc.3",
the orderby key is not taking any parameters but in documentation it takes a boolean parameter

[2017-10-16 12:16] yasirunilan opened #1273 "/node_modules/angularfire2/index"' has no exported member 'FirebaseListObservable'."

[2017-10-16 12:16] #1273 closed

[2017-10-16 12:17] markgoho commented on #1241
Can you provide some code or a Stackblitz of what's going on?

[2017-10-16 12:23] Ross-Rawlins commented on #603
Did anything come of this?

[2017-10-16 13:05] larssn commented on #1272
Don't think you can do it with AFS, and might have to rely on the underlying framework:

[code]

[2017-10-16 14:16] prashanteb commented on #1124
Thank you @EduardoLZ
That's work for me.

build successfully

[2017-10-16 15:27] katowulf commented on #1199
@ggravand you're responding to a closed issue with a new bug. You won't get any progress like this. FYI - The change described here was introduced in 4.5.0, not 4.5.1. So on a major version bump.

[2017-10-16 16:16] Meistercoach83 opened #1274 "Cannot find module 'angularfire2/firestore'."
### Version info
**Angular:** 4.4.5
**Firebase:** 4.5.2
**AngularFire:** 5.0.0-rc.3

After an npm install and ng serve I get an error "Cannot find module 'angularfire2/firestore' when I try to import {
  AngularFirestore,
  AngularFirestoreCollection
} from 'angularfire2/firestore';

[2017-10-16 16:28] davideast commented on #1274
@Meistercoach83 Check your version of angularfire2 in the node_modules folder. Sometimes the `package.json` isn't accurate.

[2017-10-16 16:59] katowulf commented on #1229
Thanks for following up! Hi Clayton! Nice to bump into you in the queues ;)

[2017-10-16 16:59] #1229 closed

[2017-10-16 19:09] jamesdaniels commented on #1272
[code]

As of 5.0 rc3 empty sets/docs should be handled correctly.

I am working on an API to make return or create easier.

[2017-10-16 19:09] #1272 closed

[2017-10-16 19:12] jamesdaniels commented on #1265
Glad to see you sorted it out.

I'll put create, update, and delete in the examples; that way it's demonstrated.

[2017-10-16 19:12] #1265 closed

[2017-10-16 19:44] davideast commented on #1274
@Meistercoach83 Can you upgrade to the latest version and see if the error persists?

[2017-10-16 20:08] #1250 closed

[2017-10-16 22:10] elvnthaus commented on #1175
Having the same issue

[2017-10-16 22:24] jamesdaniels commented on #1175
Hmmm, sounds like an issue with the Firebase JS SDK then. Thanks for investigating further. Want to [open up an issue there](https://github.com/firebase/firebase-js-sdk) and report back the number? We'll close this out, since it's not exclusively an angularfire issue once it's been accepted. Sound good?

[2017-10-17 03:11] nguyenluucuong commented on #1240
Hi @jamesdaniels, I'm not clear with your [stackblitz](https://stackblitz.com/edit/angular-aw3pyc?file=app%2Fapp.component.ts).

In `AppComponent`, I see:
`providers: [
    { provide: FirebaseAppName, useValue: 'asdf' },
    FirebaseAppProvider
  ]`

But, in Console, the `FirebaseApp` seems not to use the value 'asdf' in `providers`.

![image](https://user-images.githubusercontent.com/3369539/3164

[2017-10-17 03:15] patrickmichalina commented on #1270
Firebase doesn't official support universal yet :(

I have worked Auth and the RTDB into my starter with some dependency injection monkey patching if you want to try it out before official universal support is here:

https://github.com/patrickmichalina/fusebox-angular-universal-starter

[2017-10-17 03:53] hiepxanh commented on #1270
thank you for that

[2017-10-17 05:08] ButhSitha commented on #1272
@jamesdaniels  I import the operator take already but i got error
i can't use doc with take operator.

[2017-10-17 07:33] larssn commented on #1274
@davideast David, when you do an `npm update` it downgrades to `angularfire2@5.0.0-rc.0-next`, like V4 downgraded to rc0.

I recommend the "next" tag gets stripped of the npmjs package; it's a bit of a hassle currently.

[2017-10-17 08:52] Meistercoach83 commented on #1274
That´s true. When I change it to rc.3 it works!

[2017-10-17 10:48] lastamazing7 commented on #1183
when update
the version of angularfire2 in my local node_modules: it's 5.0.0-rc.0-next.
then getting this error :

[2017-10-17 11:24] SilverMountainSoftware opened #1275 "push(value: T) => ThenableReference?"
I'm using 5.0.0-rc.3

AngularFireList.push(value: T) is not returning a Promise but ThenableReference. Is that right? Push cannot return an error?

[2017-10-17 12:12] davideast commented on #1274
@larssn I'll start doing that. It's frustrating for everyone.

[2017-10-17 12:12] #1274 closed

[2017-10-17 13:15] habib786 commented on #1206
So is there any solution for it?
When I just import AngularFirestore in my component, the `error` was `No provider for AngularFirestore` and when I import it my app.module file and call it in provider array, I am getting this error `Can't resolve all parameters for AngularFirestore: ([object Object], ?).`
Does anyone have solution for this?

[2017-10-17 13:37] davideast commented on #1206
@habib786 This isn't something to worry about. It won't become an error until Angular 6 which is a long ways out. It also doesn't break your build. It has to do with the way the Angular CLI interprets namespaces, we're working on it.

[2017-10-17 13:40] callen5914 commented on #1229
Did we go to school together?

[2017-10-17 13:41] zuekegreen commented on #464
Im getting error at this line

    provider: AuthProviders.Facebook,
    method: AuthMethods.Popup,

 and

    provider: AuthProviders.Google,
    method: AuthMethods.Popup,

Saying object literal may only specify known properties, and 'provider' does not exist in type 'AuthProviders'

[2017-10-17 14:07] ahmadalibaloch commented on #1206
@habib786 `AngularFirestoreModule` is the module which needs to be added in imports of your app.module file.

[2017-10-17 14:52] larssn commented on #1275
The thenable ref is a wrapped promised. It contains stuff like the uid of the pushed key, since these are calculated ahead of time, even before the database is involved.

The thenable promise can still fail, so you should still catch errors.

[2017-10-17 15:14] #1214 closed

[2017-10-17 17:07] jamesdaniels commented on #1275
[firebase.Thenable](https://firebase.google.com/docs/reference/js/firebase.Thenable)

[2017-10-17 17:07] #1275 closed

[2017-10-17 19:00] davideast commented on #1254
@larssn Want to send in a PR?

[2017-10-17 19:03] davideast commented on #1255
@hermbit These are good ideas, but there are reasons behind our API.

- We should not rename `collection` to `col` because that would go against the Firestore JS SDK.
- The `$` observable methods are clever but this is a simple to implement utility function on your own. I'm against vanity methods that increase the size of the library. But please feel free to argue with me!

I really appreciate you

[2017-10-17 19:03] #1255 closed

[2017-10-17 19:03] davideast commented on #1248
@fearless23 I'm not sure how to proceed if your example is working in one place but not the other. That would suggest to me that something is wrong locally.

[2017-10-17 19:06] davideast commented on #1249
@Toxicable Want to send in a PR to export the type?

I hear you on the boilerplate method. However, we can't assume the `id` key name. A user could easily store `id` as something else entirely. The official SDK is looking into supporting auto applying `__id__` to the `doc.data()` call and then stripping it on the update. That is the idea solution because it will be like `$key` except we don't have

[2017-10-17 19:07] davideast commented on #1259
@YoonJaePark Can you take a look at how we setup our unit tests? We do something similar and don't have any problems. This is likely a config issue but I can't tell where the problem lies.

https://github.com/angular/angularfire2/blob/master/src/core/angularfire2.spec.ts

[2017-10-17 19:08] davideast commented on #1054
@kelle62819 You need to also upgrade to Firebase `4.5.0`. Let me know if that works.

[2017-10-17 22:29] SilverMountainSoftware commented on #1275
Okay, I was just wondering because it is different than update or remove so the CRUD methods are not consistent and the documentation is wrong. I'll find and update the documentation.

[2017-10-17 23:39] tinomen commented on #1155
@Toxicable those links are 404

As I just ran an npm update and encountered this same issue it's still not clear in this thread what the new API should be. I'm still on 4 rc0 and don't see the database prop removed from the AngularFireDatabase class on github.

Is v5 compatible with the old firebase db? It's my understanding it is not.

[2017-10-17 23:57] tinomen commented on #1183
I don't want to upgrade to v5. How does one stay on 4.0.0-rc.0 (or 1,2)? Is there an actual working v4 anymore?

[2017-10-18 00:49] EduardoIbarra opened #1278 "How can I get the uid generated by Firebase?"
### Version info

**Angular:** 4.4.5

**Firebase:**

**AngularFire:** angularfire2

This is not an issue, I just want to know how do I get to these kind of uid generated by Firebase? I'm trying to get a document, but since I don't have its id, I cannot reach it, also, I cannot query it, and if i use a collection to be able to query it, it just won't let me update or delete the record.

** Screensh

[2017-10-18 01:14] bob-lee commented on #1278
https://stackblitz.com/edit/angular-iqq9xo
Above demo would show you how to.. Better ask this type of question in [StackOverflow](https://stackoverflow.com/)

[2017-10-18 01:26] EduardoIbarra commented on #1278
Thanks! But my elements' .$key gives me undefined. Am I doing this right? This is the code on my service to retrieve all records:
[code]
And this is my code on my component:
[code]
This is how I access them on my html:
`<tr *ngFor="let game of games">`

[2017-10-18 02:41] blackbear003 commented on #1278
`const id = this.afs.createId();
    this.xDocument = this.afs.doc<x>(uid + '/' + id);
    x.key = id;
    return this.xDocument.set(x)`

[2017-10-18 04:38] ggravand commented on #1199
@katowulf I just explained what I did to work around the issue for the sake of assisting other people in the same situation that might stumble upon this. And general venting a bit about a breaking change on something that is not a major version bump (4.x to 4.5 is a minor version bump).

[2017-10-18 04:44] EduardoIbarra commented on #1278
Thank you both! My code ended up like this:
[code]

[2017-10-18 04:46] #1278 closed

[2017-10-18 13:45] ThomasKientz opened #1280 "Building with NGC : Can't resolve all parameters for AngularFirestore"
Console from `ionic build --prod` :

[code]

### Version info

**Angular:**
4.4.3
**Firebase:**
4.5.2
**AngularFire:**
5.0.0-rc.3
**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

[code]

### How to reproduce these conditions

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**

**Steps to set up and reproduce**

**Sample data and security rules**

<-- include/atta

[2017-10-18 16:03] davideast commented on #1222
@gerhardcit AngularFire2 is not mature, yet. It is in RC. Having solid documentation is required before we go final. We will be doing major documentation work in the near future. However, we are still trying to add features to the library like SSR support and async loading. Designing and implementing AngularFirestore was also a large task. It was a hard decision to deprecate version 4 of the RTDB,

[2017-10-18 16:04] davideast commented on #1222
I am also closing this issue as we have fixed this in the documentation.

[2017-10-18 16:04] #1222 closed

[2017-10-18 16:05] #1219 closed

[2017-10-18 16:05] davideast commented on #1054
Closing but feel free to open a new issue if the problem exists.

[2017-10-18 16:05] #1054 closed

[2017-10-18 16:06] #1248 closed

[2017-10-18 16:08] davideast commented on #1155
@tinomen v5 rebuilt the RTDB API to match the Firestore API. Both are compatible.

[2017-10-18 16:08] #1155 closed

[2017-10-18 16:11] ajonp opened #1281 "AngularFireModule.initializeApp not using configuration"
### Version info

**Angular:**
4.4.3

**Firebase:**
4.5.0

**AngularFire:**
5.0.0-rc.2

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**
nahollmo37714n:drinkpublic.com gap4$ ionic info

cli packages: (/Users/gap4/Documents/WEB/drinkpublic.com/node_modules)

    @ionic/cli-utils  : 1.13.0
    ionic (Ionic CLI) : 3.13.0

global packages:

    cordova (Cordova CLI) : 7.0.1

local pack

[2017-10-18 16:14] davideast commented on #1281
@ajonp Thanks for taking the time to post an issue.

Can you show the code for the error? Also if you could create a stackblitz or repo of this that would be great.

[2017-10-18 18:02] ajonp commented on #1281
Okay setup a repo (put it together fast hope it works).
https://github.com/ajonp/angularfire2-env-issue

After clone.

Make sure you have firebase CLI installed npm install -g firebase-tools

-npm install npm run build ionic:build:dev:prod

firebase serve Go to localhost:5000 -> should log you into environment-sample-dev.firebaseapp.com

Example Site
https://environment-sample-dev.firebaseapp.com/

[2017-10-18 18:03] ajonp commented on #1281
Also if you run locally you can see that it is requesting the wrong environment
![image](https://user-images.githubusercontent.com/3102249/31734562-15a8da12-b40d-11e7-9ebd-8f0a6102b1cf.png)

[2017-10-18 18:25] fernandoGN commented on #1089
Thanks @fahadhussain2, your tip solved my problem.

[2017-10-18 20:32] tinomen commented on #1155
FYI it appears that the git tag 4.0.0-rc0 on github has the property #database still in place but the npm package installed for 4.0.0-rc.0 does not have it. Bummer.

[2017-10-18 20:47] tinomen commented on #1155
Reverting firebase back to ^3.6.6 with 4.0.0-rc.0 works.

[2017-10-19 02:42] octaviomarchi commented on #1261
I don't know where to export the codes too =/

[2017-10-19 07:22] drosa88 opened #1283 "$key is not working to receive key reference"
Hi guys,

thanks for your good work! Question: It´s possible that the Firebase $key reference is not working with angularfire2? To grab informations from a selected item I need the item key (-KwnRT1lMjg78VZWwi0m for example) in an array with the item data.

So I have to build my own object:

[code]

Not a pretty solution in case of a realtime database... :/ Maybe exists a more elegant solution?

[2017-10-19 12:40] larssn commented on #1155
Cant you use one of the later release candidates for v4?

There issue that keeps reverting to rc0 (due to bad npm package naming), keep that in mind.

[2017-10-19 12:41] larssn commented on #1254
Yes

[2017-10-19 13:21] IshaqBhojaniGenetech opened #1285 "Firebase Angular 4 Initialize based on node environment"
I've built my Angular 4 project using the Angular CLI. I am deploying my app on Heroku, I've created heroku pipelines for dev and production environment. I have two firebase database dev and production and I want my angular 2 apps to connect to the firebase database based on heroku config variables

I searched on google and found this [answer](https://stackoverflow.com/questions/41348751/heroku-pi

[2017-10-19 14:56] DennisSmolek commented on #1283
They have stopped putting the `$key` on the object directly, my guess is because they had to unwrap the objects before pushing downstream. [You can read details here](https://github.com/angular/angularfire2/blob/master/docs/version-5-upgrade.md#moving-away-from-key-and-value)

and here's the example of how to get the `key` value
[code]

I like this compact version of above from an [example on the

[2017-10-19 19:43] #1281 closed

[2017-10-19 19:44] ajonp commented on #1281
This was related to AOT compiler. When the module loads it is based on an original config and then changes after webpack runs.

[2017-10-19 21:37] ruucm commented on #1119
@funkizer I really have exactly same problem when I using angular universal with firebase

It alwasy goes to as I start import AngularFireDatabase from 'angularfire2/database'

Could you share some codes of your solution?

[2017-10-19 22:22] #1283 closed

[2017-10-20 02:12] nanomo commented on #1183
im having the same problem...

[2017-10-20 03:02] aaronfrost opened #1287 "`$ref` no longer available, can't do `onDisconnect` calls anymore."
### Version info

**Angular:** 4.4.6

**Firebase:** 4.6.0

**AngularFire:** 5.0.0-rc.3

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

### How to reproduce these conditions

Prior to upgrading to v5, the following code worked.

[code]

Now it no longer works as I can't access the `$ref` property from the result of the call to `this.db.object()`. Any ideas on how I might regain `

[2017-10-20 04:40] aaronfrost opened #1288 "Since upgrading to v5, getting warning "export 'AngularFireObject' was not found in 'angularfire2/database'""
### Version info

**Angular:** 4.4.6

**Firebase:** 4.6.0

**AngularFire:** 5.0.0-rc.3

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

** Errors in the JavaScript console **

** Output from `firebase.database().enableLogging(true);` **

** Screenshots **
![image](https://user-images.githubusercontent.com/662832/31805446-0cf043d0-b51e-11e7-9c72-dee5e3357596.png)

### Expected beh

[2017-10-20 04:42] hiepxanh commented on #1287
you should search for transaction issue before open this, there is an answer here and I tried, it work:

[code]

[rtdb Lists document sample still used $ref](https://github.com/angular/angularfire2/issues/1222)

[2017-10-20 04:46] hiepxanh commented on #1288
[AngularFire 5.0 is a refactor of the AngularFireDatabase module. It removes theFirebaseObjectObservable](https://github.com/angular/angularfire2/blob/master/docs/version-5-upgrade.md)

you should change from `FirebaseObjectObservable ` to `AngularFireObject`.

onDisconnect error answer here [replied](https://github.com/angular/angularfire2/issues/1287)

[2017-10-20 05:08] jaufgang commented on #1287
The above solution may work but it is unsatisfactory.   It should not be necessary to open a subscription in order to access the `ref` or the `onDisconnect()` method.  It would be preferable if both of these could be added to the ``AngularFireObject` and `AngularFireList` classes.

[2017-10-20 05:29] bob-lee opened #1289 "getting too many stateChanges"
### Version info

**Angular: 4.3.6**

**Firebase: 4.5.0**

**AngularFire: 5.0.0-rc.3**

### How to reproduce these conditions

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**
https://stackblitz.com/edit/angular-ho8ynn

**Steps to set up and reproduce**
In above demo, I am showing a list of items by `snapshotChanges`. Also I have subscribed to `stateChanges` to track changes (a

[2017-10-20 05:55] aaronfrost commented on #1288
I read the upgrade docs, and followed them. I did it twice, before submitting this issue. I have swapped out all the things it says to, and am getting this random warning in my console. I did remove all references to `FirebaseObjectObservable`. In the screenshot of the log, you can see that the error is referencing `AngularFireObject`, not `FirebaseObjectObservable`.

[2017-10-20 05:57] aaronfrost commented on #1287
I agree with @jaufgang. The ref should be exposed differently, and that the proposed "solution" is more of a workaround, than a solution. Having to snapshotChanges and then subscribe, so that I can simply get a pointer to the ref is a lot of hoops that were't necessary before. Since the API is being rev'd, this should be considered.

[2017-10-20 07:58] pmullot opened #1290 "Signing in using a disabled account, using signInWithPopup, returns an 'Internal Error'"
### Version info

**Angular:** 4.4.3

**Firebase:**

**AngularFire:** 4.0.0-rc.2

**Other (e.g. Ionic/Cordova, Node, browser, operating system):** no

### How to reproduce these conditions
When you try to sign in using a Disabled account (via the Firebase Console), using signInWithPopup, it returns an 'Internal Error'.

**Steps to set up and reproduce**
With a typical login function, as described

[2017-10-20 08:44] sionfletcher opened #1291 "Internal Assertion error on query, where document snapshot contains FieldValue"
**Angular:**
4.4.6
**Firebase:**
4.6.0
**AngularFire:**
5.0.0-rc.3

Windows NT 10.0 / Chrome 61

Problem occurs when querying a collection with endAt / startAt with a document snapshot that contains a `FieldValue.serverTimestamp()`. Code below, can't seem to get angularfire / firebase working in plunker. If anyone could point out how to install modules there I'd appreciate it.

### How to reproduc

[2017-10-20 10:45] bob-lee commented on #1291
`import * as firebase from 'firebase/app';`
should be
`import * as firebase from 'firebase';`

[2017-10-20 11:24] bob-lee commented on #1288
I am using `AngularFireObject`, have a look at `objRef` in `remove()` at
https://stackblitz.com/edit/angular-iqq9xo?file=app%2Fnote.service.ts

[2017-10-20 11:37] davideast commented on #1288
Hey @aaronfrost! Can you check your `node_modules/angularfire2/package.json` and see what the version number is? Sometimes npm lies about version it installs.

[2017-10-20 11:39] davideast commented on #1291
Hey @bob-lee! Importing from `'firebase'` will bring in everything Firebase offers. The `firebase/app` import is correct.

@sionfletcher Can you try stackblitz instead of plnkr? It's much, much easier.

[2017-10-20 11:40] davideast commented on #1290
@pmullot Can you file this issue in the [sdk repo](https://github.com/firebase/firebase-js-sdk/)? This is an issue with the core sdk and not AngularFire.

[2017-10-20 11:40] #1290 closed

[2017-10-20 11:57] davideast commented on #1289
Hey @bob-lee! The `"modified"` after the `"added"` is correct behavior because you're using a timestamp. Timestamps are server time, when you add the from the client they are simply a placeholder. You'll first get an `"added"` then afterwards you'll get a `"modified"` when the server time has been applied.

You're receiving two of each because you're creating two observables of the same type and l

[2017-10-20 12:09] pmullot commented on #1290
Done. It's here : [Issue 245](https://github.com/firebase/firebase-js-sdk/issues/245)

[2017-10-20 12:19] davideast commented on #1287
Hey @aaronfrost! The query/ref is available on the `AngularFireObject` service, it's just [called query now](https://github.com/angular/angularfire2/blob/master/src/database/object/create-reference.ts#L6).

[code]

Thanks for flagging this, we'll update our migration guide to indicate this.

[2017-10-20 12:26] notsonotso opened #1292 "Firestore: Storing Date as timestamp"
The firestore UI allows me to create timestamp fields.

Saving objects with Date turns the date into string fields. Is it possible to save as timestamp fields? I assume these get optimized indices, and correct ordering.

[2017-10-20 13:30] codediodeio commented on #1292
You won't get a consistent server side timestamp with a JS date. Instead, send the server timestamp from the SDK.

[code]

[2017-10-20 15:14] sionfletcher commented on #1291
@davideast Sooo much easier, thanks for the tip - here's a [stackblitz](https://stackblitz.com/edit/angular-gz5trj). I've made a temp firebase app for now, I'll delete once this is closed. The example is a little contrived but it's the simplest I could do to throw the error.

[2017-10-20 15:23] magleahy commented on #1240
Also struggling to find how to implement 2 Firebase instances in the same project.
@nguyenluucuong as far as I can see - the second one is initialised when I try to initialise two in the app.module - imports e.g.

[code]

[2017-10-20 15:24] hiepxanh commented on #1287
wow that good 👍

[2017-10-20 15:37] katowulf commented on #1287
@aaronfrost what up man!

@davideast I don't see `.query` mentioned anywhere in the docs either.

[2017-10-20 15:57] troyb408 commented on #1089
Somebody get this man a beer asap!

[2017-10-20 16:05] notsonotso commented on #1292
@codediodeio I'm not talking about server side timestamps, but datetimes in general.

[2017-10-20 16:07] aaronfrost commented on #1288
![image](https://user-images.githubusercontent.com/662832/31830729-58e2b510-b57e-11e7-9689-fd0979f14cb2.png)
I checked this last night before I submitted the feedback.

[2017-10-20 16:35] codediodeio commented on #1292
JS Date objects do get saved as timestamps in Firestore. Are you sure you're not converting it to a string on your end?

[code]

[2017-10-20 16:44] trenthm opened #1293 "CORS with angularfire2 v5.0.0-rc.3"
### Version info

**Angular: 4.4.3**

**Firebase: 4.6.0**

**AngularFire: 5.0.0-rc.3**

**Ionic: 3.13.2**

**Chrome: 61.0.3163.100**

### How to reproduce these conditions

Serve an angularfire2 app from a local server, and run it in Chrome.

(Also note that "localhost" is setup as an Authorized domain on the Firebase authentication screen.)

The code used is:

    items: Observable<any[]>;
    co

[2017-10-20 16:56] davideast commented on #1293
@trenthm What cade is causing this? This looks like a REST API call which is outside this library.

[2017-10-20 17:03] trenthm commented on #1293
Since I was trying to get to the bottom of this, I just basically used the example code from this repos README.

    items: Observable<any[]>;
    constructor(db: AngularFirestore) {
    this.items = db.collection("my-collection").valueChanges();

    this.items.subscribe(data => {
      console.log("data:", data);
    });

If i run Chrome from the terminal with:
`open -a Google\ Chrome --args --d

[2017-10-20 17:08] davideast commented on #1293
@trenthm This is a much hairy issue than I can help with, but you can file an issue with the [official SDK](https://github.com/firebase/firebase-js-sdk/) since it seems to be a problem there.

I'm closing this issue, but please open the issue there.

[2017-10-20 17:08] #1293 closed

[2017-10-20 17:13] ajmed opened #1295 "Karma/Jasmine unit tests timeout after following setup/installation guide"
## Version info
(package.json attached as package.txt)
[package.txt](https://github.com/angular/angularfire2/files/1402691/package.txt)

**Angular:**
"@angular/cli": "1.4.9"
"@angular/compiler-cli": "^4.2.4"
"jasmine-core": "~2.6.2",
"jasmine-spec-reporter": "~4.1.0",
"karma": "~1.7.0",
"karma-chrome-launcher": "~2.1.1",
"karma-cli": "~1.0.1",
"karma-coverage-istanbul-reporter": "^1.2.1",
"karma-j

[2017-10-20 17:45] davideast commented on #1295
@ajmed I don't think it works well with websockets which is what the Firebase Database uses. Internally we use the `done` object for anything async.

Would this work for you?

[code]

[2017-10-20 19:20] bob-lee commented on #1291
@davideast That's wierd, with importing `firebase/app` only, I am getting

    at NoteService.add (VM76 note.service.ts:176)

in this [demo](https://stackblitz.com/edit/angular-fkn4zp?file=app%2Fnote.service.ts) when I click `Add to rtdb` button complaining about `AngulaFireObject`..

[2017-10-20 22:34] bob-lee commented on #1289
Thanks for kind explanations @davideast, it starts to make sense! Am I correct saying that `snapshotChanges` alone can't track item being edited by user because other items in a list will get the previous (unchanged) type which would be `modified`? So basically when I save edited item without stateChanges, all items are getting `modified` type.

[2017-10-21 00:58] Sagar-AppLogics commented on #990
Hi @Faisal0sal - Im not using ionic, I have tried of mobile device and desktop browsers successfully.

Hi @Abby3017 - the best explanation I could have given without talking too much about my assumptions - for they are just that but as your asking, I'll try my best.

From my understanding the firebase SDK includes _grecaptcha_. This is a global variable in a normal javascript environment.

Angular

[2017-10-21 03:55] gustavobrian opened #1296 "second async in older page not show data until data is update"
---------------------------  IN SERVICE userService ------------------
this.userBasicDoc = <AngularFirestoreDocument<IUserBase>>this.firestore.collection('userBasic').doc(`${this._key}`)
 this.userBasic$ =  this.userBasicDoc.valueChanges();
----------------------------------------------------------------------
first page
<h1>{{ (this.userService.userBasic$ | async)?.email}}</h1>
work ok

goto to s

[2017-10-21 06:22] ncherian commented on #1073
I tried to do SSR on Cloud functions with AngularFire2 included. There are no errors and data is fetched from RTDB as it can be seen printed in to the logs. But the html pages never render and soon timeout. @davideast Any updates on the possible fix you mentioned?

[2017-10-22 09:12] SuperRoo123 commented on #1183
Same problem.."angularfire2": "^5.0.0-rc.3" and "firebase": "^4.6.0"...that's using npm install firebase@latest so don't know how you're getting firebase V5.

Error is:
Namespace 'firebase' has no exported member 'Promise'.

[2017-10-22 09:33] sumardi commented on #1183
I'm having the same problem.

angular: 4.1.3
angularfire2: 5.0.0-rc.3
firebase: 4.6.0
Node: v6.10.0
npm: 4.2.0
OS: macOS Sierra
Xcode: Xcode 9.0.1 Build version 9A1004

[2017-10-22 10:08] Shemahmforash commented on #1206
@davideast It seems that in the situation @habib786 described the warning suggests it will become an error in version 5 of angular, not version 6:
[code]

[2017-10-22 15:36] davideast commented on #1296
Hi @gustavobrian! Please use Stackoverflow for these kind of questions.

[2017-10-22 15:36] #1296 closed

[2017-10-22 15:38] gustavobrian commented on #1296
sorry, and thanks!!!

[2017-10-22 16:01] avatsaev opened #1298 "Persistence mode doesn't work with Firefox"
### Version info

**Angular:** 4.5.5

**Firebase:** 4.5.1

**AngularFire:** 5 RC3

Firefox: 56.0

OS: Linux Mint 64bit

### How to reproduce these conditions

Enable persistence mode in the module

[code]
Start the app

### Debug output

![](https://i.imgur.com/ScJ7QBd.png)

### Actual behavior

The app crashes as soon as it starts in firefox, works fine in chrome

[2017-10-22 17:09] jaufgang opened #1299 "valueChanges() loses type information"
Using **Angularfire2@5.0.0-rc.3**.

Calling `.valueChanges()` on an `AngularFireObject<T>` should return an `Observable<T | null>`, but instead returns `Observable<{} | null>`.

Similarly, calling `.valueChanges()` on an `AngularFireList<T>` should return an `Observable<T[]>`, but instead returns  `Observable<{}[]>`.

 This results in error messages for code that should be correct.   For example,

[2017-10-22 21:30] SuperRoo123 commented on #1183
Found some answers...Firebase doesn't have a promise any more...it is just a generic promise so change firebase.promise<T> to Promise<T>.

Also Angularfire2 doesn't have a submit on the object any more...read the conversions from 4 to 5...you have to do some mapping to get it to behave in a similar fashion.... beware breaking updates!!!

[2017-10-23 06:04] chrismclarke commented on #1124
same issue with 5.0.0-rc.3 and app-scripts nightly.

[2017-10-23 07:12] MurWade commented on #1206
I am getting this error using version ^5.0.0-rc.3

[2017-10-23 12:00] lemas-projetpos commented on #1240
hi,
same problem,
can someone help me to find the solution ?
thanks you

[2017-10-23 14:05] TheShashank commented on #1299
Could this be related to why I'm getting this error on building?
`            Property 'valueChanges' does not exist on type 'FirebaseListObservable<any[]>'.

      L24:    constructor(public navCtrl: NavController, public navParams: NavParams, public viewCtrl: ViewController, afDB: AngularFireDatabase) {
      L25:      this.items = afDB.list('snippets'+this.title).valueChanges();

Error: Failed

[2017-10-23 15:07] jaufgang commented on #1299
@TheShashank, your error is due to versioning issues and unrelated to my issue.  In previous versions `afdb.list()` returns a `FirebaseListObservable`, but with version 5 the new API returns an `AngularFireList`.  `.valueChanges()` is a method of `AngularFireList`.  You seem to  be attempting to use the version 5 API but running version 4.  Check you package.json and update to the latest version a

[2017-10-23 15:45] TheShashank commented on #1299
the latest version of firebase or AngularFire?

[2017-10-23 16:34] amadeuspzs opened #1302 "Remove .DS_Store"
Immediate red flag seeing a committed `.DS_Store` file in the master branch, with duplicate entries in `.gitignore`.

Have removed both.

[2017-10-23 17:48] jaufgang commented on #1299
No, please post that as a separate issue.

[2017-10-23 22:58] nooot77 opened #1304 "singout when refreshing page :("
v4
using login with email and password
  authState: any = null;
  user:Observable<firebase.User>;
  private loggedIn: boolean;
constructor(private afAuth: AngularFireAuth, private db: AngularFireDatabase,
private router:Router) {

              this.afAuth.authState.subscribe((auth) => {
                this.authState = auth
                this.loggedIn = (auth != null);
  });
  }

[2017-10-24 06:11] swftvsn opened #1305 "Document properly how to use multiple Firebase projects in one app"
There's a lenghty discussion about this in #1240, and one stackblitz example how to do it, thanks for that!

The comments keep piling, so it seems this is still a source of frustration to people.

The documentation should include examples how to...

- Configure 2 or more projects (for an example projects a, b and c)
- inject realtime database or firestore pointing to project b to Angular **compone

[2017-10-24 06:14] swftvsn commented on #1240
@nguyenluucuong, @magleahy, @lemas-projetpos I've opened new issue #1305 to track the documentation of this, hopefully we'll then find out how to do it properly.

[2017-10-24 06:23] mveer08 opened #1306 "Error while installing Angularfire2"
D:\Mahaveer\Code\Ionic\CleaningApp>npm install firebase angular fire2 --save
npm ERR! code E404
npm ERR! 404 Not Found: fire2@latest

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\ASUSS\AppData\Roaming\npm-cache\_logs\2017-10-24T06_15_49_966Z-debug.log

Logfile:
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\node\\node.exe',
1 verbose cli   'C:

[2017-10-24 08:12] ravivit9 commented on #1306
There was a space between angular and fire2, it should be angularfire2.  The below command should work.

npm install firebase angularfire2 --save

[2017-10-24 17:22] krlozadan commented on #1183
I rolled back to firebase@3.9.0 and worked just fine. @davideast  the "angularfire2/database-deprecated" didn't work out for me I don't know if there's a specific version that has that module integrated.

[2017-10-24 18:57] callen5914 opened #1307 "AngularFire as a service (Not finding any documentation "On The Line...")"
I have been building an App using the latest releases and Angular and AngularFire. When using the documentation provided, I can do all the CRUD operations just as prescribed in the Docs. However, I am having a difficult time understanding how to convert it to a service.

For example: Let's say I have a collection of crew members. There may be several components that need to consume the collection

[2017-10-24 21:18] zaki-arain commented on #1299
I'm having this issue as well. Right now it doesn't disrupt anything in the application, but it triggers a tslint error in my console.

[2017-10-25 06:03] #1249 closed

[2017-10-25 06:54] mveer08 commented on #1306
It worked thanks @ravivit9

[2017-10-25 08:12] #1254 closed

[2017-10-25 08:21] ravivit9 commented on #1306
@mveer08, np, if works could you please close the ticket.

[2017-10-25 09:17] nuvoPoint commented on #1243
Looking into the code and I think the issue lies in the firebase-js-sdk so you better post the issue there https://github.com/firebase/firebase-js-sdk

[2017-10-25 10:37] mparpaillon commented on #1243
This issue seems to be related indeed https://github.com/firebase/firebase-js-sdk/issues/17

[2017-10-25 11:01] nuvoPoint commented on #1243
That issue is for the Realtime DB, but you need it for the Firestore DB. They are referring to the new Firestore DB as a solution for offline first, but they will end up with the same issue as you and me.

Either firebase needs to modify the js sdk so it will use data from cache (IndexDB) first and sync it in the background with the server or AngularFire needs to make the wrapper use the fromCache

[2017-10-25 11:22] mparpaillon commented on #1243
I see. I don't have time right now so feel free to create the issue.

[2017-10-25 12:20] zuandre opened #1308 "Angularfire2 version 5 issues"
Hey Guys,

So today I learned a very valuable lesson. When deleting an item from a list you have **LISTREF.remove(keyOfitem)** so what happened was my **keyOfitem** was _undefined_ so then angularfire2 decided to delete the whole list of data and it was very important data. this is my 2nd actuall issue with the new updated version of angularfire2. the first issue is still not resolved

[2017-10-25 13:04] larssn commented on #1243
I'll create the issue. 😄

[2017-10-25 13:52] #1306 closed

[2017-10-25 15:24] lemas-projetpos commented on #1305
merci :)

[2017-10-25 21:00] fanals commented on #1221
To let others knows where it is in the firebase console:

Select your project then click on Database and change the dropdown from "Realtime Database" to "Cloud Firestore"

[2017-10-25 21:02] Gabrielr47 commented on #1124
same with "angularfire2": "^5.0.0-rc.2",

[2017-10-25 21:07] davideast commented on #1124
@Gabrielr47 This is should be fixed with the latest, if not file the issue with Ionic. They're good people who can help :)

[2017-10-25 21:23] irashid25 opened #1309 "Collection not being updated correctly until a page refresh"
### Version info

**Angular: 4.3.6

**Firebase: 4.6.0

**AngularFire: 5.0.0-rc.3

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

### How to reproduce these conditions

This issue can be recreated here:
https://stackblitz.com/edit/angularfirebase-basic-crud-delete-error

**Steps to set up and reproduce**

- Use the first input field and the add button to add 3 users to the fireba

[2017-10-25 22:49] TheBolmanator opened #1310 "AngularFirestore not playing nice with NgRX store-devtools"
### Version info

},
  "private": true,
  "dependencies": {
    "@angular/animations": "^4.2.4",
    "@angular/cli": "^1.4.7",
    "@angular/common": "^4.2.4",
    "@angular/compiler": "^4.2.4",
    "@angular/core": "^4.2.4",
    "@angular/forms": "^4.2.4",
    "@angular/http": "^4.2.4",
    "@angular/platform-browser": "^4.2.4",
    "@angular/platform-browser-dynamic": "^4.2.4",
    "@angular/rou

[2017-10-25 22:52] TheBolmanator commented on #1310
"@ngrx/db": "^2.0.2",
    "@ngrx/effects": "^4.0.5",
    "@ngrx/router-store": "^4.0.4",
    "@ngrx/store": "^4.0.3",
    "@ngrx/store-devtools": "^4.0.0",

[2017-10-25 23:43] akiraandy commented on #1205
I'm also having this issue as @stubborncoder. I'm working in Ionic 3 and I've imported angularfire2 and the Firestore module but when I call

[code]
I get property "FieldValue" does not exist on type Firestore when I call:
[code]

[2017-10-26 00:22] jwuliger commented on #1206
Hello, I am also getting this error on NG 5.0.0-rc.6

[2017-10-26 04:36] mikepc opened #1311 "createUserWithEmailAndPassword -- Incorrectly resolving when it should be rejecting"
### Version info

**Angular:**
  "@angular/core": "4.4.3"

**Firebase:**
    "firebase": "^4.5.0",
**AngularFire:**
    "angularfire2": "^5.0.0-rc.2",
**Other (e.g. Ionic/Cordova, Node, browser, operating system):**
Ionic v3.15.1

### How to reproduce these conditions
  signup(email: string, password: string) {

    return   this.firebaseAuth
      .auth
      .createUserWithEmailAndPassword(email

[2017-10-26 06:44] stubborncoder commented on #1205
As @sionfletcher stated some days ago, you have to use the whole firebase thingy, the service approach here does not work for some reason:

import * as firebase from ‘firebase’;
ticket.createdAt = firebase.firestore.FieldValue.serverTimestamp()

[2017-10-26 08:03] San10694 commented on #1124
it is fixed now  in "angularfire2": "^5.0.0-rc.3",....
just run "npm install angularfire2 firebase promise-polyfill --save"
and then run - "ionic cordova build android --prod "

[2017-10-26 09:23] tja4472 commented on #1307
I found this useful
https://coryrylan.com/blog/angular-observable-data-services

[2017-10-26 11:02] dhawken commented on #1272
I'm doing it manually - hopefully there is a better way?

[code]

Might be incorrect usage of snapshotChanges(), but its able to determine if something is there.

[2017-10-26 11:22] albertososa101 commented on #1175
@elvnthaus @jamesdaniels @davideast I just opened up an issue there. The promise is never reached with redirect method. I put there a better version of the code: https://github.com/firebase/firebase-js-sdk/issues/266

Thanks!

[2017-10-26 12:35] brndex commented on #1206
any updates?

[2017-10-26 12:39] brndex commented on #1280
?

[2017-10-26 12:41] Anthony2539 opened #1312 "Problem when: get collection once, add document and refresh it"
I have a problem when i get a collection once and i add a document. After the refresh, i see only the last document added.

[code]

when i refresh, i call the function getSpotsTest() a new time

**Version info**

- Ionic Framework: ionic-angular 3.7.1
- Angular: 4.4.3
- Angularfire2: 5.0.0-rc.3
- Firebase: 4.5.0

[2017-10-26 13:09] bdogan commented on #1206
same error using version 5.0.0-rc.3

[2017-10-26 13:12] callen5914 commented on #1307
So I read this one. Thanks for taking the to share it. This is kind of confusing to me though. AngularFire is already mapping the data and ID to an Observable. I guess I was expecting this to be an Object that can be used.

[code]

and I get this error:

```Cannot find a differ supporting object '[object Object]' of type 'object'. NgFor only supports binding to Iterables such as Arrays.```

when c

[2017-10-26 15:10] davideast commented on #1311
Hi @mikepc! This is not an AngularFire issue and rather an issue with the actual SDK. Can you file an issue there? https://github.com/firebase/firebase-js-sdk/

[2017-10-26 15:10] #1311 closed

[2017-10-26 15:15] davideast commented on #1206
This is not an error until Angular 6. It is just a warning. We will resolve it before the release.

[2017-10-26 15:15] davideast commented on #1298
@avatsaev Can you file this issue in the official SDK repo? https://github.com/firebase/firebase-js-sdk/

[2017-10-26 15:15] #1298 closed

[2017-10-26 19:01] davideast commented on #1310
@TheBolmanator What is the actual problem?

[2017-10-26 19:03] davideast commented on #1308
Hi @zuandre! This can be prevented with security rules, you can ensure that no existing data is deleted with just a line or two. This behavior for delete is also described in the documentation. It is not an issue it is working as intended. I recommend securing your database and doing `undefined` checks in your code.

[2017-10-26 19:03] #1308 closed

[2017-10-26 19:04] davideast commented on #1304
Hi @nooot77! Can you please follow our issue template? I'm closing but feel free to open a new issue that follows the template.

[2017-10-26 19:04] #1304 closed

[2017-10-26 19:50] #1302 closed

[2017-10-27 09:31] mubasshir commented on #1183
@tinomen any solution?

[2017-10-27 10:32] tja4472 commented on #1307
look at https://github.com/angular/angularfire2/blob/master/docs/firestore/collections.md#example

Note the  shirtId interface
[code]
So your
[code]
should be
[code]

[2017-10-27 12:16] vladotesanovic commented on #1183
@mubasshir

[code]

Should work

[2017-10-27 13:25] callen5914 commented on #1307
@tja4472 I have two files here that I would like to share:

**RouteInterface**

[code]

**RouteService**

[code]

I tried the extends method you demonstrated above and I get an error stating the ```id is not a property of Route```

[2017-10-27 13:31] guilhermehto opened #1313 "Missleading doc information about querying"
### Version info

**Angular:** 4.4.3

**Firebase:** 4.6.0

**AngularFire:** 5.0.0-rc.3

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

**Ionic-angular:** 3.7.1

### How to reproduce these conditions

**Steps to set up and reproduce**

 - Setup a new firestore database with a collection and a subcollection
 - Try to query the subcollection using the docs example

The doc at https

[2017-10-27 20:26] snakenstein commented on #1281
@ajonp how did you fix that? I have the same problem with AOT compiler and webpack.

[2017-10-27 22:03] SuperRoo123 commented on #1183
Yeah, rollback from  V5 if you don't want the breaking changes or look at the blogs from Jorg at  javebratt.com to work out how to use the new features...he's been updating his blogs to cover V5

[2017-10-27 22:29] snakenstein opened #1314 "Allow us to pass a factory of FirebaseAppConfig to AngularFireModule.initializeApp()"
It would be great if we get an option to pass a factory function of `FirebaseAppConfig` to `AngularFireModule.initializeApp()`.
In some cases such as using a webpack to get enviroment variables and AOT compiler it is impossible now to initialize `AngularFireModule `with correct config parameters. This is because of webpack does not run yet at the moment of module compilation.
The ability to pass a

[2017-10-27 23:29] tinomen commented on #1183
@mubasshir I downgraded and it is working fine.

"angularfire2": "4.0.0-rc.0",
"firebase": "^3.6.6",

I'm too close to completion that I don't want to spend anytime upgrading to v5. Unfortunately, it is generally allowed to introduce breaking changes in rc versions but it's too bad there wasn't much explanation until folks started logging issues. It's the unfortunate side of open source when a maj

[2017-10-28 17:30] Anthony2539 commented on #1312
i implemented an example:
https://angularfirebase-basic-crud-delete-error-dhjtus.stackblitz.io

At the init i load once the collection with operator take(1).
When i add an item to the collection, i load again the collection.
Why i do not see the new item in the collection ?

[2017-10-28 19:05] Anthony2539 commented on #456
When to get once a collection like that

var team = this.af.database.object('/teams/' , { preserveSnapshot: true }).take(1);

How to refresh the collection after added an item ?

[2017-10-29 13:48] LloydVincent commented on #1124
I had this problem too, I think... At least something very similar to it.

The problem started happening in my Ionic 3 project after I updated firebase to 4.6.0 and angularfire2 to 5.0.0-rc.3 (so that I could use Firestore). Everything worked fine with dev builds but when I tried to push a production build it seems like webpack failed.

Here's my working package configuration, after much pain...

[2017-10-29 16:19] Anthony2539 commented on #1312
This is an issue or i do not understand something?

[2017-10-29 21:10] bautistaaa commented on #1299
just encountered this, any workarounds?

[2017-10-29 21:13] bautistaaa commented on #1299
had to set the return type to any to get it to stop complaining -_-

[2017-10-30 11:58] #1295 closed

[2017-10-30 13:25] TheBolmanator commented on #1310
@davideast  thanks for the note;  the error was mine.  After revisiting the problem, I discovered I had imported "AngularFirestore" instead of "AngularFirestoreModule" into my app module.

[2017-10-30 13:25] #1310 closed

[2017-10-30 13:54] davideast commented on #1183
@tinomen, you can upgrade to V5 and keep the old API. Just switch your database imports to `angularfire2/database-deprecated`.

I'm sorry that you felt frustration and a bit of surprise with the new version. I tried hard to solicit feedback and create awareness of the upcoming changes. There was a [long detailed proposal](https://github.com/angular/angularfire2/issues/1158) to the breaking changes

[2017-10-30 15:46] #1175 closed

[2017-10-30 17:21] theblindprophet opened #1315 "ERROR: 'Error: Cannot instantiate firebase-database.js - be sure to load firebase-app.js first"
**Angular: 4.4.4**

**Firebase: 4.6.0**

**AngularFire: 5.0.0-rc.3**

### Starter

https://github.com/mgechev/angular-seed

### Actual behavior

Code
[code]

Output
[code]

I have tried changing versions and the error still persists. Obviously it just means that `firebase` has not yet been defined from the `firebase-app.js` file. But I have no idea how to fix it. Been steady working on this for 8

[2017-10-30 17:51] #1315 closed

[2017-10-30 20:15] aliwaqassi commented on #1015
Thanks @sean-hill You saved my day

[2017-10-30 20:27] kongalim commented on #1172
execuse me master i am new in angular
 i want to make service crud with new firebase , but i cannot please built example and how to use in component

[2017-10-30 23:01] CarlosAmaral commented on #886
Why is the issue closed though? Any hopes to get this working without having to downgrade?
Thank you!

[2017-10-31 00:36] ajonp commented on #1281
@snakenstein the repo has a full working example now of how to fix. This is using ionic3 but same applies to any aot compliler setup.
https://github.com/ajonp/angularfire2-env-issue

[2017-10-31 18:04] itjustwerks commented on #1245
According to the Node.js documentation for "Set a document" at [https://firebase.google.com/docs/firestore/manage-data/add-data](https://firebase.google.com/docs/firestore/manage-data/add-data):

I couldn't find that feature documented anywhere, but tried appending "create: true" to the update request and it works swimmingly.

    // Updates "widget-1" doc if it exists, or creates it if it doesn't

[2017-10-31 20:20] zaki-arain commented on #1299
Despite creating a complete interface that reflected my database... I had to add ```[propName: string]: any;``` to my interface to get it to stop complaining.. pretty ugly stuff.

[2017-10-31 20:25] jaufgang commented on #1299
i think a more elegant workaround until this gets fixed would be to explicitly cast the output of `.valueChanges()` to your desired type

[code]

[2017-11-01 01:44] davvit commented on #1183
I get this error but its coming from node_module.
my package.json says       "angularfire2": "^5.0.0-rc.3",

i did `npm update/install` and deleted node_modules folder and re-installed..but i keep getting this file with Promise in it.

`/node_modules/angularfire2/firebase.app.module.d.ts (12,28): Namespace 'firebase' has no exported member 'Promise'.`

`angularfire2/database-deprecated`  does not

[2017-11-01 15:43] Abby3017 commented on #990
Thanks for your insight @Sagar-AppLogics  and I studied about them. It would be great help if you can provide any material to look how library like angularfire2 wrap around angular and exposes the variable.
Contributor of AngularFire2 any help in this regard would be appreciated.

[2017-11-01 20:26] Dragneel7 commented on #1089
Thank You, It was really helpful!

[2017-11-01 22:49] Azmos commented on #1245
@itjustwerks can you tell me why using `create: true` I get `[ts] Expected 1 arguments, but got 2.` from my linter? What could it be that I have different from you?

"angularfire2": "^5.0.0-rc.3"

[code]

[2017-11-01 23:36] NimaiMalle commented on #1183
I've got "angularfire2": "^5.0.0-rc.3" too, and can't get the right declaration for delete, so...
I'm just manually editing firebase.app.module.d.ts and manually changing:
    delete: () => firebase.Promise<any>;
to
    delete: () => Promise<any>;

Terrible, but I'm doing this just to get back to work until this issue is resolved.

[2017-11-02 00:17] Azmos commented on #1245
Ok I got it:
[code]

[2017-11-02 01:29] tinomen commented on #1183
@davideast I was speaking of the v4 changes. I got the error when npm installed rc.1. 4-rc0 with firebase 3.6.6 doesn't throw the error and I can just move on with dev. When my POC is done I'll evaluate an upgrade to v5

[2017-11-02 02:29] itjustwerks commented on #1245
@Azmos , my bad. The {create: true} 2nd parameter is only applicable to the firebase-admin Node.js library for some reason. I just tried it myself for the web today and got the same error as you. I ended up doing the set in the catch block if there was an error on the update, but your solution is better for sure. Thanks!

[2017-11-02 04:51] allanpoppe commented on #1124
Any news on this? I'm also having this issue.

[code]

[2017-11-02 05:00] dkandari opened #1316 "Hi all i have a problem with ionic 3. below this html code when i am using [(ngModel)] then checkbox not showing checked but i remove [(ngModel)] then checkbox is getting checked. But i need both are for twoway data binding pls help me thanks"
ts file data
public datas = [
{'name':'a','val':1},
{'name':'b','val':0}
]

html data

 <ion-item *ngFor="let data of datas">
	<ion-label>My Checkbox</ion-label>
	<ion-checkbox [(ngModel)]="data.name" [checked]="true"></ion-checkbox>
 </ion-item>

[2017-11-02 05:23] jamesgroat commented on #1124
@allanpoppe latest everything (including devDependencies) working for me. I was earlier having this issue but in last couple of weeks tried again and am not.

[2017-11-02 05:34] ralph-fuechtenkort commented on #1095
@Kamshak
didn't get you code running on a ionic3 app.module.ts.
My Versions are:
"@angular/common": "4.4.4",
 "@angular/compiler": "4.4.4",
    "@angular/compiler-cli": "4.4.4",
    "@angular/core": "4.4.4",
    "@angular/forms": "4.4.4",
    "@angular/http": "4.4.4",
    "@angular/platform-browser": "4.4.4",
    "@angular/platform-browser-dynamic": "4.4.4",
    "@ionic-native/core": "4.3.2",

[2017-11-02 07:16] ToonvanStrijp commented on #1089
Damnnn my hero!!! <3

[2017-11-02 08:59] sloznjak commented on #1124
@San10694 could you post your dependencies from package.json file and "ionic info" of your project here?

[2017-11-02 09:02] Supamiu opened #1317 "Some rxjs operators aren't available on valueChanges and snapshotChanges"
### Version info

**Angular: 5.0.0**

**Firebase: 3.6.6**

**AngularFire: 5.0.0-rc.3**

### How to reproduce these conditions

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**

https://angular-abvhh2.stackblitz.io/

**Steps to set up and reproduce**

- Create an observable from a simple object using valueChanges or snapshotChanges
- Use `map`, `debounceTime` or `mergeMap` opera

[2017-11-02 09:19] raju1979 commented on #1124
I just moved to **Firestore** + angularfire(5.0.0-rc.3). It works great and android build also works.

[2017-11-02 09:32] San10694 commented on #1124
@sloznjak    yes bro ,
"dependencies": {
        "@angular/common": "4.4.3",
        "@angular/compiler": "4.4.3",
        "@angular/compiler-cli": "4.4.3",
        "@angular/core": "4.4.3",
        "@angular/forms": "4.4.3",
        "@angular/http": "4.4.3",
        "@angular/platform-browser": "4.4.3",
        "@angular/platform-browser-dynamic": "4.4.3",
        "@angular/platform-server": "2.2

[2017-11-02 10:37] jamesdaniels commented on #1317
Hey there, this is because we import Observable from `rxjs/Observable` rather than `rxjs/Rx` to keep the bundle size low.

You can import the operators you need like so `import 'rxjs/add/operator/debounceTime';`

Here's the fixed stackblitz https://stackblitz.com/edit/angular-jwxavu?file=app/hello.component.ts

[2017-11-02 10:37] #1317 closed

[2017-11-02 10:43] jamesdaniels commented on #1313
Tags in this case is an map type, rather than a subcollection. `.awesome` being dynamic user-defined data, which is not indexed. I pulled this section straight from the Firestore documentation here https://firebase.google.com/docs/firestore/solutions/arrays

They seemed to have cleaned up the language since. I'll pull in their changes.

[2017-11-02 10:56] jamesdaniels commented on #1312
A) I can't reproduce, forked it and it seems to work fine for me https://stackblitz.com/edit/angularfirebase-basic-crud-delete-error-ihjpuu?file=app/app.component.ts

B) but why `.take(1)` + force refresh, one of the best things about Firebase / AngularFire is the live connection https://stackblitz.com/edit/angularfirebase-basic-crud-delete-error-dzxdxr?file=app%2Fapp.component.ts this is much fas

[2017-11-02 10:56] #1312 closed

[2017-11-02 11:11] jamesdaniels commented on #1309
Your stackblitz link is broken

[2017-11-02 11:28] irashid25 commented on #1309
Ah sorry about that, this is no longer an issue now.

Thanks.

[2017-11-02 11:28] #1309 closed

[2017-11-02 12:49] jamesdaniels commented on #1316
Definitely not an angularfire2 issue. But seems like you're binding to `data.name`, shouldn't you be binding to `data.val`.

[2017-11-02 12:49] #1316 closed

[2017-11-02 13:57] sloznjak commented on #1124
@San10694 Thanks a lot! That helped 😃

[2017-11-02 16:11] tnesbit450 commented on #1183
@NimaiMalle  - I know it's less than ideal, but this is an instance where learning to use some of the great GNU tools like find, sed, and grep in a terminal can make your life a little easier. https://unix.stackexchange.com/questions/112023/how-can-i-replace-a-string-in-a-files

[2017-11-02 19:30] jdrus opened #1318 "Can't get one object in the database of firebase"
Hi,

I have my realtime database with firebase, with my users saved in.
Like so:

users:{
   YT566FFC:{
       email: user1@email.com,
       name:user1
   },
  TR56H:{
       email: user2@email.com,
       name:user2
   }
}

Here My Environnement:::
"angularfire2": "^5.0.0-rc.3",
"firebase": "^4.6.0",
cli packages: (/usr/local/lib/node_modules)
   @ionic/cli-utils  : 1.16.0
    ionic (Ionic CLI)

[2017-11-02 21:49] timblakely opened #1319 "null cast away in valueChanges()"
**AngularFire:**

5.0.0-rc.3

If the document does not exist, [this line](https://github.com/angular/angularfire2/blob/master/src/firestore/document/document.ts#L94) returns `action.payload.data() : null`, which is in turn casted to `T`, dropping the `null` case. Seems like the return type for `valueChanges()` should be `Observable<T|null>`.

[2017-11-02 21:49] 22ryann opened #1320 "Firestore data retrieval fails in 'ng build' version only"
### Version info

**Angular:** 4.3.1

**Firebase:** 4.6.0

**AngularFire:** 5.0.0-rc.3

I'm having a really odd problem with my app, localhost seems to work fine for me. But anytime I use ng-build, or ng-build --prod and deploy to my firebase I have issues with retrieving data. Sometimes it will return data like when i load up on my iPad but more often than not it does not find the data.

![weird]

[2017-11-03 09:28] larssn commented on #1280
Same'ish error in Angular 5:

[code]

[2017-11-03 15:13] elliotwesoff commented on #1089
Damn, talk about a Hail Mary...

[2017-11-03 15:17] davideast commented on #1320
@22ryann What do your security rules look like?

[2017-11-03 15:17] davideast commented on #1319
@timblakely Yep, it sure should! Care to make the PR?

[2017-11-03 21:24] dhayhak opened #1322 "Can't resolve all parameters for AngularFirestore, angular v5"
### Version info

**Angular:** 5.0.0

**Firebase:** 4.6.1

**AngularFire:** 5.0.0-rc.3

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**
core-js: 2.5.1
zone.js: 0.8.18
### How to reproduce these conditions
just set a new app with angularfire2 and use AngularFirestore in  a constructor

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**
check stackblitz: [https://s

[2017-11-03 21:31] davideast commented on #1322
Follow #1206 for updates. This is an error with Stackblitz however. The output is a warning not an error so Stackblitz should continue and ignore it.

[2017-11-03 21:31] #1322 closed

[2017-11-03 21:58] dhayhak commented on #1322
I don't believe it is a Stackblitz error as I'm getting it locally on my machine. Could you please confirm? Thanks

[2017-11-04 01:19] 22ryann commented on #1320
@davideast,

Thanks for the reply.

I just did some more testing on this... wait btw this is my rules, open at the moment,

     `service cloud.firestore {
       match /databases/{database}/documents {
         match /{document=**} {
           allow read, write;
         }
       }
     }`

After some time testing, it seems that the .take(1) is working, and receiving the empty value which I am g

[2017-11-04 12:38] Cillian-Collins commented on #1230
I encountered this same issue when forking an Ionic project.
Fixed this by editing my package.json which was referencing an outdated version of angularfire2. Changed it from `"angularfire2": "2.0.0-beta.7"` to `"angularfire2": "2.0.0-beta.8"`.

Hope this works for you!

[2017-11-04 18:05] khouleBousso opened #1323 "condition Where Property Field Value not in specific Array"
Dear Guys,

I want to retrieve all documents where a specific field value(string)  not in arrays of string.

How can i do that.

Thanks

[2017-11-04 20:57] jamesdaniels commented on #1323
This is not supported natively with Firebase. You can do something client side, but you'll need to download the entire data set you intend to filter.

[2017-11-04 20:57] #1323 closed

[2017-11-05 05:10] rtm opened #1324 "Angular5 support"
I assume you have it on your plate to fix up `package.json` to support Angular 5?

[2017-11-05 09:11] almothafar commented on #1183
@NimaiMalle changing from `firebase.Promise` to `Promise` is not an issue, actually, I like this, it does not make sense to have many types of the same Promise object! it is confusing also is making unnecessary wrapping and more code just to switch from `Promise` to `firebase.Promise` and the way back, this was a headache, it is indeed a good change, especially they were the same and there was not

[2017-11-05 10:10] CharlesSuttie commented on #1183
Having `"angularfire2": "^5.0.0-rc.3"` in my package.json seemed to make yarn install 5.0.0-rc.0-next.

But after checking  [npm semver calculator](https://semver.npmjs.com/), I found that changing the entry in package.json to `"angularfire2": "5.0.0-rc.3"` (i.e without the carat) causes yarn to install 5.0.0-rc.3 instead of 5.0.0-rc.0-next. This fixed the problem for me.

[2017-11-05 19:44] tnesbit450 commented on #1183
@almothafar - yeah, Always easier said ham done of course. But, files are nothing but strings. With the exception of binaries, it’s pretty straight forward. And even that can be accounted for. It doesn’t hurt to give it a shot. One simple command in the CLI. And if you can’t make it work, you just roll back the changes in one more simple line of text in a CLI.

[2017-11-05 21:41] jamesdaniels commented on #1324
We do. There's some minor things we need to fix first, will get to it first thing this week.

[2017-11-06 10:21] davhad commented on #1183
What I'm seeing is: Namespace 'firebase' has no exported member 'firestore' in the following .d.ts files:

node_modules/angularfire2/firebase.app.module.d.ts
node_modules/angularfire2/firestore/collection/changes.d.ts
node_modules/angularfire2/firestore/firestore.d.ts
node_modules/angularfire2/firestore/interfaces.d.ts
node_modules/angularfire2/firestore/observable/fromRef.d.ts

I'm on "angularfir

[2017-11-06 11:08] fearless23 opened #1325 "AngularFire2 Auth Subscription angular5"
### Version info

**Angular:** 5.0.0 stable

**Firebase:* 4.5*

**AngularFire:* 5.0.0.rc-2*

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

### How to reproduce these conditions

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**
https://stackblitz.com/edit/ng-firebase-subscribe?file=app%2Fuser2.service.ts

i want logged in user`s uid to be available everywhere

[2017-11-06 11:29] aleixsuau opened #1326 "Bundle size: Firebase weights 402kb"
After running "ng build --prod --build-optimizer" firebase occupies 402kb in the vendor file and firebaseui 165kb. Could this be improved?

[2017-11-06 12:51] davideast commented on #1326
Don't import all of Firebase into your app. Firebase can be lazy loaded. It's highly unlikely an app with need Storage, Messaging, Auth, and two database all one page.

Import only what you need.

[code]

[2017-11-06 12:51] #1326 closed

[2017-11-06 12:59] davideast commented on #1325
Hey @fearless23!

Don't assign class properties inside of observable subscriptions. They are async in this case and you won't know when they are populated. Assign the class property to the observable and use the `async` pipe.

[code]

[code]

[2017-11-06 12:59] #1325 closed

[2017-11-06 14:03] fearless23 commented on #1325
i need uid value everywhere in my project, like for getting user projects from /users/${uid}/projects as all of my database in divided on user UID`s.
I don`t to write component logic inside this.x.subscribe( x => {
  fetchProject(x),
})

how can i access value of x inside component.ts or another service.

[2017-11-06 16:03] davideast commented on #1325
Use an authentication guard to resolve data into routes.

[code]

Then in your component you can grab the `snapshot`.

[code]

Make sure to declare the route:

[code]

[2017-11-06 18:20] fearless23 commented on #1325
actually, i was asking for firestore collection or document link like afs.collection(' users/${uid}/projects')

here i need uid to pass from a service say projects.service or a component, i have to do this:

    this.userService.uid.subscribe( (uid) => /* then grab the collection from firestore )

because if i do

    ngOnInit {
      this.proProjects = this.projectsService.getProjects( userUID,

[2017-11-06 18:33] davideast commented on #1325
Using the snapshot data from the Activated route you can get the `uid` and do whatever you want with it.

Here's a sample of code that I used:

[code]

[2017-11-06 18:48] fearless23 commented on #1325
ngOnInit() {
        const user = this.route.snapshot.data;
        console.log(user.uid);
     }

console output ::: undefined

[2017-11-06 20:37] kjvelarde commented on #1183
Is there a documentation for v5? Old namespace don't work anymore.

[2017-11-06 22:43] MvRemmerden commented on #1288
Had the same problem, solved itself by restarting Visual Studio Code.

[2017-11-07 02:07] zymethyang opened #1327 "ERROR Error: The query requires an index."
I am facing some problem when use angular 2 to query data from Firestore.

Could anyone please help me by checking it and tell me where I have done wrong ?

My error:

    ERROR Error: The query requires an index. You can create it here: https://console.firebase.google.com/project/admin-e8a7b/database/firestore/indexes?create_index=EgR0ZW1wGgcKA3VpZBACGg0KCXN0YXJ0ZWRBdBADGgwKCF9fbmFtZV9fEAM
    at

[2017-11-07 04:58] douglashm opened #1328 "Retrieving data only once"
Is there a wrapper around the `get` function, both for a collection and for a document?

[code]

Sometimes we don't need to listen to changes and just want to read once.

[2017-11-07 05:57] jamesdaniels commented on #1327
Go ahead and follow that link to create the necessary database index. You will need a composite of uid + the startedAt field.

[2017-11-07 05:57] #1327 closed

[2017-11-07 05:59] jamesdaniels commented on #1328
import 'rxjs/add/operator/take';

    ....

    docRef.take(1).subscribe(console.log);

[2017-11-07 05:59] #1328 closed

[2017-11-07 06:00] jamesdaniels commented on #1328
Lean on rxjs for this

[2017-11-07 06:12] jamesdaniels commented on #1318
This doesn't get your user object, but an Observable of it. See it in action by subscribing to it:

    getUser(1).subscribe(console.log);

You can subscribe, map, switchMap what be it, or use a BehaviorSubject to keep a "current value". If you want to use it in a view, use an async pipe:

    {{ (userObject | async)?.email }}

[2017-11-07 06:12] #1318 closed

[2017-11-07 15:21] phra opened #1329 "database module typescript definition: update signature is wrong"
Hi,

there is a bug in the new database typescript definitions.

https://github.com/angular/angularfire2/blob/master/src/database/list/create-reference.ts#L11
i think that line no. 6 should be:

[code]

otherwise the non destructive `.update()` wants as second arguments a complete T object instead of a Partial<T>.

[2017-11-07 17:48] allanpoppe commented on #1124
Solved the issue by updating @angular/* and ionic-angular dependencies.

[2017-11-07 18:07] paulogr commented on #1073
Have same problem here, html pages never render when using AngularFire. @davideast any update?

[2017-11-07 18:42] jamesdaniels commented on #1320
It's firestore + you mention after deploy to Firebase, which makes me think it's the cache. It could be that the local cache is firing first, before the live connection is established.

I'll have to do some experimenting here.

@davideast does that seem like a possibility to you?

[2017-11-07 19:25] javier-lerones-gallego commented on #1054
I've been very frustrated about this issue. It was happening to me too even when I updated to Angular 5.0.0, AngularFire2 5.0.0-rc.3, and firebase 4.6.1;

I have a login component that does a `this.router.navigate(['dashboard'])` on successful firebase google login, however both the sign in component and the dashboard components are rendered after the routing event triggers a few seconds after the

[2017-11-07 22:15] willis2342 opened #1331 "Documentation: AngularFirestoreDocument<T>.snapshotChanges() return value"
### Version info

**Angular:** ^5.0.0

**Firebase:** ^4.6.1

**AngularFire:** ^5.0.0-rc.3

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

### How to reproduce these conditions

The [document guide](https://github.com/angular/angularfire2/blob/master/docs/firestore/documents.md#snapshotchanges) states that `AngularFirestoreDocument<T>.snapshotChanges()` returns a `DocumentChangeA

[2017-11-07 22:46] tinomen commented on #1183
@davideast I was speaking of the v4 changes. I got the error when npm installed rc.1. 4-rc0 with firebase 3.6.6 doesn't throw the error and I can just move on with dev. When my POC is done I'll evaluate an upgrade to v5

[2017-11-07 23:13] moneal opened #1332 "Firestore document set method missing options parameter"
### Version info

**Angular:** *

**Firebase:** *

**AngularFire:** 5.0.0-rc3

### How to reproduce these conditions

Calling `set` on a document reference that does not exist causes a error. The set options parameter is missing from the set method in angularfire2. With options is possible to set values on a document that doesn't yet exist.

### Expected behavior

Allow the same parameters as Docu

[2017-11-08 09:30] phra commented on #1329
as a workaround you can double cast the payload as `{ payload: 'payload' } as any as T` in strict environments.

[2017-11-08 09:31] phra commented on #1324
hope to see this implemented soon! :smiley:

[2017-11-08 11:21] pakiza-asim commented on #556
import modules from angularfire2  in app.module.ts will did the trick.

import { AngularFirestoreModule } from 'angularfire2/firestore';
import { AngularFireModule } from 'angularfire2';

[2017-11-08 12:59] paulogr commented on #1073
I was able to resolve the usage of angularfire2 on server side creating and injecting a "stub" version of AngularFireDatabase that uses the firebase rest api. As @davideast said the problem of timeouts or never render templates is the websocket that never finish and angular do not knows when finish rendering.

I didn't even include the angularfire modules on server side.

Hope it helps.

[2017-11-08 15:53] kaushikred commented on #1124
@allanpoppe which command did you run to update all the dependencies

[2017-11-08 16:17] allanpoppe commented on #1124
@kaushikred actually I did it manually...

After that, I also had to update some other packages because npm threw some WARNs.

[2017-11-08 17:18] kaushikred commented on #1124
@allanpoppe  thanks but I just updated so many things it's just may I know which version of typescript and rxjs was in dependencie

[2017-11-08 21:07] jamesdaniels commented on #1073
@ncherian @paulogr  so the main problem is actually not the socket, but Zone.js, we have a bug in our handling. The microtasks are never allowing appRef isStable to go true, thus Universal never letting go of the rendering until Timeout and state restoration to never happen once the browser actually does get the rendered page.

If you wrap in a zone.runOutsideAngular() things work. I have on my li

[2017-11-08 21:10] jamesdaniels commented on #1073
There's also no node.js entry to `firebase/app` which is a bug + why Websockets aren't getting pulled in.

`(global as any).WebSocket = require("ws");` in your server.ts works until I get that patched upstream ;)

[2017-11-08 21:41] allanpoppe commented on #1124
I also updated rxjs, zone.js and typescript.

[2017-11-08 22:32] IngAjVillalon opened #1334 "Watch the status of email verification in real time of firebase user in auth"
### Version info

**Angular: 4.4.6**

**Firebase: 4.6.0**

**AngularFire: 5.0.0-rc.3**

### Watch the status of email verification in real time of firebase user in auth

**I've already looked everywhere on how to do to see the verification status of the user's email in real time and I can not find how to do it.
I already tried with firebase.auth (). OnAuthStateChanged and with the observable fireb

[2017-11-08 23:10] manucho007 commented on #1334
https://www.youtube.com/watch?v=2ZDeT5hLIBQ
I recommend you to watch this vid, It's one o the best ones I've seen on Youtube.

[2017-11-08 23:10] Crewnie commented on #1334
That's right brother, I could not either, I hope those of angular firebase help us.

[2017-11-09 00:48] hiepxanh commented on #1073
so what should we do ? firebase is very important to me and without SSR to SEO, my angular 2 application is just a toys :(

[2017-11-09 07:55] nikhil-mahirrao commented on #1158
list.valueChanges() is not giving keys and list.snapshotChanges() gives too much completex object.
Is there anything which gives array of objects with keys?

[2017-11-09 14:42] AjVillalon commented on #1334
That would be perfect, so that the user can not enter until verified his mail there, and once verified, in real time to detect the verification and redirect the user inside the platform.

[2017-11-09 14:53] desarrollotrimax commented on #1334
That would be perfect, so that the user can not enter until verified his mail there, and once verified, in real time to detect the verification and redirect the user inside the platform.

[2017-11-09 20:28] battistaar commented on #1309
I'm experiencing the same problem, how did you solve it? I have a list page and an edit one, if I edit the record and go back to the list it doesn't update until a refresh. Strange fact: if i open the list and the edit page in different windows it works fine.

[2017-11-09 21:27] Supamiu opened #1335 "Firestore - Allow for class instance to be added to list"
When trying to add a document to a collection, the item has to be of type `object`, meaning that it can't be an instance of any class.

### Version info

**Angular: 5.0.0**

**Firebase: 4.5.0**

**AngularFire: 5.0.0-rc.3**

### How to reproduce these conditions

**Steps to set up and reproduce**

Simply run this:

[code]

**Sample data and security rules**

Basic free-for-all security rules are en

[2017-11-09 21:48] davideast commented on #1335
Hey @Supamiu! This is not a limitation of AngularFire but of the Firestore SDK. You can file an issue here: https://github.com/firebase/firebase-js-sdk/issues.

[2017-11-09 21:48] #1335 closed

[2017-11-09 22:00] Supamiu commented on #1335
Just in case someone comes here and want to see how it's going: https://github.com/firebase/firebase-js-sdk/issues/311

[2017-11-09 22:51] colinskow opened #1336 "TypeScript 2.4.2 compile error"
I am getting a TypeScript error compiling `angularfire2@5.0.0-rc.3` with `typescript@2.4.2`, using Angular 5.0.1. A very similar error also pops up when I tried TS 2.5.3.

[code]

[2017-11-09 22:59] colinskow commented on #1336
I jerry-patched `firebase.app.module.d.ts` to work:

[code]

[2017-11-10 12:19] davideast commented on #1336
Hey @colinskow! You need to make sure you're on AngularFire 5.0.0-rc.3 and Firebase ^4.6.0. That should resolve it!

[2017-11-10 12:19] #1336 closed

[2017-11-10 18:59] colinskow commented on #1336
@davideast thanks for the response. I had the dependency set to `"angularfire2": "^5.0.0-rc.3"`. Apparently yarn was installing `RC.0-next`. Using an exact version `5.0.0-rc.3` resolved the issue.

[2017-11-11 00:43] jamesmart77 commented on #261
Was this every fixed? Currently running into this issue with oAuth for google sign in

[2017-11-11 01:56] patrickmichalina commented on #261
I found the redirect method to work better

[2017-11-11 01:59] patrickmichalina commented on #1073
@hiepxanh I know its not elegant, nor does it cover all scenarios, but it gets me by until the official supports lands in this library: https://github.com/patrickmichalina/fusebox-angular-universal-starter/blob/master/src/server/server.angular-fire.service.ts

[2017-11-11 07:08] sureshprabhu2218 commented on #1073
We use angularfire2 and firestore in our application. Firestore does not render data as @davideast mentioned. From this conversation I understand its going to take time. @hiepxanh you can try other solutions. One which I saw recently is to use chrome's rendertron. Definitely not better than universal. But will work. Check this [blog](https://www.skillmapped.com/blog/server-side-rendering)

[2017-11-11 20:06] sparqueur commented on #1158
I agree with nikhil-mahirrao.
In my case I want to do client side filtering for performance purpose.
Therefore I do something like :
[code]

Problem : I can't delete an item as I "lose" the $key.

 Using snapshot is possible but it makes this more complicated for nothing.

Wouldn't it be possible to have an implicite $key mapping on the retrieved objects ?

Or maybe I doing this wrong ?

[2017-11-11 23:16] Mironor commented on #1280
Looks like a duplicate of #1206

[2017-11-11 23:51] Maistho opened #1337 "Allow Firestore collection and doc to accept a Reference as input"
`angularfire2/database` allows initialising a `object`/`list` using either a path string or a reference. It would be nice to allow the same for the firestore.

The new interface would look something like this:

[code]

It should be a simple change, I can make a PR for it if it sounds interesting.

[2017-11-12 00:18] oTTa opened #1338 "[ERROR] Class 'FirebaseApp' incorrectly implements interface 'App'"
Running app-scripts build: --platform browser --target cordova
[21:14:15]  build dev started ...
[21:14:15]  clean started ...
[21:14:15]  clean finished in 4 ms
[21:14:15]  copy started ...
[21:14:15]  deeplinks started ...
[21:14:15]  deeplinks finished in 180 ms
[21:14:15]  transpile started ...
[21:14:20]  typescript: ...a/mobile/bahiadeportes-mobile/node_modules/angularfire2/firebase.app.modu

[2017-11-12 18:27] sneurlax commented on #1272
Just popping in to report that neither `take()` nor `do()` work (exist) for me on AngularFirestoreDocument

[2017-11-12 19:03] sneurlax commented on #1272
Currently handling this by attempting an `update` and `set`ting on error as such:

[code]

[2017-11-12 20:03] fdambrosio commented on #1134
hello there's news?

[2017-11-12 20:05] fdambrosio commented on #940
there's news?

[2017-11-12 23:10] thetylerb commented on #707
I ran into this issue because i ran firebase init when I already had angularfire2 included in my app. I solved the issue by deleting node modules, then re-installing.

[2017-11-13 05:15] wceolin commented on #1158
@davideast @jamesdaniels first of all, thanks and congratulations on the awesome working you guys have been doing. I've been playing with the new API for a while now. The way it integrates so nicely with redux is really great.

However, I must admit sometimes I miss the easiness of having the `$key` already mapped in my list (or collection for firestore). I wonder if wouldn't it be a good alternat

[2017-11-13 08:23] Kausttubh opened #1340 "Unable to retrieve data using multiple where"
How to write query with multiple where clause ?
    this.items = this._firebasedb.collection('CommunityUserChat', ref => ref
    .where('userId','==',this.userData.id)
    .where('loggedInId','==','this.loggedInUser.uid')
  ).valueChanges();

this is only filtering on the basis of first where condition.

[2017-11-13 14:13] nhathiwala opened #1341 "Missing functionality for ListenOnlyOnce of Firestore responses"
### Version info

**Angular:**  4.4.6

**Firebase:** 4.6.1

**AngularFire:** 5.0.0-rc.3

**Other (e.g. Ionic/Cordova, Node, browser, operating system):** Node, MacOS, Chrome

### How to reproduce these conditions

I'm working on a **Firestore** based project. Where I have been trying to achieve `.get():  Promise` functionality instead of `.valueChanges(): Observable` or `.snapshotChanges(): Observ

[2017-11-13 17:52] douglashm commented on #1341
AngularFire relies on Rxjs. In this case, you have to write this way:

[code]

[2017-11-13 18:06] davideast commented on #1338
@oTTa Make sure you are on AngularFire 5.0.0-rc.3. You're likely on rc.0 and Firebase ^4.6.0 which are incompatible.

[2017-11-13 19:03] #1280 closed

[2017-11-14 05:34] WisaniShilumani commented on #280
Hi, since AngularFire's 5.0 update, moving from FirebaseListObservable to AngularfireList, the ._ref or .$ref don't seem to work.

Property '$ref' does not exist on type 'FirebaseObjectObservable<any>', same for ._ref

When I declare it as "any", it still doesn't work in runtime

[2017-11-14 12:41] Mazvys commented on #1324
Are there any news?

[2017-11-14 18:32] douglashm commented on #1341
@jamesdaniels I think this is related to #1328 and can be closed

[2017-11-14 20:31] larssn commented on #1215
Well still, it feels a bit silly.

It's nice being able to do:
`const order = new Order();` and get default values for certain fields filled out automatically (for complex objects).

My current (silly) workaround is `collection.add(JSON.parse(JSON.stringify(order)));`

[2017-11-14 20:35] codediodeio commented on #1215
@larssn An easier solution would be the spread syntax, `collection.add({ ...order })`. However, I'm still in favor of AF2 doing this by default - that's how v4 worked.

[2017-11-14 20:36] larssn commented on #1215
@codediodeio I don't think that works for deep objects

[2017-11-14 20:41] codediodeio commented on #1215
@larssn Nope, one-level.

[2017-11-15 03:41] chaker89 opened #1342 "Update firebase value based on existing value"
Hi ,
After the update i started having problem updating a value from firebase based on the already exisitng value. so let's take for example the case of quantity  of a specific product.

before i was able to do that :

`let item$ = this.af.object('/product/' + productId)
item$.take(1).subscribe(
item=> {
     if(item.$exist()) item$.update({ quantity : item.quantity + 1})
})`

now with the new API

[2017-11-15 09:07] rashid-softordi commented on #1257
Problem solved!

step1- Upgrading to AngularFire 5.0

Step2 -
[code]

[2017-11-15 09:07] #1257 closed

[2017-11-15 18:33] btribouillet opened #1343 "Firestore with ionic, pushed page deleted when subscribed data changes"
Hi,

Since i already created a thread about the same issue on stackoverflow and if you think it is not relevant to post it again here, please feel free to close the issue or tell me to do so.

Otherwise here the issue that could be related to angularfire2. This issue is happening only with firestore and NOT firebase.

### Version info

**Angular:** 4.4.3

**Firebase:** ^4.5.0

**AngularFire:** ^5.

[2017-11-15 20:27] #1343 closed

[2017-11-15 20:28] btribouillet commented on #1343
I'm closing the issue for now since i can't recreate the issue https://stackblitz.com/edit/ionic-wkpvpe.

[2017-11-15 23:36] TehCrucible commented on #1337
We are actually using something very similar in our app already. Inspired by [this post](https://angularfirebase.com/lessons/firestore-advanced-usage-angularfire/) I created a service to wrap and extend angularfire with this functionality.  It looks like this:

[code]

[2017-11-16 08:58] joyceHong opened #1344 "Is it possible to group column with AngularFirestoreCollection?"
I am new to Angularfire5, Is it possible to group by column with   AngularFirestoreCollection?
I get data :  this.afs.collection('moneyCost', ref => ref.orderBy('costDate'));

---data example----------------------------
costDate         product          money
2017-11-01     item1             100
2017-11-01     item2              30
2017-11-01     item3              60
2017-11-02     item2

[2017-11-16 10:43] jornare commented on #1324
I'm running fine on Angular v5 (only installation warnings), but gets errors with firebase 4.6+ (needs 4.5)

[2017-11-16 11:26] douglashm commented on #1344
This is a SQL function. Please read this question [firebase-count-group-by](https://stackoverflow.com/questions/26331071/firebase-count-group-by). IMHO, you have 2 ways:

- Create a field (an array) in the parent document called **Sum**, for example, and every time you add, update or remove an item in _moneyCost_ collection, you update this field accordingly, e.g.: [ { "date" : "2017-11-01",  "amo

[2017-11-17 01:11] joyceHong commented on #1344
thank you

[2017-11-17 03:03] surajbarkale-dolby opened #1345 "Protractor timeout must be set to >30 seconds when using auth"
### Version info
**Angular:** 5.0.1

**Firebase:** 4.6.2

**AngularFire:** 5.0.0-rc.3

**Other (e.g. Ionic/Cordova, Node, browser, operating system):** Node 6.12, Chrome 62

### How to reproduce these conditions

**Steps to set up and reproduce**

1. Start a new angular project & add angularfire2
2. Run e2e tests (`ng e2e`). It should complete successfully within a second.
2. Add `AngularFireModul

[2017-11-17 05:38] #1344 closed

[2017-11-17 05:41] jamesdaniels commented on #1341
@douglashm thx 👍

[2017-11-17 05:41] #1341 closed

[2017-11-17 05:59] #1332 closed

[2017-11-17 06:00] #1329 closed

[2017-11-17 06:08] jamesdaniels commented on #1342
You will want:

[code]

[2017-11-17 06:08] #1342 closed

[2017-11-18 14:43] davideast commented on #1324
No more peer deps warnings thanks to the hard work of @jamesdaniels!

[2017-11-18 14:43] #1324 closed

[2017-11-18 16:40] eai301 commented on #1199
where i put this code??

signIn(email: string, password: string): Promise<void> {
    return this.auAuth.auth.signInWithEmailAndPassword(email, password);
  }

[2017-11-18 17:35] eai301 commented on #1261
do you find where export this codes ?

[2017-11-19 14:22] pglazkov opened #1347 "ApplicationRef.isStable never goes to "true" when an instance of AngularFireAuth is injected"
When `AngularFireAuth` is injected anywhere on the page, the `ApplicationRef.isStable` never emits `true`. This causes problems with latest `@angular/service-worker`, which relies on `ApplicationRef.isStable` to install the worker. This probably also would cause server-side rendering to timeout, but I didn't test this.

### Version info

**Angular:** 5.0.0

**Firebase:** 4.6.2

**AngularFire:** 5.

[2017-11-19 15:56] George35mk opened #1348 "How to convert this to angularFire way"
How to convert this to angularFire way

### Javascript example

[code]

### Angular example ??

[2017-11-19 16:33] douglashm commented on #1348
[code]

[2017-11-19 16:34] George35mk commented on #1348
Thanx douglas

[2017-11-19 17:00] arjunyel commented on #1340
https://github.com/angular/angularfire2/blob/master/docs/firestore/querying-collections.md

[2017-11-19 20:35] jamesdaniels commented on #1347
I'm actually tackling right now. Thanks for the report!

[2017-11-19 20:36] jamesdaniels commented on #1347
Once patched I'll cut a new RC.

[2017-11-19 22:08] danielsogl opened #1349 "Cannot find module 'grpc' from 'grpc_connection.js'"
### Version info

**Angular:**
5.0.1

**Firebase:**
4.6.2

**AngularFire:**
5.0.0-rc.4
**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

### How to reproduce these conditions
Import AngularFirestore into a Service and run a Jest test

**Steps to set up and reproduce**
This is my unit-test

[code]
Im usning the jest angular preset without any special configurations.
I don't have thi

[2017-11-19 23:37] #1348 closed

[2017-11-20 10:54] larssn opened #1350 "Realtime data not triggering when updated by a 3rd party"
Spotted what appears to be a bug in AF2 v5. Apologies in advance, as I don't have time to create a plunker atm.

When listening to realtime data from a (sub)collection, you only seem to get notified of changes, when you make those changes yourself.

**Example**
Lets say I'm listening to values from a collection:
[code]

This works fine for the most part when you modify it yourself. The issue becom

[2017-11-20 14:48] Adlesa opened #1351 "No data for FireStore after use of routerlink"
I just setup an brand new project using angular/cli and angularFire2.

All works just fine and data is coming from FireStore. But as soon as I implement routerlinks and navigate between components the FireStore data disappears. If i reload the app the data is back until I navigate again.

I can't finde any explanation on why. Am I the only one whit this problem?

[2017-11-20 15:11] davideast commented on #1351
Hey @Adlesa! We have a required issue template this is really helpful for us to debug your issues. I'm going to close this issue but feel free to create a new issue that follows the template. Also, it will be much much easier to help if you re-create the problem in stackblitz.com.

[2017-11-20 15:11] #1351 closed

[2017-11-20 20:43] davideast commented on #1350
Hey @larssn! Thanks for taking the time to write up the issue. I really appreciate you taking the time to isolate the issue to AngularFire too.

Can you use this [Stackblitz template](https://stackblitz.com/edit/angular-1iment) to reproduce the problem with you have the time? That will make life much easier for all of us.

[2017-11-21 04:34] brndex opened #1352 "cant run ionic cordova build android --prod --release"
`{"dependencies": {

    "@angular/animations": "4.1.3",
    "@angular/common": "4.1.3",
    "@angular/compiler": "4.1.3",
    "@angular/compiler-cli": "4.1.3",
    "@angular/core": "4.1.3",
    "@angular/forms": "4.1.3",
    "@angular/http": "4.1.3",
    "@angular/platform-browser": "4.1.3",
    "@angular/platform-browser-dynamic": "4.1.3",
    "@ionic-native/app-version": "^4.3.1",
    "@ionic-n

[2017-11-21 09:42] wooltar commented on #1183
I have to do rollback to
[code]

and works for me

here, the steps to migrate to V5.
 [StepsToupdateV5](https://github.com/angular/angularfire2/blob/master/docs/version-5-upgrade.md)

[2017-11-21 11:35] larssn commented on #1350
I have a busy schedule atm, I'll see if I can squeeze in a reproduction in the weekend.

[2017-11-21 12:23] davideast commented on #1350
Thanks @larssn!

[2017-11-21 12:23] davideast commented on #1352
Hi @brndex! We have a required issue template that helps us help you. I'm going to close this issue but feel free to open a new one the follows the template.

[2017-11-21 12:23] #1352 closed

[2017-11-21 16:56] rcanu commented on #211
@E-Kom I'm afraid `import` and `declare` are still needed as @epiphanatic mentioned

[2017-11-21 23:00] lossless1 commented on #1274
Plz devs, add to 5.0.0-rc.5 angularfire2/firestore

[2017-11-22 00:07] corysimmons commented on #1292
Wouldn't `Date.now()` provide easier querying?

https://stackoverflow.com/questions/47000854/firestore-query-by-date-range

[2017-11-22 08:07] 47sharmamanu commented on #761
Where is"firebase" import used in:

firebase.initializeApp(config, "name");

[2017-11-22 13:35] larssn commented on #1350
So we decided to dedicate some time for this issue, and we've been unable to reproduce it.

We'll chalk it up as beta quirks for now, so I'll close this. We can reopen if anyone can reproduce.

[2017-11-22 13:35] #1350 closed

[2017-11-22 16:44] George35mk opened #1353 "Cannot paginate data i try 10 Houers from morning and the endAt is not working"
# When i try to pagginate *back* the Firestore give me the first 10 results

[code]

[code]

[2017-11-22 22:04] makah opened #1354 "Complete Example or Documentation"
I'm trying to find a complete example that uses angularfire2 but I cant find one. Some examples uses anugalrfire2 with native firebase or an old version of angularfire.

Maybe the project has a FAQ, or a conversion explanation about how to use it right. For example [this  comment](https://github.com/angular/angularfire2/issues/380#issuecomment-234666818) was very enlightening for me.

[2017-11-23 10:50] githubmonkey opened #1355 "Dependency issues when adding angularfire2 to an angular-cli generated project"
Adding angularfire2 to a band new angular-cli generated angular 4 project causes dependency issues:

[code]

For completeness, here is an extract from package.json as generated by the angluar-cli (version 1.5.3).
[code]

Finally, the 'npm outdated' list. (BTW, I am surprised to see 5.0.0-rc.0-next in the angularfire2 wanted column even though package.json specifies the latest version 5.0.0-rc.4 bu

[2017-11-23 19:06] diegotham opened #1356 "Items disappear when deleting an item from a limited list"
### Version info

**Angular:**: 4.3.4

**Firebase:** 4.6.0

**AngularFire:** 5.0.0-rc.4

It also happens with Angular 5.0.2 && firebase 4.6.2, but the Stackblitz provided runs those versions
### How to reproduce these conditions

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**

https://stackblitz.com/edit/angular-yhbuma

Image:
![error_image](https://user-images.githubusercont

[2017-11-23 23:37] jagabs opened #1357 "Firebase Database (3.9.0) INTERNAL ASSERT FAILED: LeafNode shouldn't be created with null/undefined value."
constructor(private db: AngularFireDatabase) { }

[code]

this function here works before but now it does not. It throws the error in the title. Is it because my angularfire's outdated? I mean i didnt update my angularfire and firebase.  Please i really need advice on this. Funny thing is its working in my firebase hosting. But in my localhost it doesnt, but i tried building and deploying it and t

[2017-11-24 11:17] EddyVerbruggen commented on #110
Hey @kinggolf I ❤️ the idea of making the NativeScript plugin compatible with AngularFire2, but there are two main issues preventing that:

1. Make the NativeScript plugin compatible with the Web API (as that's what AngularFire2 is built on top of). That's currently [work in progress](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/issues/548).

2. FIgure out how `require('firebase/

[2017-11-24 13:38] tombalcaen commented on #1231
Hi all,
I don't know if this is the right topic, or if this is a question for stackoverflow.. anyways.. I'll put on some brave shoes and ask it anyway..

I'm having some questions regarding the dropping of the metadata from valueChanges. I recently switched to V5. Meaning that, if i want to receive the metadata I have to use snapshot "snapshotChanges()".

Requesting data:

roomObject$: Observable<

[2017-11-24 14:21] diegotham commented on #1356
The previous example works If I use the async pipe instead of subscribing. But it fails again in the same way if I add another query to the same path, but this time to count the total items.

Here is the Stackblitz: https://stackblitz.com/edit/angular-fl45ty

[2017-11-24 17:17] yorbenyspr commented on #992
Here an system.js config file that might help, it works for me:
/**
 * System configuration for Angular samples
 * Adjust as necessary for your application needs.
 */
(function (global) {
    System.config({
        paths: {
            // paths serve as alias
            'npm:': '/node_modules/'
        },
        // map tells the System loader where to look for things
        map: {

[2017-11-25 00:17] muffinrecon opened #1359 "[Bug] Collection not updating properly on document deletes"
I am subscribed to a collection using the async pipe, however when I go to delete a document inside the collection, any object below the deleted document gets removed from the UX and the collection observable isn't updated.

When I delete from the firebase database console, it works as intended

Thanks!

[2017-11-25 04:23] peterennis commented on #1285
Have a look at this:
https://github.com/angular/angularfire2/issues/1281

It points to a repo that may help.

[2017-11-26 00:55] erperejildo commented on #1089
didn't work for me

[2017-11-26 02:05] Sagiri-chan commented on #1261
Yea same where do u even export this codes.
I'm a beginner too!

[2017-11-26 09:21] dauledk commented on #1261
This [repo](https://github.com/r-park/todo-angular-firebase) demonstrates a how to use firebase and authentication. It is very good for beginners. There is a [demo](https://ng2-todo-app.firebaseapp.com/tasks) here. Currently the library uses angular 4 - but the structure of the project should give you a very good idea of _where to export your codes_.  The actual location is [here](https://github.c

[2017-11-26 14:19] msaddamci opened #1360 "Firebase Filter from array"
### Version info

**Angular: 4**

**Firebase: 2**

**AngularFire: 2**

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

### How to filter by array value
[code]
### I'm trying
this.db.list(`${tableNames.LeaveMessage}/${channelId}`,
    ref => ref.child('dates')
         .children(["1503945000000", "1503946000000"])
         .on('value', snapshot => snapshot.val())
)

this is not fi

[2017-11-26 14:52] motzne opened #1361 "5.0.0-rc.4 not working with Ionic 3.8.0"
Hi all
I'm trying to follow the guide here for my ionic projekt:
https://github.com/angular/angularfire2/blob/master/docs/ionic/v3.md

Its not working with the following specifications below. Since there where changes in Angularfire2 - 5.0.0

Could you please help me out with a example to load some data (for example /chats) out of Firebase?

### Version info
**Angular:**
4.4.4
**Firebase:**
4.6.2

[2017-11-26 19:28] Beeruot opened #1362 "Module not found: Error: Can't resolve '../../angularfire2/firestore'"
### Version info

Angular:*4.1.3*

Firebase:*4.6.0*

AngularFire:*5.0.0-rc.3*

Ionic:*3.19*

### How to reproduce these conditions

ionic cordova build <platform> **--prod**

working great without --prod.

### Debug output

**Error: ./src/app/app.module.ngfactory.js
Module not found: Error: Can't resolve '../../angularfire2/firestore'......**

This error is killing me. I tried everything.
I can no

[2017-11-27 01:14] Dan-Ser commented on #1355
I'm having the same issue

[2017-11-27 03:03] TehCrucible commented on #1361
I mean, the errors are reasonably self explanatory? Looks like rc.4 requires Angular 5, however Ionic 3.8.0 is built on Angular 4.

You'll need to upgrade to Ionic >3.9.0 which is also compatible with Angular 5. Upgrade instructions are located here:  https://github.com/ionic-team/ionic/releases

[2017-11-27 15:02] celse commented on #1089
Yes , your tip solved my problem, it works. thanks

[2017-11-27 18:57] davideast commented on #1362
Hey @Beeruot! This is not a bug with AngularFire but with the ionic build process. I think this is fixed in the latest CLI release. Can you try upgrading and see if it fixes? If not please file a bug with their repo.

[2017-11-27 18:57] #1362 closed

[2017-11-27 18:58] davideast commented on #1361
Hey @motzne. @TehCrucible is right that you need to upgrade to Angular 5 to use the latest AngularFire release. Upgrade to the latest Ionic or use an older version of AngularFire.

[2017-11-27 18:58] #1361 closed

[2017-11-27 18:59] davideast commented on #1360
Hey @msaddamci! Please use Stackoverflow for these kids of how to questions as this repo is dedicated to troubleshooting bugs.

[2017-11-27 18:59] #1360 closed

[2017-11-27 20:15] playground commented on #1347
I have a somewhat different issue, seems like return ApplicationRef; never got executed.

I'm new to angularfire2, can someone offer some good use cases for using angularfire2?

[2017-11-27 23:48] Venryx commented on #1245
It seems you can also do:
[code]

Am I missing something which would make this different than `update(data, {create: true})`?

[2017-11-28 01:13] Azmos commented on #1245
Tried once again and neither of them work on my code, in my case checking "manually" if the document exists is the only way to achieve that.

[2017-11-28 01:49] cbanzet commented on #1199
I have the same issue and I can't seem to correct it while trying to compile...
    "firebase": "^4.4.2",
    "angularfire2": "^5.0.0-rc.4",

I have the following errors with ng serve

ERROR in node_modules/angularfire2/firebase.app.module.d.ts(12,19): error TS2709: Cannot use namespace 'firebase' as a type.

and this one with npm run build

ERROR in node_modules/angularfire2/firebase.app.module.d

[2017-11-28 01:55] cbanzet commented on #1199
so I just changed l12 of the file firebase.app.module.d.ts
to :

delete: () => Promise<any>;

and it fixed my bug

[2017-11-28 06:26] tkssharma commented on #953
ERROR in C:/Users/vadnu/foodService/node_modules//services/maps-api-loader/lazy-maps-api-loader.d.ts (1,10): Module '"C:/Users/vadnu/foodService/node_modules/@angular/core/index"' has no exported member 'InjectionToken'.

i Get this too

is there a fix?
same for me !!

[2017-11-28 12:10] Ross-Rawlins commented on #395
What is the best way to do this?

I am having to use a dynamic path/key to filter data. 'all/' + key + group

[2017-11-28 12:29] diegotham commented on #1359
Do you use .limit()? Or query more than once to the same path? It might be the similar to what happens to me https://github.com/angular/angularfire2/issues/1356

[2017-11-28 12:58] Englbach opened #1363 "Can't get $key from firebase on angular 2"
on service.ts
`import { Injectable } from '@angular/core';
import { AngularFirestore,AngularFirestoreCollection  } from "angularfire2/firestore";
import { Observable } from "rxjs/Observable";
import {Business} from "../Business";
import { Category } from "../Category";

@Injectable()
export class FirebaseService{

    //collection
    private _businessCollection : AngularFirestoreCollection<Busine

[2017-11-28 13:16] diegotham commented on #1363
You are using Firestore, no Realtime Database. There is no $key in Firestore.

You have to use snapshotChanges() in order to retrieve the id of the document: https://github.com/angular/angularfire2/blob/master/docs/firestore/collections.md#snapshotchanges

[2017-11-28 13:47] benjamin21st commented on #953
Same error, my environment:

node: v8.9.1
    "angular-cli": "1.0.0-beta.28.3",
    "angularfire2": "^5.0.0-rc.4",
    "firebase": "^4.6.2",

[2017-11-28 19:27] muffinrecon commented on #1359
No i'm not using any queries/limits. Just pulling the collection and calling snapshotChanges() to get the document ids with the docs.

 I believe we are having the same issue. For me to force the update, I just call the collection again.

[2017-11-28 20:01] #1363 closed

[2017-11-28 20:41] hamedbaatour commented on #1073
# Finally Server Side Rendering with Firebase :blush:

<p align="center">
<img src="https://cdn.rawgit.com/hamedbaatour/699681e712ad27200332847f83bbc039/raw/b477f07a46bbc5c29dfe6f6c192ffd4b872d8b00/Angularfire%2520Lite%2520Logo.svg" alt="angularfirelite-logo" width="300px" height="300px" href="https://github.com/hamedbaatour/angularfire-lite">
</p>

## 🎉 Introducing AngularFire Lite 🎉

AnglularFir

[2017-11-28 20:46] davideast commented on #1073
@hamedbaatour This is really cool! I wish you would have contributed to this project however. We plan on adding support for the rest of the Firebase features soon.

I do have one question, is it actually lighter than AngularFire? AngularFire itself is really small, the DB API is 3kb. The Firestore API is 2.3kb. The Auth API is 950 bytes.

[2017-11-28 21:01] davideast commented on #1359
@muffinrecon Can you use the issue template and create a stackblitz? That will be much easier to debug.

[2017-11-28 21:01] davideast commented on #1357
@jagabs Can you create a stackblitz?

[2017-11-28 21:30] sdey0081 opened #1364 "Firestore: Passing angularfire2 async data as Ionic 3 navParams not working"
### Version info

**Angular:** ^5.0.0

**Firebase:**  ^4.6.2

**AngularFire:** ^5.0.0-rc.4

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**
[code]

### How to reproduce these conditions

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**

https://stackblitz.com/edit/ionic-firestore

**Steps to set up and reproduce**

On the Stackblitz example, if you click a list

[2017-11-28 21:55] davideast commented on #1356
@diegotham Thank you so much for the detailed bug with the Stackblitz! This made it so much easier to troubleshoot.

This is a tricky bug, but I'm on the case. I'll get back to you as soon as I have more information.

[2017-11-29 01:24] hiepxanh commented on #1073
wow, you deserve this 🥇
 I love that, finally, I can't wait to use this, thanks you for your initiative. That help me a lot and make my dream come true. I still didn't using any different database to only work with firebase

[2017-11-29 02:51] davideast commented on #1364
@sdey0081 Thanks for the well put together issue! I'm looking into it now. I think you need to flatten the entire observable to fix your problem. I'll have a solution soon.

[2017-11-29 02:53] davideast commented on #1354
Have you heard of https://angularfirebase.com? I highly, highly recommend using it. It's not official from Firebase, but @codediodeio is better than I am at making videos.

We plan on updating our documentation soon. So stay posted.

[2017-11-29 02:53] #1354 closed

[2017-11-29 02:54] davideast commented on #1353
Hey @George35mk! Can you please use the template so I know what versions you are on? Also, if you could create a Stackblitz example that would make it much easier to figure out what's going on.

[2017-11-29 02:55] davideast commented on #1349
Hey @danielsogl! Thanks for reporting this.

I think this is beause the current Firestore version doesn't work out-of-the-box for node. You can try aliasing Firebase Admin, which will work, or wait just a little bit longer until we fix this!

[2017-11-29 02:57] George35mk commented on #1353
Ok David give me 10 min and I give you all the code and dependencies

[2017-11-29 02:58] davideast commented on #1345
Hey @surajbarkale-dolby!

This is an outstanding issue with Auth and Protractor.We could solve it by running certain parts of Auth outside of the Angular zone but it's going to take some time to flesh out.

I'll look into it and see what I can do.

[2017-11-29 02:58] davideast commented on #1331
Hey @willis2342! You are right! Would you like to make the PR?

[2017-11-29 02:58] davideast commented on #1314
@snakenstein I really like this idea. Would you like to post an API proposal?

[2017-11-29 03:08] davideast commented on #1353
@George35mk It will be much easier if you re-create the issue in a stackblitz.com template. It's interactive and I can fork a copy and work on getting it fixed.

[2017-11-29 03:10] George35mk commented on #1353
David, i just start to use the stackblitz and I want to add dependencies sry bro I try my best give me some minutes. can I ask you if is save to firebase config on stackblitz

[2017-11-29 03:19] davideast commented on #1353
@George35mk You can save your config there, just make sure it's a test account with no important data.

[2017-11-29 03:58] George35mk commented on #1353
David this is the link don't forget I am new to stackblitz and I have some errors
I want to paginate back

https://stackblitz.com/edit/angular-c1vhpq?file=app%2Fapi.service.ts

[2017-11-29 03:59] George35mk commented on #1353
I have some errors with the stackblitz  and I don't know how to see the errors in the console

[2017-11-29 04:15] George35mk commented on #1353
David you checked ??

[2017-11-29 04:18] George35mk commented on #1353
I have fixed the errors in stackblitz

[2017-11-29 04:19] George35mk commented on #1353
Refresh the link I send you. now I can reproduce the error

[2017-11-29 04:32] George35mk commented on #1353
@davideast what you say? about the code I send you.

As you see when I paginate front is work perfect but when I paginate back is sow me only the first objects.

[2017-11-29 08:09] danielsogl commented on #1349
I fixed my J´jests test by adding the `--browser` flag but thank you for your response.
Let me know when you fixed it

[2017-11-29 08:11] sdey0081 commented on #1364
Thanks @davideast , I think I am available with two options now:

But I hope there is another way to get entire data easily, because our project is designed for a multiple companies which uses the same database, it required very complex logic implemented on the old sql database.

[2017-11-29 12:41] #1241 closed

[2017-11-29 12:42] #1230 closed

[2017-11-29 12:42] #1235 closed

[2017-11-29 12:42] #1216 closed

[2017-11-29 12:44] #1210 closed

[2017-11-29 12:44] davideast commented on #1259
Closing due to inactivity. Please feel free to open another if the problem is persisting.

[2017-11-29 12:44] #1259 closed

[2017-11-29 17:10] davideast commented on #1349
Good to know about the `--browser` flag! I'll be sure to keep you updated about the overall node fix.

[2017-11-29 17:35] obayemi opened #1365 "firestore observables do not send previous value when subscribing again after the value is emited."
### Version info

**Angular:** 5.0.0
**Firebase:** 4.6.2
**AngularFire2:** 5.0.0-rc.4
**Ionic:** 3.19.0
**Node:** v8.5.0

Bug present on every platform I tried it
### How to reproduce these conditions

[code]

### Expected behavior

`.valueChanges()` on collections or documents should return an observable sending data on any subscription, with previously fetched data if subscribed after a previous

[2017-11-29 18:17] luismiguelbravo commented on #1355
![image](https://user-images.githubusercontent.com/5140529/33391614-5d94299a-d518-11e7-8947-d2744f8c2e37.png)

same problem

[2017-11-29 21:23] bob-lee commented on #1353
@George35mk you are ordering by `created` and giving 3rd page's first item as cursor to `endBefore` then limiting to your page size so you got first page content only. Consider this snippet:
[code]

[2017-11-29 21:43] George35mk commented on #1353
Bob please can you implement that code in this example. I gonna be crazy in the end I build admin panel and I was thinking ok now I have Firestore and is super. But the firestore cannot paginate i am very sad about that product. please if you can make this pagination to work or I gonna disable my 150 websites that all are in BLAZE mode

[2017-11-29 21:44] George35mk commented on #1353
https://stackblitz.com/edit/angular-c1vhpq?file=app%2Fapp.component.ts

[2017-11-29 21:44] George35mk commented on #1353
I have pause 2 admin panels from the time I cannot fix that problem

[2017-11-29 22:39] fayeyen opened #1366 "run ng show error"
I run ng
showing error as below
module.js:538
    throw err;
    ^

Error: Cannot find module '/Users/admin/package.json'
    at Function.Module._resolveFilename (module.js:536:15)
    at Function.Module._load (module.js:466:25)
    at Module.require (module.js:579:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (/Users/admin/.npm-global/lib/node_modules/@angular/cli/bin/ng

[2017-11-29 23:16] jamesdaniels commented on #1365
This is how Observables work out of the box when they're hot + shared. If you need this behavior you should create a `BehaviorSubject` and `subscribe` it to your `valueChanges()` or cache the last result with a `share(1)`.

[2017-11-29 23:16] #1365 closed

[2017-11-29 23:48] zurfyx opened #1367 "Rxjs 5.5 and /operators"
Hi,

This is just a quick question about the source code of the library itself.

You've upgraded your `peerDependencies` to Angular 5 requirements.

[code]

However, it seems that part of your code is still using older code. https://github.com/angular/angularfire2/blob/master/src/auth/auth.ts#L5

`import { observeOn } from 'rxjs/operator/observeOn';`

instead of Rxjs 5.5 way

`import { observeOn }

[2017-11-29 23:52] jamesdaniels commented on #1367
Yeah, I upgraded to get rid of the peer warning for Angular 5.  We're planning on upgrading as we go, I'm not as concerned about backwards compatibility but won't go out of my way to break things ;)

Thanks for raising.

[2017-11-29 23:52] #1367 closed

[2017-11-30 07:13] Gardemarin commented on #1366
Can You give package.json content ? I think the problem is inside this file

[2017-11-30 10:50] fayeyen commented on #1366
@Gardemarin don't have the package.json but I have package-lock.json

[2017-11-30 11:00] fayeyen commented on #1366
it's work now, I add the path at .bash_profile
export PATH=/Users/admin/.npm-global/bin:$PATH
Angular CLI: 1.5.4
Node: 8.9.1
OS: darwin x64
Angular:

[2017-11-30 11:00] #1366 closed

[2017-12-01 08:29] sparkoo commented on #940
ETA on this?

[2017-12-01 16:20] davideast commented on #940
@sparkoo Very soon :)

[2017-12-01 17:14] sparkoo commented on #940
@davideast cool, thanks!

[2017-12-01 22:00] davideast commented on #940
@sparkoo Checkout #1369!

[2017-12-02 00:31] willis2342 commented on #1331
Nah, sorry. I've been browsing different front-end and back-end frameworks and have moved on from Angular and Firebase.

[2017-12-02 19:06] Golosay commented on #280
@WisaniShilumani
For AngularFire 5+ you can find _ref_ in angularFire_list.query.ref

[code]

[2017-12-02 19:25] codediodeio commented on #1345
@surajbarkale-dolby Another workaround is this community maintained plugin: https://www.npmjs.com/package/protractor-testability-plugin. Your specs may finish before Firebase, but you can use `browser.sleep(...);` as needed. Not an ideal solution, but just FYI.

[2017-12-02 19:58] paean99 commented on #435
Here is a video about this feature on the Firebase youtube channel:
[Data consistency with Multi-path updates - The Firebase Database For SQL Developers #7](https://www.youtube.com/watch?v=i1n9Kw3AORw)

[2017-12-03 16:55] thongnx6 commented on #1356
@diegotham I have the same problem. Then I read document as below https://firebase.google.com/docs/firestore/manage-data/delete-data ,and I try `this.afs.collection('categories').doc(pathOfdoc).delete();`, this works.
So, how can I get path of docCol from AngularFirestoreCollection as Observable?

[2017-12-04 08:54] ibagaric opened #1370 "No provider for AngularFirestore!"
I did everything in the documentation, but I get error a problem with AngularFirestore:

AppComponent_Host.ngfactory.js? [sm]:1 ERROR Error: StaticInjectorError[AngularFirestore]:
  StaticInjectorError[AngularFirestore]:
    NullInjectorError: No provider for AngularFirestore!

I put all project on git: https://github.com/ibagaric/player

[2017-12-04 08:59] Chris1308 commented on #1370
You have to import AngularFirestoreModule as well: https://github.com/angular/angularfire2/blob/master/docs/install-and-setup.md#6-setup-individual-ngmodules

[2017-12-04 17:59] davideast commented on #1370
Hey @ibagaric! What @Chris1308 says is true. You need to provide each feature module first so it's available for dependency injection in your components and services.

[2017-12-04 17:59] #1370 closed

[2017-12-05 06:02] psingl opened #1371 "[BUG]: Updating array field in Firestore database"
Angular Version: 4.2.4
Angularfire2 version: 5.0.0-rc.3
Firebase SDK version: 4.6.2

In a particular document when we try to update a particular field of the array type whole of the field is deleted and written again meaning that suppose we have array field containing data something like as shown:
`
  locations: {
    0: India,
    1: Australia,
    2: USA
  }
`
Now suppose we want to add another

[2017-12-05 07:13] LiveLikeCounter commented on #257
@davideast in the feature of the Auth API, account-linking isn't available...
Will this be in the feature?

[2017-12-05 12:21] davideast commented on #1371
Hey @psingl! I'll need a Stackblitz.com example from you in order to properly debug this. Can you reproduce the issue and post the link here?

[2017-12-05 12:33] nyousaf47 commented on #1146
I am facing same issue

[2017-12-06 05:30] mihirkadve opened #1372 "[ts] Property 'get' does not exist on type 'AngularFirestoreCollection<{}>'."
![collection](https://user-images.githubusercontent.com/25790817/33646267-a98f5b38-da74-11e7-9772-9346f4deccd0.png)

[2017-12-06 11:11] ippeiukai commented on #1314
Something like this?

[code]

[2017-12-06 12:13] davideast commented on #1372
Hi @mihirkadve! We have a required issue template and it's typically hard to debug issues that are just screenshots of your code.

In your case though `.get()` is not a method we wrap since it would just incur extra bytes. Use the underlying reference.

[code]

[2017-12-06 12:13] #1372 closed

[2017-12-06 18:42] myspivey opened #1373 "AngularFireList.stateChanges() not returning Array of actions"
### Version info

**Angular:** 5.05

**Firebase:** 4.7.0

**AngularFire:** 5.0.0-rc.5-next

### How to reproduce these conditions

db.list('items').stateChanges().pipe(
      mergeMap(actions => actions),
      map(a => {
        const data = a.payload.val() as T;
        data['$key'] = a.payload.key;
       return data
      })
    );

**Steps to set up and reproduce**

Install latest of Angular,

[2017-12-06 19:33] davideast commented on #1373
Hey @myspivey! The behavior is correct, the docs are incorrect. The [implementation of the `.stateChanges()` method is really simple](https://github.com/angular/angularfire2/blob/25815cce9c703049ccd6d142703e0e3c6f931cd9/src/database/list/state-changes.ts#L13-L17).

[code]

The `.stateChanges()` method creates an observable of each child event provided and merges them into a single observable. Sinc

[2017-12-06 19:40] myspivey commented on #1373
Will be happy to handle that! Slammed today but will try to get to it tomorrow or Friday. Thanks for the clarification!

[2017-12-07 00:52] cesarsalesgomes opened #1374 "Firestore - Error: Uncaught (in promise): TypeError: app.firestore is not a function"
**Version Info

Angular: ^5.0.2

Firebase: ^4.6.0

AngularFire2: ^5.0.0-rc.3**

I've done all the steps to use AngularFirestore normally, but when i'm instantiating in my constructor service, this error brokes my app.

import { Injectable } from '@angular/core';
import { AngularFirestore } from 'angularfire2/firestore';

@Injectable()
export class ContactFormService {

  constructor(
    private a

[2017-12-07 01:27] davideast commented on #1374
Hi @cesarsalesgomes! Can you create a Stackblitz.com that shows this error? I think there might be an issue with the module setup.

[2017-12-07 01:39] markgoho commented on #201
For Firestore Transactions, the process is similar:
[code]

[2017-12-07 02:36] cesarsalesgomes commented on #1374
https://github.com/cesarsalesgomes/marina

Git project helps?

This is a server-side rendering app with cloud functions to host my syster-in-law restaurant site.

It's a way to repay her for letting me eat there for free =D

Here's the link:
https://marina-c0b30.firebaseapp.com/

[2017-12-07 02:47] cesarsalesgomes commented on #1374
@davideast
https://github.com/cesarsalesgomes/marina/commit/dda1f8aab09a56ccfc36aca5655eb46ddde7a47e

[2017-12-07 03:02] aaronfrost commented on #201
@markgoho I was just wondering about this, and you commented less than an hour ago. Very cool fo you and coincidental.

[2017-12-07 03:14] davideast commented on #201
@markgoho @aaronfrost Would you two be interested in an observable form of this API?