[2018-06-01 07:16] JiaLiPassion commented on #1347
@PierreDuc , ok, I know about the `long lasting setTimeout` one.
About the code here

[code]
Maybe there is a better way to solve this one, if this `long setTimeout` is not relevant to test,
you can try this in `onScheduleTask`,

[code]

[2018-06-01 07:27] PierreDuc commented on #1347
@JiaLiPassion Ah, but that's just in an additional test class called a [`TaskTrackingZoneSpec`](https://github.com/angular/zone.js/blob/master/lib/zone-spec/task-tracking.ts), which I modified a bit to determine what was causing the hanging angular zone.

But yes instead of overriding the AngularFireAuth, I could implement it like this, just in the e2e, although I don't really want something like

[2018-06-01 07:31] JiaLiPassion commented on #1347
@PierreDuc , got it, I believe in `Testability` there is an additional API to let you decide when to `done`, but anyway, it also use `TaskTrackingZoneSpec`. When you have time, if you can share your e2e code, maybe I can help to find out how to make it look better, because it maybe a common use case for using `zone` for test. Thanks.

[2018-06-01 16:47] WB3Tech opened #1700 "getDownloadURL()"
I have a function which uploads an image to Firebase Storage. The code snippet (My Code) is the implementation; I made sure to reference the guidance [here](https://github.com/angular/angularfire2/blob/master/docs/storage/storage.md#monitoring-upload-percentage).

I played around to see if I could better understand the issue.  I moved the following code outside of the '.pipe()' (My Test Code) and

[2018-06-01 17:51] jamesdaniels commented on #1700
In recent versions we require RXJS 6, https://github.com/ReactiveX/rxjs/blob/master/MIGRATION.md

[2018-06-01 17:51] #1700 closed

[2018-06-01 17:53] jamesdaniels commented on #1693
Going to close, as it's unclear that an actual issue exists; other than bad versions of types sticking around in someone's local node_modules. Happy to reopen if we get a repro.

[2018-06-01 17:53] #1693 closed

[2018-06-01 20:12] MrSparklle commented on #1594
I get a similar error when trying to install Angularfire2 on a Ionic 3 project.

`npm WARN angularfire2@5.0.0-rc.10 requires a peer of @angular/common@^6.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN angularfire2@5.0.0-rc.10 requires a peer of @angular/core@^6.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN angularfire2@5.0.0-rc.1

[2018-06-02 03:14] reganrn opened #1701 "Cannot find module 'angularfire2/storage'"
"angularfire2": "^5.0.0-rc.3",
"firebase": "^4.5.2",
"@angular/cli": "1.6.8",
"@angular/compiler-cli": "^5.2.0",
Please any one hep always shown this error Cannot find module 'angularfire2/storage'

[2018-06-02 03:14] reganrn commented on #1701
Please any one hep always shown this error Cannot find module 'angularfire2/storage'

[2018-06-02 06:52] sharma2910 commented on #1593
@miaupip thanks a lot, that worked for mew too..

[2018-06-02 06:55] sharma2910 commented on #1593
@miaupip thanks that worked for me too

[2018-06-02 11:11] andipaetzold commented on #1701
Support for firebase storage was added in [5.0.0-rc.6](https://github.com/angular/angularfire2/releases/tag/5.0.0-rc.6). Therefore, you need to update the angularfire2 dependency, in order to use firebase storage.

[2018-06-02 15:03] cadarrius-mcglown commented on #1593
yes!!

[2018-06-02 17:20] davidpobi commented on #1424
@wojtek1150 hello, were you able to find a solution ?

[2018-06-02 23:23] arissofan opened #1702 "Error: Uncaught (in promise): TypeError: Function expected TypeError: Function expected"
### Version info

**Angular: 5.2.10**

**Firebase: 5.0.4**

**AngularFire: 5.0.0-rc.10**

**Other (e.g. Ionic/Cordova, Node, browser, operating system):
    @ionic/app-scripts : 3.1.9
    Cordova Platforms  : android 7.0.0
    Ionic Framework    : ionic-angular 3.9.2**

### How to reproduce these conditions

**i try follow this one javebratt.com/crud-ionic-firestore/**

### Debug output

** Error:

[2018-06-02 23:52] arissofan commented on #1702
It's just compatibility issues.. downgrading the angularfire2 version and that's all

[2018-06-02 23:52] #1702 closed

[2018-06-03 07:23] kapilkk opened #1703 "EINVAL error while installing angularfire2"
I'm receiving the error shown below, while installing angularfire2, after i've updated nodejs to v8.11.2

npm WARN tar EINVAL: invalid argument, futime
npm WARN tar EINVAL: invalid argument, futime
npm WARN tar EINVAL: invalid argument, futime
npm ERR! path D:\RolesRules\RolesRulesApp\node_modules\.staging\grpc-1ffc2bcf\node_modules\osenv
npm ERR! code EPERM
npm ERR! errno -4048
npm ERR! syscall r

[2018-06-03 07:40] surajsingh-itian commented on #1695
Hello,

I'm facing similar issue after upgrading to Angular 6, which is using new version of **rxjs**
I'm doing same thing, using `snapshotChanges & map` in 1 case to get a document with id & in other case to get collection of document with id

[2018-06-03 11:27] acc2link opened #1704 "Angular 6 NG test with Angularfirestore."
Hey guys.

My code works fine with angularfire2 firestore.

But my spec file fails in test.

As soon as i add
  `constructor(private afs: AngularFirestore) { }`

in my components constructor my tests fail
`NullInjectorError: No provider for AngularFirestore`

But even when i add AngularFirestore my spec file testBed like this
[code]
I still get the same error.

This is my app.module
[code]
PLease

[2018-06-03 11:50] brendonwm commented on #1314
Does anyone have an example of how to "pass a factory of FirebaseAppConfig to AngularFireModule.initializeApp()" or alternative solution using runtime DI? Thanks.

[2018-06-03 14:31] gbarrionuevo commented on #1601
@hiepxanh hi, those steps are not working for me on android > 7.0 but it does on android's higher , onAuthStatechanged is never being fired after redirect and like you suggested

afAuth.authState.subscribe(user => {
			this.user = user;
		});
	}

is null

[2018-06-03 19:56] darthsitthiander commented on #1688
I'm on the same version as gashho:
angularfire2@5.0.0-rc.10
firebase@5.0.4
 And I get these errors in a blank project with only angularfire2.

`ERROR in node_modules/angularfire2/firebase.app.module.d.ts(2,10): error TS2305: Module '"C:/Users/Sander/Documents/GitHub/CFTS/node_modules/firebase/app/index"' has no exported member 'app'.
node_modules/angularfire2/firebase.app.module.d.ts(2,15): error

[2018-06-03 20:55] jsparks19 commented on #1704
One thing that looks odd to me is your app.module has AngularFirestoreModule under imports, but your test file has it under providers. Is it supposed to be consistent? Also, if you put it under providers is it supposed to be AngularFirestore instead of AngularFirestoreModule?

[2018-06-03 21:34] ggarg2 opened #1705 "Angular 6 SSR build issue"
Hi Team,

I am new in AngularFire2 library. I am getting one issue while making ssr build only. If i am running ng run build:ssr then i am getting some warnings.

WARNING in ./node_modules/angularfire2/firebase.app.module.js
15:22-26 "export 'apps' was not found in 'firebase/app'
 @ ./node_modules/angularfire2/firebase.app.module.js
 @ ./node_modules/angularfire2/public_api.js
 @ ./node_modules/an

[2018-06-04 00:49] acc2link commented on #1704
When i put `AngularFirestore ` as provider  in my test I get
 `No provider for InjectionToken angularfire2.app.options!`

 Thanks @jsparks19 ..
My version of angular is 6.

[2018-06-04 00:53] acc2link opened #1706 "No provider for InjectionToken angularfire2.app.options Angular 6"
Hey guys.

My code works fine with angularfire2 firestore.

But my spec file fails in test.

As soon as i add
  `constructor(private afs: AngularFirestore) { }`

in my components constructor my tests fail
`No provider for InjectionToken angularfire2.app.options`

[code]

This is my app.module
[code]
PLease help.

Here is a link to my repository

https://github.com/acc2link/Angular6

[2018-06-04 00:58] acc2link commented on #1704
Created a new issue
https://github.com/angular/angularfire2/issues/1706

[2018-06-04 01:41] ksaifullah commented on #1706
Hi @acc2link ,

The service `AngularFirestore` relies on initialization of `AngularFireModule` and import of `AngularFirestoreModule` which you have done for your actual code.

For the test, you don't have that setup. Which is correct in the sense that ideally you shouldn't call out to actual firestore database from your test. So **the solution is you need to stub the service**.

### Example:
Crea

[2018-06-04 01:46] ksaifullah commented on #1704
https://github.com/angular/angularfire2/issues/1706#issuecomment-394212606

[2018-06-04 06:34] rtm opened #1707 "app.auth is not a function"
### Version info

**Angular:** 6.0.0

**Firebase:** 5.0.4

**AngularFire:** 5.0.0-rc.10

**Other (e.g. Ionic/Cordova, Node, browser, operating system):** WSL, Node 8.11.2, Cordova, etc.

I receive the message:

This occurs in the following code on the line `return app.auth()`:

    var AngularFireAuth = (function () {
      function AngularFireAuth(options, nameOrConfig, platformId, zone) {

[2018-06-04 09:33] acc2link commented on #1706
@ksaifullah  Khalid. Thank you sir.

[2018-06-04 10:17] naveen-me opened #1708 "Node_modules/firebase/index"' has no exported member 'functions'."
Typescript Error
Module '"E:/nani/Andy/practo/myApp/node_modules/firebase/index"' has no exported member 'functions'.

please help me out

Ionic Framework: 3.9.2
Ionic App Scripts: 3.1.8
Angular Core: 5.2.9
Angular Compiler CLI: 5.2.9
Node: 8.11.1
OS Platform: Windows 10
Navigator Platform: Win32
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66

[2018-06-04 10:58] neo-xy commented on #1695
@surajsingh-itian  sorry , should have put a solution to that before closing: U have to change your syntax to something like this:
`.collection('companies').snapshotChanges().pipe(map(changes => {
      return changes.map(a => {
        const company = a.payload.doc.data() as Company;
        company.companyId = a.payload.doc.id;
        return company;
      });`
 so the key is to use ".pipe(map(

[2018-06-04 11:22] LanderBeeuwsaert opened #1709 "Order by seems to not a row when the attribute that is ordered on is not present for that row."
### Version info

**Angular:**
6.0.3

**Firebase:**
5.0.4

**AngularFire:**
5.0.0-rc.10

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

### How to reproduce these conditions

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**

**Steps to set up and reproduce**
I have this code:

`let obs = this.afs.collection('sheets', ref => ref.where("owner_email", '==', this

[2018-06-04 11:37] GideonWislang opened #1710 "cant signInWithCustomToken using .getToken as parameter"
Trying to sort out a persistent login where I save the token using getToken in storage and then log back in with it when the page loads, using signInWithCustomToken (mobile app).

Error:
`ERROR Error: Uncaught (in promise): Error: signInWithCustomToken failed: First argument "token" must be a valid string.`

Part of code ('current_session' set to .getToken() when signInWithEmailAndPassword)
`

[2018-06-04 12:20] diegotham commented on #1705
I'm having the same issue with version angularfire2@5.0.0-rc.10, if you use 5.0.0-rc.9 it does not happen (same firebase version "firebase": "^5.0.4" for both cases).
The affected line is the one with "var existingApp":

`function _firebaseAppFactory(options, nameOrConfig) {
    var name = typeof nameOrConfig === 'string' && nameOrConfig || '[DEFAULT]';
    var config = typeof nameOrConfig === 'ob

[2018-06-04 17:42] malindakpt commented on #1688
These dependencies fixed the issue for me
----------------------------------------------
"dependencies": {
    "@angular/animations": "^6.0.3",
    "@angular/common": "^6.0.3",
    "@angular/compiler": "^6.0.3",
    "@angular/core": "^6.0.3",
    "@angular/forms": "^6.0.3",
    "@angular/http": "^6.0.3",
    "@angular/platform-browser": "^6.0.3",
    "@angular/platform-browser-dynamic": "^6.0.3",

[2018-06-04 19:41] ZdebK commented on #1688
I have the same problem :(

[2018-06-04 20:45] rtm opened #1711 "database-deprecated and rxjs 6"
For various reasons, I have upgraded to firebase 5.0.4 and angularfire2 5.0.0-rc.10. However, I am still using database-deprecated.

My code stopped working:

[code]

The above code fails complaining that there is no `pipe` property on `remote`. When I examine `remote$`, strangely it has the following type:

[code]

In other words, it seems to be a function. This is the result of the following cod

[2018-06-04 21:56] jamesdaniels commented on #1705
I'll check on this + put in an SSR test to make sure we don't regress in future releases.

[2018-06-04 21:59] jamesdaniels commented on #1709
This is working as expected, Firestore will filter out sorts if the attribute does not exist. If you have a use case, I'd recommend filing a feature request on the Firebase support site.

[2018-06-04 21:59] #1709 closed

[2018-06-04 22:00] jamesdaniels commented on #1708
What version of Firebase + angularfire are you using?

[2018-06-04 22:01] jamesdaniels commented on #1703
This seems like you're having trouble with your local node_modules, not angularfire, I'd recommend an `rm -rf node_modules` and starting over again.

[2018-06-04 22:01] #1703 closed

[2018-06-05 03:28] munenelewis opened #1712 "querying a single item from firebase and displaying it"
Am trying to query a single data from firebase and i keep getting this error  when i try to display a single item

EmployeeDetailsComponent.html:2 ERROR TypeError: Cannot read property 'firstname' of undefined

here is my employee-details.ts

import { Component, OnInit } from '@angular/core';
import { ActivatedRoute } from '@angular/router';
import { EmployeeService } from './../shared/employee.se

[2018-06-05 03:59] kapilkk commented on #1703
Still no impact, situation is same

[2018-06-05 05:41] jsariasgeek commented on #1688
There is a problem with "angularfire2": "^5.0.0-rc.10"
The solution for me was uninstall angularfire2^5.0.0-rc.10 and install angularfire2^5.0.0-rc.9

npm uninstall angularfire2
npm install angularfire2@5.0.0-rc.9

[2018-06-05 09:52] vincent-cm opened #1713 "AoT Build freeze and eat up memory"
### Version info

**Angular:**
6.0.3
**Firebase:**
5.0.4
**AngularFire:**
5.0.0-rc.10
**Other (e.g. Ionic/Cordova, Node, browser, operating system):**
node v10.3.0, webpack 4.10.2
* Operating System version: macOS 10.13.5
  * Firebase SDK version: "firebase": "5.0.4", "angularfire2": "5.0.0-rc.10",
  * Firebase Product: (auth, database, storage, etc) comes from below dependency:

[code]
### How to

[2018-06-05 09:54] vincent-cm commented on #1713
Related https://github.com/firebase/firebase-js-sdk/issues/904

[2018-06-05 12:15] reganrn opened #1714 "\ERROR in src/app/app.component.ts(27,54): error TS2339: Property 'getDownloadURL ' does not exist on type 'AngularFireUploadTask'."
Hi Please help me to show this error getDownloadURL

[2018-06-05 14:39] jwuestef commented on #1714
This is not an issue with the package, and this is not the place to ask for help troubleshooting your code. In the future you should ask for help on StackOverflow.
There's a post from a week and a half ago for this exact error message:
https://stackoverflow.com/questions/50541836/property-downloadurl-does-not-exist-on-type-angularfireuploadtask/50663965#50663965

[2018-06-05 15:39] FouomaOscar commented on #1602
That is my code example fine https://github.com/FouomaOscar/firebase-authentication-with-angular-6. It's works fine

[2018-06-05 17:36] EmmaNendza commented on #1593
Awesome.  Works great.  Lost without that piece of advice.  Thanks

[2018-06-06 01:00] #1714 closed

[2018-06-06 05:00] matthewharwood commented on #1602
Yeah I had to install angularfire2@next to remove these errors

[2018-06-06 06:29] MurhafSousli opened #1715 "Get serverTimestamp from 'angularfire2/firestore'"
Hi,

In the last update, `angularfire2/firestore` exposes the interfaces we used get from firebase package `import * as firebase from 'firebase'` such as `QueryDocumentSnapshot` and `DocumentReference`

I am wondering if I can also get the **serverTimestamp** similarly

I see the `FieldValue` is exported in `angularfire2/firestore` but it does not have `serverTimestamp` on it.

Is there a differen

[2018-06-06 15:33] hasithlakshan commented on #1593
thanks lot  @miaupip that is work

[2018-06-06 16:43] noeldelgadom opened #1716 "Uncaught ReferenceError: global is not defined"
I updated from Angular 5 to Angular 6 and got this error

[code]

Here my package.json

[code]

[2018-06-06 17:35] noeldelgadom commented on #1716
I solved it by running

[code]

[2018-06-06 17:35] #1716 closed

[2018-06-06 17:38] eat-sleep-code opened #1717 "Syntax not working as documented."
I am using Angular ^6.0.3, rxjs ^6.2.0, and angularfire2 ^5.0.0-rc.10

Followed the documentation about getting mapping in the key as outlined in version-5-upgrade.md:

However having an issue where return `items.map(item => items.key);` code indicates that:

and at build time:

Here is the full code to the component.   Is there a syntax error, or is the documentation not clear as to what imports

[2018-06-06 20:41] jamesdaniels commented on #1703
Are you able to put your package.json or reproduce on stackblitz? What platform are you on?

[2018-06-06 20:41] jamesdaniels commented on #1710
This is likely from your token being empty, you have no handling for that; also you don't have to do this. Firebase will persist the login for you.

[2018-06-06 20:41] #1710 closed

[2018-06-06 22:29] jamesdaniels commented on #1711
I'm guessing rxjs 6 changed some stuff, but from what I see the tests are (for the most part) green.
We only test the database-depreciated tests manually, since they're flaky in CI.

We were advised to change our API by rxjs folks (to not extend Observable) over a year ago, which is why we made the big API change.

I'll double check things on our side, I'm guessing they changed how observeOn / sch

[2018-06-06 22:36] jamesdaniels commented on #1717
A) I don't understand the point of your return in subscribe... are you meaning to map that or assign it to a variable instead? Also returning the `.subscribe` isn't going to do what you expect, it will return the subscription not the observable or value. If you're intent is logging you should use the `tap` operator.

B) your ultimate error is because you have an extra closing curly brace at the en

[2018-06-06 22:36] #1717 closed

[2018-06-07 03:36] GideonWislang commented on #1710
The token wasn't empty and persist login doesnt seem to be automatically set up for me any solution to this?

[2018-06-07 04:03] eat-sleep-code commented on #1717
You are correct on the errant } brace.   However in regards to "A)", this is what is documented here: https://github.com/angular/angularfire2/blob/master/docs/version-5-upgrade.md

[2018-06-07 04:13] eat-sleep-code commented on #1717
Updated original request to show my current code, without console.log and the errant } brace.

[2018-06-07 04:15] eat-sleep-code commented on #1717
Figured it out, the `db` on the function was not typed.   So apparently, had issues.

[2018-06-07 04:28] eat-sleep-code commented on #1717
For anyone who runs into a similar issue...

In addition to removing the errant curly brace that @jamesdaniels  pointed out, I had to:
- type the `db` parameter of the `getNavigation` function.
- remove the subscribe() that was shown in the documentation, but was not necessary in my use case.

Here is my final working code:

`import { Component } from '@angular/core';
import { Observable}  from 'r

[2018-06-07 05:08] rtm commented on #1711
@jamesdaniels Appreciate your response.

A likely culprit.

I love changes for the better, even when they're breaking. All one can say is that with 20-20 hindsight. the original API was sort of weird in the way it overloaded observables with CRUD semantics.

I considered trying to somehow patch database-deprecated, but I ended up re-writing one of the repos which used database-deprecated, which to

[2018-06-07 13:42] elvisfernandes commented on #18
@fmontes I like your approach to mock `valueChanges()` on `AngularFireDatabase.list()`, but have you tried to mock `snapshotChanges()`?

[2018-06-07 16:01] jsariasgeek commented on #1688
Yes, you´re right

[2018-06-07 20:07] andipaetzold commented on #1701
This is not an issue of angularfire2 but with your project configuration.
Your missing the [RxJS](https://github.com/ReactiveX/rxjs) dependency. Have a look at the [official documentation](https://angular.io/guide/npm-packages) of Angular.

[2018-06-08 08:14] hiepxanh commented on #1713
wew, can successful build angular 6.0.8 with angularfire2 5.0-rc.10 on Mac OS
[repository](https://github.com/hiepxanh/angular-cli-angularfire)

[2018-06-08 14:55] eleventhaus commented on #1589
@Methy659 what was the most recent combination of angularfire2 and firebase that worked for you?

[2018-06-09 06:03] UnEpicFail commented on #1708
Hello, i have the same trouble.

node_modules/angularfire2/firebase.app.module.d.ts(5,54): error TS2694: Namespace '"/home/unepicfail/projects/roster/node_modules/firebase/app/index"' has no exported member 'app'.
node_modules/angularfire2/firebase.app.module.d.ts(8,26): error TS2694: Namespace "/home/unepicfail/projects/roster/node_modules/firebase/app/index"' has no exported member 'auth'.
node_

[2018-06-09 08:59] audacitus commented on #1717
in the spirit of passing it on like @eat-sleep-code, you need to use a `return` statement in the `map` function inside the pipe to avoid any `undefined` errors in your subscribe.

Thanks @eat-sleep-code. You saved my day with this example.

Here's my working code example:

`private db : AngularFireDatabase`

[code]

[2018-06-09 13:53] jaswanth1998 opened #1718 "error while compling"
`ERROR in node_modules/angularfire2/firebase.app.module.d.ts(2,42): error TS2305: Module '"/Users/apple/Desktop/FML_firebase_work-master/node_modules/firebase/index"' has no exported member 'functions'.`

i had updated my project 5 to 6 this error came

[2018-06-09 15:20] sagarpdev6 commented on #1708
Same issue with angularfire2 5.0.0 rc 10 and firebase 5.0.4

[2018-06-09 15:33] kenken64 commented on #1688
omg ! can we have a backward compatible version ?

[2018-06-09 15:33] MartinNuc commented on #1707
Finally I got rid of that thing. I am not exactly sure what was the cause but after upgrading to new angularfire2 I had some problems with imports and I googled to install some packages from `@firebase/...` after that I got `app.auth() is not a function.

Today I removed those dependencies. So related things in my `package.json` are:

[code]

but then I got error: `Module not found: Error: Can't r

[2018-06-09 17:20] dioubernardo opened #1719 "Problems with autentication"
Base in this example https://github.com/hellotunmbi/angular2-authentication-firebase i implement the facebook autentication, all work fine, but when I install the application on the mobile the authentication stops working.

### Version info
**Angular:** 6.0.4
**Firebase:** 5.0.4
**AngularFire:** 5.0.0-rc.10

### How to reproduce these conditions
Para visualizar o erro basta utilizar https://pedido

[2018-06-09 22:30] tiagolimpe commented on #1688
@cfkarthick Thanks! Worked for me!

[2018-06-10 01:02] ericel commented on #1705
Any solution to this yet?

[2018-06-10 02:35] kenken64 commented on #1718
yes i have this error also !

[2018-06-10 02:35] kenken64 commented on #1718
https://github.com/angular/angularfire2/issues/1688

[2018-06-10 02:42] kenken64 commented on #1688
This doesn't work for me angularfire2 5.0.0-rc.7
firebase 4.12.1

[2018-06-10 08:46] andreagosto commented on #1688
what a mash! but angularfire is not an official Angular lib?

[2018-06-10 11:05] technbuzz commented on #1688
I had to go back to old pc where the project is working with existing environment setup and continue developing from that machine.

I am experiencing this issue in ionic, so the next solution might be to create new project using ionic4 and move old project to new one

[2018-06-10 12:50] Chan4077 commented on #1718
@kenken64 You should probably consider checking the comment thread before commenting that. https://github.com/angular/angularfire2/issues/1688#issuecomment-392205266

[2018-06-10 20:12] mappedinn opened #1720 "angularfire2@5.0.0-rc.10 .snapshotChanges() not able to let you get the doc.payload.doc.data()"
### Version info

**Angular:** 6.0.4

**Firebase:** 5.0.3

**AngularFire:** 5.0.0-rc.10

[code]

### How to reproduce these conditions
Have a look on [the angular project ng-angular6-angularfire5.0.0-rc.10](https://github.com/mappedinn/ng-angular6-angularfire5.0.0-rc.10)

Just clone, install and serve.

### Debug output
The issue is coming from the function in that line [L20](https://github.com/ma

[2018-06-10 23:14] kenken64 commented on #1688
what if we need to launch our project asap ? tell my bosses ionic 3 need to upgrade to 4 need another 2 months re rest everything because of this silly bug ?

[2018-06-11 04:31] juanlet commented on #1635
Could you describe the solution? I'm having trouble with that line for --aot option....Which are the steps to replace     AngularFireModule.initializeApp(environment.firebase) statement? since it's the line is breaking the build

[2018-06-11 04:46] mohamedshameer commented on #1707
@MartinNuc what version of @firebase/app are you using

[2018-06-11 06:53] paulstelzer commented on #1635
Update to the latest version of angularfire2, there this issue is fixed

[2018-06-11 08:29] albertvp commented on #1708
+1

[2018-06-11 09:31] TimGeerts commented on #1708
I've got the same issues (had them a few weeks back, fixed it, have it again).

"firebase": "^5.0.4",
"angularfire2": "^5.0.0-rc.4"

[2018-06-11 09:49] mappedinn commented on #1720
Issue solved:

the correct way to get access to these properties (starting from angularfire2@5.0.0-rc.9) is:

[code]

[2018-06-11 09:49] #1720 closed

[2018-06-11 11:04] ericel commented on #1705
I am actually using that! But am still getting the error.

[2018-06-11 11:57] vincent-cm commented on #1713
Had downgrade angularfire2 to 4.0.0-rc.6.0 and firebase to 4.12.1, and it worded @hiepxanh thanks for your demo project, I did not use ng cli, probably the latest webpack I am using is not compatible with this version of @firebase SDKs

[2018-06-11 12:05] juanlet commented on #1635
I fixed the issue but i had to put angularfire2 initialization in providers array, otherwise it was not fixed....I have the last version

[2018-06-11 12:19] MurhafSousli commented on #1687
Any update on this! I cannot delete files by the URL!!!

[2018-06-11 12:24] MurhafSousli opened #1722 "How do you Delete file from Firebase Storage"
### Version info

**Angular:** 6.0.3

**Firebase:** 5.0.4

**AngularFire:** 5.0.0-rc.10

**Other (e.g. Ionic/Cordova, Node, browser, operating system):** Windows

### How to reproduce these conditions

**Steps to set up and reproduce**

[code]

### Debug output

** Errors in the JavaScript console **

`
FirebaseStorageError {code_: "storage/invalid-argument", message_: "Firebase Storage: Invalid a

[2018-06-11 12:29] MurhafSousli commented on #1722
It worked like this
[code]

[2018-06-11 12:29] #1722 closed

[2018-06-11 12:50] GuilhermeSanches commented on #1708
I solved with these versions

  "firebase": "4.12.1",
  "rxjs": "5.5.10",
  "angularfire2": "^5.0.0-rc.6"

[2018-06-11 12:59] TimGeerts commented on #1708
"firebase": "4.5.0"
"angularfire2": "5.0.0-rc.4"
fixed it for me, for now

[2018-06-11 14:39] albertvp commented on #1708
Had to upgrade to ngx6 and cover backwards compatibility with rxjs-compat...
[code]

[2018-06-11 17:21] JoseCed opened #1723 "How to get the key of a record o doc with firestore"
### Version info

**Angular:6**

**Firebase:**

**AngularFire:**

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

Hi, I am implementing in login with google and it works well, the next step is to save that user data in my bd (firestore) and I do it but when I am in the registration page and I press the login with Google I create as many records as I press that button. I want to g

[2018-06-11 19:44] jamesdaniels commented on #1723
switchMap the user Observable and use doc(user.uid). If that doesn't get you far enough, I'd suggest StackOverflow as we reserve issues for feature requests and bugs.

[2018-06-11 19:44] #1723 closed

[2018-06-11 21:18] dioubernardo commented on #1719
My code is very similar, but i not use ionic is only angular with install option.

But I discovered that the promise is not executed in the return of the authentication.

`export class AuthService {
  constructor(private _firebaseAuth: AngularFireAuth) {
  }
  login(): Promise<any> {
    return this._firebaseAuth.auth.signInWithRedirect(
      new firebase.auth.FacebookAuthProvider()
    );
  }

[2018-06-11 22:13] someguy314 commented on #110
@EddyVerbruggen @kinggolf
Is there any news on this endeavour, now that nativescript-plugin-firebase is on version 6 or did a different solution pop up regarding AngularFire2 and NativeScript?

[2018-06-11 22:42] Gregorio19 commented on #1209
is working for me with the map inside the pipe()
thanks
 i am in the last version of rxjs and firebase ( 11/06/2018)

import {
  AngularFirestore,
  AngularFirestoreCollection,
  AngularFirestoreDocument
} from 'angularfire2/firestore';

import { Observable } from 'rxjs/Observable';
import { map } from 'rxjs/operators';

this.tasks = this.tasksCollection.snapshotChanges().pipe(
    map(changes =>

[2018-06-12 01:19] MurhafSousli opened #1724 "collection returns only 1 record after adding a new record"
### Version info

**Angular:** 6.0.3

**Firebase:** 5.0.4

**AngularFire:** 5.0.0-rc.10

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

**Ionic:** 3.9.2

***

I am trying to create a posts service with AngularFire2, Everything works well and the results are as expected.

The problem occurs when I add a new post and query the collection again, I get only the recently added post i

[2018-06-12 02:05] MurhafSousli opened #1725 "Infinite scroll doc"
Is there any plan to add an `infinite-scroll.md` in [firestore docs](https://github.com/angular/angularfire2/tree/master/docs/firestore), I am having hard times since a while to get a reliable infinite scroll behavior.

Combining the first collection of posts observable with the next collection of posts observable in one stream seems to be complicated with AngularFire2 and I can't find any up to d

[2018-06-12 02:22] hiepxanh commented on #1725
did you miss [this](https://angularfirebase.com/lessons/infinite-scroll-firestore-angular/) ?

[2018-06-12 11:32] rtm opened #1726 "Documentation issue in AngularFireStorage"
The [AngularFireStorage](https://github.com/angular/angularfire2/blob/master/docs/storage/storage.md#monitoring-upload-percentage) page claims that there is a `getDownloadURL` method on `AngularFireUploadTask`, but in fact there seems to be no such method.

On a different note, I am puzzled by why the `getDownloadURL` method which does exist on `AngularFireStorageReference` would be designed to re

[2018-06-12 12:33] MurhafSousli commented on #1726
They changed it in the recent update
[code]

[2018-06-12 13:24] rtm commented on #1726
@MurhafSousli Sorry, is this code I'm supposed to write, or the new code in the system? So is the documentation indeed wrong, as I thought? Where is `onTaskComplete` documented? What is `_ref` or `_task` and are those things I'm supposed to or allowed to use?

[2018-06-12 13:44] MurhafSousli commented on #1726
@rtm This is the code you are suppoused to write, (it is my usage in my [ngx-fire-uploader plugin](https://github.com/MurhafSousli/ngx-fire-uploader)).

When I updated to firebase 5.x, I had to change the way I get the downloadURL.

[2018-06-12 14:00] MurhafSousli commented on #1725
@hiepxanh yes, ofcourse, infact that is the only video you can find on the whole internet.

It is similar to my implementation and it has this bug #1724. once a new record is added, the `snapshotChanges()` will only emit that new added post. and this bug is caused by the `take(1)` in that tutorial code.

**Should I remove the `take(1)`?**

If I did, it works but then the whole implementation will

[2018-06-12 15:16] davideast commented on #1724
Hi @MurhafSousli. Your code for this example is a bit complex. I'm not certain if the problem is with AngularFire or your service. Can you create a stackblitz of this problem so it's easier for me to debug?

[2018-06-12 15:18] davideast commented on #1715
Hi @MurhafSousli. `FieldPath` is a type whereas `FieldValue` is an object. We recommend using the Firestore SDK for getting the server timestamp like you showed above.

[2018-06-12 15:18] #1715 closed

[2018-06-12 17:23] MurhafSousli commented on #1724
It was fixed when I implemented it in the [stackblitz](https://stackblitz.com/edit/ionic-posts-pagination?file=pages%2Fhome%2Fhome.ts). Looks like I had something wrong in my project

[2018-06-12 17:23] #1724 closed

[2018-06-12 18:46] MartinNuc commented on #1707
firebase: 5.0.4
angularfire2: 5.0.0-rc.10

[2018-06-12 21:50] dioubernardo commented on #1719
I created a test sample https://github.com/dioubernardo/firebaseAuth

How it was created
ng new firebaseAuth
cd firebaseAuth
npm install firebase angularfire2 --save

To test you have to correct the data in environment

When clicked on login with popup the promise is executed when executed with redirect the promise is not executed. This is normal?

[2018-06-13 02:13] kinggolf commented on #110
@someguy314 - nothing on my end, but I'm still a huge fan of AngularFire2!

[2018-06-13 02:18] hiepxanh commented on #1708
do not upgrade to firebase 5 with` angularfire2 rc7 `below

[2018-06-13 09:45] rodkar opened #1727 "AngularFirestoreCollection regularly returns duplicate of records after inserting a new record"
### Version info

**Angular:** 6.0.0

**Firebase:** 5.0.4

**AngularFire:** 5.0.0-rc.10

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

### How to reproduce these conditions
I have created a stackblitz project at https://angular-yqcp9s.stackblitz.io . I have not been able to reproduce the problem 100%, but I would say close to 90%. Duplicates are not shown in Firebase's actual d

[2018-06-13 14:57] #1727 closed

[2018-06-13 16:25] rodkar opened #1728 "AngularFirestoreCollection sometimes returns duplicate of records after inserting a new record"
### Version info

**Angular:**6.0.0

**Firebase:**5.0.4

**AngularFire:** 5.0.0-rc.10

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

### How to reproduce these conditions
I have created a firebase app at https://gallery-fb2f9.firebaseapp.com to reproduce the problem . I have not been able to reproduce the problem 100%, but I would say close to 90%. Duplicates are not shown in F

[2018-06-14 01:55] hiepxanh commented on #1728
the behavior make me confuse too, angularfire 2 actions very weird, I console log it and the data change like this:

after add 1 item, it got twice response !!!!!!!!!!
1-1) 1 items
1-2) 12 items
then I add again more:
2-1) it show 13 items
2-2) then 25 items

![screen shot 2018-06-14 at 8 37 13 am](https://user-images.githubusercontent.com/16970990/41386920-4f7d44c8-6fae-11e8-984a-2c3406688d7e.png

[2018-06-14 02:07] hiepxanh commented on #1719
aw

i'm from Viet Nam, are you block my country?
did you add facebook key?
![screen shot 2018-06-14 at 9 06 32 am](https://user-images.githubusercontent.com/16970990/41387668-59043e1c-6fb2-11e8-9962-b88a9e34fc29.png)

[2018-06-14 05:32] juanlet opened #1730 "onAuthStateChange doesn't get called If I delete a user from the firebase console"
I tried to put a breakpoint to the auth listener, if I delete a user using the api then I get the update on my auth listener, If I delete the user from the console then I don't get the update. Any idea why??

[2018-06-14 05:32] miluksandrades opened #1731 "what am I doing wrong?"
**task.components.ts**:

      map(changes =>
        changes.map(c => ({
          key: c.payload.key,
          razaoSocial: c.payload.val(),
          tipo: c.payload.val(),
          dtCriacao: c.payload.val(),
          descricao: c.payload.val(),
          Status: c.payload.val()
        })
        )
      )
    )

**task.components.html**:

`<tr *ngFor="let task of tasks | async">
      <td

[2018-06-14 15:04] inorganik commented on #1604
You are correct, `GeoPint` is not implemented. 🍻

[2018-06-14 16:32] agil-NUBBA commented on #1682
Had your same problem, my whole Angular app broken due to this.

[code]

in my case, in safari, the key line was:

[code]

MS Edge prints the error, but surprisingly doesn't stop the app.

[2018-06-14 17:07] miluksandrades commented on #1731
No need, I already found the solution

[2018-06-14 17:07] #1731 closed

[2018-06-14 21:36] PeterDavidCarter commented on #1593
Why should I have had to install a new npm package to fix and issue with a previously perfectly working repo when no changes to the code in the repo were made. This should not happen.

[2018-06-15 02:56] hiepxanh commented on #1730
please follow the issue template, we cannot help you with out any code, picture, minimum repository

[2018-06-15 15:40] ElecTreeFrying commented on #343
With `Angular v6`, `Firebase v5.0.*` and `angularfire2 5 rc 10` you can do something like this.

[code]

Directly with `AngularFireAuth`'s `authState` just pipe it down and check if user is not equal to null `[1]`.

1. `authState` returns `Observable<firebase.User>`
2. `canActivate()` returns `Observable<boolean> | Promise<boolean> | boolean`
3. subscribing to `authState` will emit `null` if not a

[2018-06-15 16:43] Ploppy3 opened #1732 "feature request: ML Kit"
Hello,
I don't see anything related to Firebase's ML Kit, therefore I would like to ask if you plan to support it?

[2018-06-15 17:56] RichardZandi commented on #1405
I've tried the suggested defer workaround. It doesn't work for me. The firebase request doesn't fire after a first subscribe.  Perhaps, I'm not implementing the defer workaround correctly. This is my code:

getList(pth): Observable<any[]> {
        return  Observable.defer(() => this.fs.list<any>(pth).valueChanges());
    }

Thanks

[2018-06-15 17:58] NightwareSystems commented on #186
@TorajKhavari That might be because of the recent changes in RxJS, try the following:

`import {tap} from "rxjs/operators"; // I believe tap replaces do now, gotta confirm`

Also, now to use those operators, you need to use the `pipe()` for chaining like:
`.pipe(tap(data => console.log('All: ' + JSON.stringify(data))))`

This link should give you a good summary of the changes that appeared in RxJS

[2018-06-18 04:33] isurendrasingh opened #1733 "Update the Angularfire2 Ionic 3 Docs"
Update Request: Please update the Angularfire2 Ionic 3 docs page [here](https://github.com/angular/angularfire2/blob/master/docs/ionic/v3.md)

Behavior: As the Angularfire2 v5+ rc10 requires rxjs6, the ionic 3 app requires older version of rxjs.

[2018-06-18 09:29] hiepxanh commented on #1733
`npm install --save rxjs-compat` can help you?

[2018-06-18 09:42] hiepxanh commented on #1719
both login successful with me ?

[2018-06-18 10:21] texano00 commented on #761
Hi @davideast

i've supposed that `af` is of type AngularFireDatabase but `af.database.list` doesn't exist.

Thanks

[2018-06-18 11:29] texano00 commented on #1567
Hi @carlosacabrera
I've tried your solution but the method `database` seems to not accept any params.
[ts] Expected 0 arguments, but got 1.

I've tried it with @5.0.0-rc.10 and @5.0.0-rc.6.0

[2018-06-18 14:31] dancornilov opened #1734 "Error when initializeApp"
<img width="929" alt="screen shot 2018-06-18 at 5 27 17 pm" src="https://user-images.githubusercontent.com/24212761/41542130-e828f7c8-731c-11e8-9870-f4e647ef6f33.png">

When i add config options and try to initializeApp i have this errors.

`import {AngularFireModule} from 'angularfire2';
import {AngularFirestoreModule} from 'angularfire2/firestore';

const config = {
  apiKey: 'exampleofapikey-tC

[2018-06-18 14:34] #1734 closed

[2018-06-18 20:04] snaveenkumareee commented on #1353
I ran into same issue. i am not able to fetch the data before a pointer. i need this endbefore if i am navigating to page 1 from page 2. i need to fetch page 1 records, passing the page 2 first record.

@bob-lee I am confused with your reply. is this a bug and addressed with a code change? or am i wrong in using the API.
i am using angularfire2@5.0.0-rc.10

@George35mk please suggest me the soluti

[2018-06-18 20:09] andipaetzold commented on #1732
ML Kit is only available for iOS and Android (see [docs](https://firebase.google.com/docs/ml-kit/)).
Before angularfire2 can support ML Kit it needs to be implemented in the [Firebase JavaScript SDK](https://github.com/firebase/firebase-js-sdk).

[2018-06-18 22:45] dioubernardo commented on #1719
Okay, both do sign, but to close the popup promise is resolved, and the return redirection the promise is not resolved.

In my last commit I followed the guide https://angular.io/guide/service-worker-getting-started

[code]
The link https://the-best-dev.firebaseapp.com/ is with this version

If I run in desktop browser - OK
If I add the PC home screen - OK
If I run in the mobile - Error

I know th

[2018-06-18 23:54] #1732 closed

[2018-06-19 06:55] hiepxanh commented on #1706
is that work? can you close this issue?

[2018-06-19 09:41] Bendrog opened #1735 "Error for Angularfire2 installation"
I had an error while runnning this line on my CLI:

"npm install firebase angularfire2 --save"

### Version info

**Angular:** 5.2.11
**Node**: 8.11.2
**OS :** win32 x64

**Firebase:**

**AngularFire:**

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

### How to reproduce these conditions

Here are the logs I've got:
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Progra

[2018-06-19 09:48] Ploppy3 commented on #1732
@jamesdaniels I understand why you aggressively close most of the issues. But sometimes it's not a solution. You could at least wait till we get the answer from the Firebase JavaScript SDK team. It also help prevent other users from opening similar issues. And if the Firebase JavaScript SDK team approve, you will have to reopen it anyway.

[2018-06-19 13:59] vitor9 commented on #1593
@miaupip Thanks! The error is gone.

[2018-06-19 14:04] bogacg commented on #1464
Quick question @jamesdaniels :

do I still have to set & watch a meta-data in db and then trigger `user.getIdToken(true)` from client-side as expressed in example [here in docs](https://firebase.google.com/docs/auth/admin/custom-claims) to get updated token. Or token updates are now automatically propagated behind the scenes now?

[2018-06-19 15:55] alanent commented on #1078
HI, Someone can help me please ?
 https://stackoverflow.com/questions/50931526/display-data-from-firebase-with-angularfire2

[2018-06-19 15:57] alanent commented on #558
Hi some one can help me please ? https://stackoverflow.com/questions/50931526/display-data-from-firebase-with-angularfire2

[2018-06-20 01:00] syncreticudon commented on #1397
Getting this error with:
"angularfire2": "^5.0.0-rc.10",
"firebase": "^5.0.4",

[2018-06-20 01:08] syncreticudon commented on #1410
I think this error is back. Getting it on brand new project:
"angularfire2": "^5.0.0-rc.10",
"firebase": "^5.0.4",

[2018-06-20 01:15] hiepxanh commented on #1735
i dont see the error here, just a mess of log :(

[2018-06-20 06:34] just67 commented on #1180
"How are beginners supposed to learn this?"
same goes for me. it's very confusing with all those changes in the last 6 months and no useful up-to-date example.

[2018-06-20 09:33] hiepxanh commented on #1685
why it take too long to approve this wonderful PR

[2018-06-20 09:48] FergusZhou opened #1736 "Angular 6 getDownloadURL() error can't catch"
I'm facing issue when getDownloadURL() to no exist file.

### Version info

**Angular:"^6.0.2"**

**Firebase:"^5.0.4"**

**AngularFire:"^5.0.0-rc.10"**

**Other (e.g. Ionic/Cordova, Node, browser, operating system):
Node: v9.11.1
**

### How to reproduce these conditions

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**

    const ref = this.storage.ref(`images/${fileName}`);

[2018-06-20 11:31] davideast commented on #1685
@hiepxanh Due to a regression in AngularFire rc10. Jeff and I have been syncing behind the scenes.

[2018-06-20 13:38] sandygithub17 commented on #1001
I used angularfire2 latest version( "angularfire2": "^5.0.0-rc.10") and  firebase version ("firebase": "^5.0.4")
but I have like this **has no exported member'AngulerFireAuthModule'**`

[2018-06-20 14:20] Bendrog commented on #1735
[Solved]

Here is what I did:

**1.** It was an error related to Python. Saying it didn't find Python's executeble.
So i downloaded python2.7

**2.**ran "npm install firebase angularfire2 --save"

**3.**I then had an Error related to visual studio c++
So i've downlded whatever they wanted me to install.
Did nothing satisfying

**4.** What worked for me was to install node-gyp dependencies :
npm in

[2018-06-20 14:56] phc0615 commented on #1078
I got similar questions too.
https://stackoverflow.com/questions/50950576/ionic-firebase-how-to-get-and-show-data-from-firebase-references-nodes-using

[2018-06-20 15:45] syncreticudon opened #1737 "ERROR in Error: Metadata version mismatch for module */node_modules/angularfire2/index.d.ts, found version 4, expected 3, resolving symbol AppModule"
I believe issue #1397  is back. Brand new project. Running:
"angularfire2": "^5.0.0-rc.10",
"firebase": "^5.0.4",

[2018-06-20 17:32] davideast commented on #1737
Hi @syncreticudon. We're going to need more information than that help. Can you please follow the issue template so we can figure out what's going on?

[2018-06-20 17:52] jamesdaniels commented on #1705
Fixed in rc.11

[2018-06-20 17:52] #1705 closed

[2018-06-20 18:32] syncreticudon commented on #1737
@davideast I was running old versions of CLI and Angular. I updated all and now everything seems to be working. Closing issue.

Thanks!

[2018-06-20 18:32] #1737 closed

[2018-06-20 19:08] fayeyen opened #1738 "Upload file to firebase storage has error on Ms Edge, but works on Chrome and firefox and safari"
The error of uploading file on Edge as follow
ERROR Error: Uncaught (in promise): TypeError: Function expected TypeError: Function expected at Anonymous function (eval code:115:33) at SafeSubscriber.prototype.__tryOrUnsub (eval code:248:13) at SafeSubscriber.prototype.next (eval code:195:17) at Subscriber.prototype._next (eval code:136:9) at Subscriber.prototype.next (eval code:100:13) at Subject.

[2018-06-20 22:23] fayeyen commented on #1738
I found the problem, is ng2-img-max not work on edge, if I not use resize the image the upload work fine in all the browser.

[2018-06-20 22:23] #1738 closed

[2018-06-21 01:20] hiepxanh commented on #1685
thank you for your answer, sorry for my impatience. I'm very happy to hear that. 😄 happy

[2018-06-21 01:28] hiepxanh commented on #1735
I think that did you check the following step here ? [install angular cli](https://github.com/angular/angularfire2/blob/master/docs/install-angular-cli-windows10.md) did you resolved your problem?

[2018-06-21 01:28] hiepxanh commented on #1736
is it work @FergusZhou ?

[2018-06-21 02:34] FergusZhou commented on #1736
@mohamedaboelmagd Thanks for your kindly help.

What I need is that catch the Firebase errors log and not output in console. I found that there is a similar issue https://github.com/angular/angularfire2/issues/595 here. It looks like it can't implement?

[2018-06-21 02:53] hiepxanh commented on #1718
@jaswanth1998 hello, I just got that error too, if you update project with` angularfire2@5.0.0-rc.11` and `firebase^5.0.3` with small fix at [here](https://github.com/firebase/firebase-js-sdk/pull/951)  can help your issue

[2018-06-21 03:09] hiepxanh commented on #1736
can you show your firebase console, I believe that your problem is. Your bucket not public for reading. You should change it like me @FergusZhou Fer

![screen shot 2018-06-21 at 10 08 43 am](https://user-images.githubusercontent.com/16970990/41695842-1c8ff604-753b-11e8-9bab-d462802a6383.png)

[2018-06-21 08:30] FergusZhou commented on #1736
Actually I am facing the issue of properly handle 404 log message in web browser console, when I trying to `getDownloadURL` of none exist file in the firebase storage. The issue is very similar with [Unable to keep Firebase exceptions from logging](https://github.com/angular/angularfire2/issues/595). We tried several ways to catch this error, but no lucky to find the solution.

We have fixed this

[2018-06-21 08:30] #1736 closed

[2018-06-21 10:05] jishadp opened #1739 "show an alert of toast when a new value pushed to the node (slotes)."
### Version info

**Angular:**  5.2

**Firebase:** 5.0.4

**AngularFire:** 5.0.0-rc.10

**ionic:** 3

## I need to show an alert of toast when a new value pushed to the node (slotes).

    this.bookingsRef = afDatabase.list('/bookings/2018-06-21/12/96/slotes/');
    this.bookings = this.bookingsRef.valueChanges();

With the above code I can listen the node and bind new values. But in my case, I wa

[2018-06-21 11:07] ThaSaltyDawg commented on #1688
WOW, this just halts my work! Has there been any updates on this issue yet, and where can I be notified when it's fixed?

[2018-06-21 13:15] johanchouquet commented on #1685
@davideast @codediodeio which regression is it ? Another quick question: would AngularFire2 lib be in version 5 or version 6 when considered stable ? just maybe to be in line with Angular / CLI / Material & CDK ?

[2018-06-21 15:14] asmaa3107 commented on #1688
I tried to uninstall all packages globally then install it again and everything going well with me

[2018-06-21 16:27] alecsawatzky opened #1740 "Offline data access using ionic app running natively on IOS"
Does this package support Firestore offline data access in a Angular2 app with Ionic 3 running natively on an IOS device?

Thanks

[2018-06-21 20:05] bfan1256 commented on #1705
It seems that I am still having this problem @jamesdaniels with the new rc.11

[2018-06-21 20:16] gayankalhara commented on #1705
![image](https://user-images.githubusercontent.com/8076584/41743220-c2a81e0e-75bd-11e8-8129-11da69029ac4.png)

Same here. I still get this issue.

![image](https://user-images.githubusercontent.com/8076584/41743255-dd034724-75bd-11e8-9cfa-8f1110ec912d.png)

`function _firebaseAppFactory(options, nameOrConfig) {
    var name = typeof nameOrConfig === 'string' && nameOrConfig || '[DEFAULT]';
    var

[2018-06-21 20:16] bfan1256 commented on #1705
I am still getting this error. @jamesdaniels

[2018-06-21 20:46] JancoBH commented on #1705
I'm still getting the `TypeError: Cannot read property 'filter' of undefined` error @jamesdaniels :(

[2018-06-21 22:09] ThaSaltyDawg commented on #1688
is this due to versions of npm libraries not being compatible? If so what version of each package is good? Should I have a certain version on Nodejs and Angular and AngularFire and Rxjs and others?

[2018-06-21 23:58] jwuliger commented on #1705
Hello, I am now getting the error myself when I try to build my `ssr prerender` using @angular/universal with the latest version of AF2. Funny enough it has been working all day. I just updated all my node modules. I usually do this every 4 - 6 hours. Not sure if that has anything to do with it.

Here is the complete and boring console log of the error step by step:
[console_error_log.txt](https:/

[2018-06-22 02:20] dioubernardo commented on #1719
Now I really do not know anything else :(

I removed all the part of the service-work which was what I thought was causing problems in authentication, and even then it is not authenticating.

I think it might be something related to opening the facebook app during the redirect.
This version with authentication problems is at https://pedidosthebest.firebaseapp.com/

Look the problem in movie
https:

[2018-06-22 05:12] juanlet opened #1742 "Linking/unlinking providers like facebook or twitter doesn't fire broadcasting of new auth state but login/logout does"
AngularFire: ^5.0.0-rc.8.1-next
 "firebase": "5.0.4",

I'm using in my service

`import { AngularFireAuth } from 'angularfire2/auth';
`

a property

`  public contributorUser: Observable<firebase.User>;
`
`    this.contributorUser = firebaseAuth.authState;
`

from a component I subscribe:

[code]

but it only fires when I use for example signInWithEmailAndPassword() or singOut() methods. If I use

[2018-06-22 08:01] hiepxanh commented on #1701
please, update your code, install rxjs 5.5

[2018-06-22 08:03] hiepxanh commented on #1707
version conflict was resolved with `firebase@5.1.0` and `angularfire2 rc 11`. Do you still have problem?

[2018-06-22 08:04] hiepxanh commented on #1708
everything work normal with `angular 6` ,  `firebase 5.1.0` and `angularfire2 rc 11`

[2018-06-22 08:06] hiepxanh commented on #1688
wew, it work again with angular 6, firebase.5.1.0 and angularfire rc 11. You have to remove node_modules before npm install

[2018-06-22 10:54] jaswanth1998 commented on #1718
no

On Fri, Jun 22, 2018 at 1:35 PM hiepxanh <notifications@github.com> wrote:

[2018-06-22 13:14] stann84 commented on #1708
i have same probleme and also
 npm update check failed                   │
│            Try running with sudo or get access             │
│            to the local update config store via            │
│ sudo chown -R $USER:$(id -gn $USER) C:\Users\stann\.config

is it a probleme to have npm update failed all time ?

[2018-06-22 19:09] jbgomez21 commented on #1740
Yes, it works
I have a ionic 3 app (android and iOS) and offline access data works great

Greetings

[2018-06-22 20:26] bfan1256 opened #1744 "enablePersistence() does not work with Angular SSR"
### Version info

**Angular:**
`6.0.3`

**Firebase:**
`5.1.0`

**AngularFire:**
`5.0.0-rc.9`

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**
`OS: macOS High Sierra 10.13.5`
`Node Version: 8.9.0`

**Steps to set up and reproduce**
In `app.module.ts`,
import: `AngularFireModule.initializeApp(environment.firebase)`,
and `AngularFirestoreModule.enablePersistence()`,

In `app.componen

[2018-06-22 21:06] alecsawatzky commented on #1740
Thanks for the response. What are the benefits of using this 3rd party plugin vs. the Firecloud web SDK from google in an Angular2 with Ionic 3 project?

Thanks

[2018-06-22 21:09] phpet opened #1745 "Firestore does not work with Angular Universal and AngularFire2 on Firebase Functions"
**Angular:**
`6.0.6`

**Firebase:**
`5.0.4`

**AngularFire:**
`5.0.0-rc.10`

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**
`OS: Windows 10`
`Node version: 8.11.2`

**Steps to set up and reproduce**

Clone this repository: https://github.com/phpet/ssr

npm run build:ssr
firebase deploy

### Debug output

** Errors in the Firebase Functions logs **

[code]

** Screenshots **

http

[2018-06-22 23:01] ZeroxDark commented on #1688
i tried  angularfire2 5.0.0-rc.11 and firebase": 5.1.0
it doen´t work ,the error is "/node_modules/firebase/index"' has no exported member 'functions'."

[2018-06-23 00:46] jgan42 opened #1746 "Invalid object with afDb.object.valueChanges in switchMap"
### Version info

**Angular: ~6.0.0
**Firebase: 5.0.4 and 5.1.0
**AngularFire: ^5.0.0-rc.11
**Rxjs: 6.2.1

The observable returned by AngularFireDatabase can't be returned by switchMap operator's callback.
I tried a few combinations of versions and I figured out that this bug is only produced with Firebase 5.0.4 and above.

I don't get this error with :
Angular 6.0.0 to 6.0.6
Firebase 5.0.3
Angula

[2018-06-23 01:21] hiepxanh commented on #1688
I have the same error until have to delete `node_modules/firebase` and `node_modules/angularfire2` with `package.lock`. You should check the package.json of the library in node_modules. It wont update event you install new one.

[2018-06-23 04:10] DevJoseWeb commented on #1387
{
    "name": "firestarter",
    "version": "0.0.0",
    "scripts": {
        "ng": "ng",
        "start": "ng serve",
        "build": "ng build --prod",
        "test": "ng test --watch false",
        "lint": "ng lint",
        "e2e": "cypress open",
        "build:all": "ng build --prod && ng run firestarter:server && npm run webpack:prerender && npm run prerender",
        "serve:prerender":

[2018-06-23 16:02] jamesdaniels commented on #1742
authState is only trigger on sign in/out as of Firebase 4. `.user` is what you're looking for.

[2018-06-23 16:02] #1742 closed

[2018-06-23 22:05] dioubernardo commented on #1719
Something has changed in the last few days and authentication has started to work correctly.
One difference I saw, is that now authentication is no longer opening in the facebook APP, but a m.facebook.com link

[2018-06-24 04:59] robert-king opened #1747 "ValueChanges not returning all data."
### Version info

"@agm/core": "^1.0.0-beta.2",
    "@angular/animations": "6.0.5",
    "@angular/cdk": "^5.2.5",
    "@angular/common": "6.0.5",
    "@angular/compiler": "6.0.5",
    "@angular/core": "6.0.5",
    "@angular/forms": "6.0.5",
    "@angular/http": "6.0.5",
    "@angular/material": "^5.2.5",
    "@angular/platform-browser": "6.0.5",
    "@angular/platform-browser-dynamic": "6.0.5",

[2018-06-24 14:29] davideast commented on #1747
@robert-king Can you create a stackblitz recreating the problem so I can debug?

[2018-06-24 14:29] davideast commented on #1746
@jgan42 Can you create a stackblitz to recreate the problem so I can debug?

[2018-06-24 14:34] davideast commented on #1745
@phpet This unfortunately a known issue with Cloud Functions and AF2. We are working on a fix.

It's not surprising that AngularFireLite worked as it simply just switches to REST calls on the server. This is a quick fix but it becomes more complicated with authentication. It also increases the bundle size of the application since you're shipping two network clients. A fun fact here is that Angular

[2018-06-24 14:36] davideast commented on #1744
@bfan1256 That fix would work, but it would introduce bytes on the client that belong on the server. The error indicates that Firestore calls begin before `.enablePersistence()`. I think we can fix it by ensuring `.enablePersistence()` is called before any Firestore methods on the server. I'll sync up with @jamesdaniels (who wrote 100% of the SSR code) to figure out what's going on.

[2018-06-24 14:37] davideast commented on #1739
Hi @jishadp! This is a question that belongs on Stackoverflow, since we try to keep this repo to only bugs. Don't worry though we have an active Stackoverflow community to help.

[2018-06-24 14:37] #1739 closed

[2018-06-24 14:37] #1740 closed

[2018-06-24 14:37] #1735 closed

[2018-06-24 14:38] davideast commented on #1730
@juanlet You likely did not enable auth in the console. Please follow the issue template in a new issue if the problem persists.

[2018-06-24 14:38] #1730 closed

[2018-06-24 14:38] #1725 closed

[2018-06-24 14:39] #1718 closed

[2018-06-24 18:09] swftvsn commented on #1696
I think it should be noted, in the documentation also, that the switch to timestamp will be a permanent one, and the use of Date objects in model interfaces/classes is discouraged. While you convert your models and write bunch of angular pipes etc. to directly deal with Timestamp, you CAN restore the old functionality by adding this provider in your app.module.ts file:

[code]

Where the value for

[2018-06-24 22:48] juanlet commented on #1730
Yo missread my question. This does not require any code display. The listener is being called if user logs in or out. But if I link or unlink a provider like facebook or twitter the listener doesn't receive the new state, hence the data is not being broadcasted if a user links or unlinks a provider( all of this being logged in)....

[2018-06-24 22:49] juanlet commented on #1742
Can you give an example?

[2018-06-24 23:05] bfan1256 commented on #1744
Awesome thanks @davideast!

[2018-06-25 03:47] jwuliger commented on #1705
Why was this closed? This is still an occurring issue in RC.11. Using my own node server I still get this error. Any help or direction to a workaround or anything would be greatly appreciated. Thanks!

[2018-06-25 04:38] gayankalhara commented on #1705
@jwuliger Can you try removing `package-lock.json` and running `npm install` again?

[2018-06-25 05:00] jwuliger commented on #1705
@gayankalhara Hello! Thanks for your reply. Yes, I have done that several times. I have tried Yarn and NPM, clearing cache and all that fun stuff. Just when I think I have found the issue, it reveals itself again in a different form. This must be something I am not configuring correctly. However I have done this several time before without issue. If I share my `repo`, would you be willing to take

[2018-06-25 08:36] mohamedshameer commented on #1707
Thanks @hiepxanh its working fine now .

[2018-06-25 08:46] hiepxanh commented on #1707
@mohamedshameer moha good to know that!
@rtm do you still have that problem?

[2018-06-25 11:27] cweblogix opened #1748 "Angularfire2 valueChanges().subscribe is not working in angular 6"
"dependencies": {
    "@angular/animations": "5.2.11",
    "@angular/common": "5.2.11",
    "@angular/compiler": "5.2.11",
    "@angular/compiler-cli": "5.2.11",
    "@angular/core": "5.2.11",
    "@angular/forms": "5.2.11",
    "@angular/http": "5.2.11",
    "@angular/platform-browser": "5.2.11",
    "@angular/platform-browser-dynamic": "5.2.11",
    "@ionic-native/core": "4.7.0",
    "@ionic-nat

[2018-06-26 01:19] desainr commented on #1748
I am getting an error with this too.

`    this.db.list<Player>("/Players").valueChanges().subscribe((data) => {
      list = data;
    });`

The error I'm getting in the console is

`TypeError: Object(__WEBPACK_IMPORTED_MODULE_1_rxjs__["of"]) is not a function. (In 'Object(__WEBPACK_IMPORTED_MODULE_1_rxjs__["of"])(snapshotAction)', 'Object(__WEBPACK_IMPORTED_MODULE_1_rxjs__["of"])' is an instance

[2018-06-26 13:50] arthurgsf commented on #1748
Same error on trying to retrieve data as list

[2018-06-26 14:08] arthurgsf commented on #1748
npm install rxjs@6 rxjs-compat@6 --save
it solved for me.

[2018-06-26 15:59] phpet commented on #1745
@davideast thanks for the update.

Unfortunately, ever since you started that "[server side frender](https://www.youtube.com/watch?v=gxCu5TEmxXE)" video last September, I tried again and again and could never quite make SSR work on Firebase Functions. So, you see, somehow it's your fault. :)

Now, I was able to make it work on Node8 in App Engine but I really like the simplicity and ease of mind o

[2018-06-26 17:58] kamran-mushtaq commented on #1292
@egalot  I added toDate() and now shows the date in the correct format. But I get the following error in console: `TypeError: Can not read property 'toDate' of undefined`

[2018-06-27 00:37] dioubernardo commented on #1719
I'll close the case, because I believe the problem was elsewhere.
The videos will stay to document the case, however the domain the-best-dev.firebaseapp.com will no longer contain the codes.

[2018-06-27 00:37] #1719 closed

[2018-06-27 17:29] wilfried11 commented on #1748
# using `angularfire2": "^5.0.0-rc.11`
got a same error but after installation of `rxjs@6 rxjs-compat@6 promise-polyfill`

       `this.db.list('/customers').valueChanges().subscribe((datas) => {
    console.log("datas", datas)
    },(err)=>{
       console.log("probleme : ", err)
    });`

## Work for me

[2018-06-27 17:59] rfreethy commented on #1736
Is there any known solution to this?

[2018-06-28 17:36] DarshanGowda0 commented on #1292
Is there a way to convert Date to Timestamp object ? As @kamran-mushtaq mentioned we get the following error in all the MaterialDatePickers which use ngModel for binding.

[2018-06-28 17:45] hungerregnuh commented on #1746
Just ran into this issue also with another dev, where are you importing switchmap and of from?  check that it's `rxjs` and `rxjs/operators`

[2018-06-28 22:21] amgoun opened #1750 "Firebase Storage Firebase Storage upload image error angular 6"
when i try to upload image to clod storage i got this error even if  the image uploaded to storage

FirebaseStorageError {code_: "storage/object-not-found", message_: "Firebase Storage: Object 'post/ladybug-156624_960_720.png' does not exist.", serverResponse_: "{↵  "error": {↵    "code": 404,↵    "message": "Not Found.  Could not get object"↵  }↵}", name_: "FirebaseError"}
code
:
(...)
code_
:
"s

[2018-06-29 01:30] hiepxanh commented on #1750
can you check this issue ? [image issue](https://github.com/angular/angularfire2/issues/1736). Did you open security rules on firebase console?

[2018-06-29 03:00] hiepxanh commented on #1733
@isurendrasingh  thank you for showing us that problem. I just made an [PR](https://github.com/angular/angularfire2/pull/1721/commits/08e0ea47e00853c08908be9864aa6d0ab53792bc) for this issue

[2018-06-29 03:45] #1733 closed

[2018-06-29 07:26] Geowan opened #1751 "Subscribing to changes throws an error"
I have the following in my package.json
       "firebase":''^5.20"
       "angularfire2": "^5.0.0-rc.11",

Am trying to subscribe to changes in my firebase node by

        constructor(private _af: AngularFireDatabase){}
         ngOnInit(){
           this._af.list<any>('/registered').valueChanges().subscribe(()=>{
               console.log("there are new changes");
           })
       }

THe a

[2018-06-29 12:28] Abhishek-Bhole opened #1752 "The .map Function doesnt seem to work"
import { Component } from '@angular/core';
import { IonicPage, NavController, NavParams } from 'ionic-angular';
import { AngularFireDatabase } from 'angularfire2/database';
import { Observable } from 'rxjs';

/**
 * Generated class for the ChatPage page.
 *
 * See https://ionicframework.com/docs/components/#navigation for more info on
 * Ionic pages and navigation.
 */

@IonicPage()
@Component({

[2018-06-29 13:30] Feestig commented on #1439
I've been stuck on this for a while too. I managed to work around it.

The approach underneath is based on the documentation but throws an unexpected & (for me) unsolvable error in this firebase or angularfire version.

"ERROR Error: [object Object] at viewWrappedDebugError ..."

On my page (.ts)
`
    this.task = this._imgUploadProvider.uploadImage(path, this.imageToUpload)
    // get notified wh

[2018-06-29 13:59] SkopeTN commented on #1593
Thank you very much @miaupip !

[2018-06-29 16:12] amgoun commented on #1750
Hi , thank you for your help.
finally i realized why i get this error only when i upload big images size. because the query looking for the url of image in storage before the upload is finished . so he return null.
any help how i make a condition  to searching url in storage after the upload is finished. ????
thank you

[2018-06-30 01:31] hiepxanh commented on #1750
I believe that David East have [wonderful post](https://blog.angular.io/file-uploads-come-to-angularfire-6842352b3b47) about this. I copy a small code from his blog:

[code]

[2018-06-30 09:25] Vatsov opened #1753 "Metadata version mismatch for module for prod"
### Version info

**Angular:** 4.1.3

**Ionic-Angular:** 3.6.1

**Firebase:** 5.2.0

**AngularFire:** 5.0.0-rc.11

with Firebase: 4.9.0 and AngularFire: 5.0.0-rc.6 was the same

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

    @ionic/cli-utils  : 1.19.2
    ionic (Ionic CLI) : 3.20.0

global packages:

    cordova (Cordova CLI) : 8.0.0

local packages:

    @ionic/app-scripts

[2018-06-30 11:01] jgan42 commented on #1746
Hi,

The auto import gave me this :
`import {switchMap} from 'rxjs/internal/operators';`

effectively it works well with :
`import {switchMap} from 'rxjs/operators';`
Tested with firebase 5.0.4 to 5.2.0.

My bad, thanks for your time.

[2018-06-30 11:02] #1746 closed

[2018-06-30 11:09] Dinodanio commented on #672
Set is destructive. Look here https://github.com/angular/angularfire2/blob/master/docs/rtdb/objects.md

[2018-06-30 18:30] amgoun commented on #1750
Hi @ hiepxanh ok thank you so much :)

[2018-06-30 20:52] DavidCGarcia89 opened #1754 "Error: permission denied"
Hi, I'm developing an Ionic App with Firebase.

I made a Authentication page where you can log in.

Then, to get data from the Firebase once I Log In I'm using this function:

`this.afDB.list<Dispositivo>(uri).valueChanges()
    .subscribe( lista => {
      console.log(lista)
      this.listaDispositivos = lista;
      this.numDispositivos = lista.length;
    })`

The problem comes when I try to l

[2018-07-01 07:36] hiepxanh commented on #1750
yeah man, can you close your issue?

[2018-07-01 16:09] doczoidberg opened #1755 "this.af.list(...).valueChanges is not a function on RTDB"
### Version info
**Angular:**
6.0.7

**Firebase:**
5.2.0

**AngularFire:**
 5.0.0-rc.11

[code]
throws the error:
`core.js:1624 ERROR TypeError: _this.af.list(...).valueChanges is not a function`

typescript also says:
error TS2339: Property 'valueChanges' does not exist on type 'FirebaseListObservable<any[]>'.

[2018-07-01 16:15] doczoidberg commented on #1755
my fault, i used deprecated database

[2018-07-01 16:15] #1755 closed

[2018-07-01 20:32] sondresorbye0111 opened #1756 "Firebase auth: authState observable emits unlimited empty user objects"
I am signing out of firebase from my angular app with:
`constructor(private afAuth: AngularFireAuth) {
   this.user$ = afAuth.authState;
 }
  logOut() {
    this.afAuth.auth.signOut().then(() => this.router.navigate(['login']));
  }`
When I sign out, chrome freezes completely.
### Actual behavior
I have found out that the problem is that the this.user$ observable emits unlimited empty user objects

[2018-07-01 20:39] sondresorbye0111 commented on #1752
The object prototype has no map method. You should just iterate though the array with:
`this.s=this.db.object('/chats').valueChanges().subscribe(data =>{
	for (let elem in data) {
        this.messages.push(elem);
}
	})`

[2018-07-01 22:45] anasbaddyr commented on #1705
Using rc.11 i went to angularfire2/firebase.app.module.js
I changed
`import * as firebase from 'firebase/app';`
to
`import  firebase from 'firebase/app';`
I´m not sure how much of a fix this is but there seems to be a reference error to the firebase/app.
This fixed the issue for me and prerendering works again.

[2018-07-02 05:32] arikanorh opened #1757 "Login/Logout/Login sequence remembers old login credentials"
### Version info

**Angular:**
"^6.0.3"

**Firebase:**
"^5.2.0"

**AngularFire:**
"^5.0.0-rc.11"

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

### How to reproduce these conditions

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**

**Steps to set up and reproduce**
I'm using angularfire2 authentication with GoogleAuthProvider. The authentication works like

[2018-07-02 08:52] maktarsis commented on #1745
Is there any news?

Please solve it.

[2018-07-02 12:52] doczoidberg opened #1758 "rtdb example Pipe does not return anything"
Version info
Angular:
6.0.7

Firebase:
5.2.0

AngularFire:
5.0.0-rc.11

I have a problem with the angularfire2 rtdb example:

https://github.com/angular/angularfire2/blob/master/docs/rtdb/lists.md

[code]
does work, but when using the pipe I always get no results:

[code]

[2018-07-02 14:03] doczoidberg commented on #1758
strange, now it works. not sure what changed

[2018-07-02 14:03] #1758 closed

[2018-07-02 18:18] ArthurianX commented on #1708
I just realized, after trying my hand at this error for the past few days ...  no matter what version combination I tried the errors were the same.

I realized I still had `@types/firebase` installed, read about it, found out it's deprecated, and now `firebase 5.1.0` and ` angularfire2  -rc11` works perfect.

[2018-07-02 21:21] trentjones21 commented on #1747
I can confirm that this is a problem.  It would be nice if there was a way to disable the cache completely for an individual query.  Something like

[code]

This appears to be how it works when using firestore directly.  I can't seem to find a way to do it with angularfire2 though.  Here is the relevant firestore documentation:

https://firebase.google.com/docs/reference/js/firebase.firestore.GetO

[2018-07-02 21:26] jomendez opened #1759 "serve"
Open by mistake, can't find a way to remove it, please delete this issue

[2018-07-02 22:40] robert-king commented on #1747
It would be cool to show progress too - e.g. show some things quickly from the cache, but have a loading spinner to show while more results are being fetched from the server.

[2018-07-02 23:04] davidheis opened #1760 "afAuth and switchMap return object instead of stream"
### Version info
 "@angular/cli": "~6.0.7",

"firebase": "^5.2.0",

"angularfire2": "^5.0.0-rc.11",

### How to reproduce these conditions

cant reproduce on github without my firebase credientials
https://github.com/davidheis/brighthill/tree/master/brighthill

**Sample data and security rules**

export class AdminService {
  user$: Observable<any>;
  userUID;
  constructor(
    public afAuth: Ang

[2018-07-02 23:26] samtoonisi opened #1761 "AngularFireDatabase does not retrieve data from firebase"
I've been looking for a solution for this issue for a solid two weeks, and I'm yet to be able to find a solution.
At this point, I have tried all documentation available online. Please help. Link below:
https://stackoverflow.com/q/51126463/10018517

[2018-07-03 01:02] YerlinMatu commented on #491
😄
`const user = account.currentUser;
       const credentials = Firebase.auth.EmailAuthProvider.credential(
          user.email,
          this.currentPassword
        );
        user.reauthenticateAndRetrieveDataWithCredential(credentials)
          .then(() => {
            updatePassword(this.newPassword)
              .then(() => {
                app.dialog.alert('your password was successfu

[2018-07-03 01:30] hiepxanh commented on #1708
@ArthurianX Art haha, good to know that.
@naveen-me is it work now sir?

[2018-07-03 01:31] hiepxanh commented on #1759
@jomendez  please click close issue button

[2018-07-03 07:31] vithanidarpan commented on #1761
Getting same error. Also getting warnings in the project like below.
    `npm ERR! peer dep missing: @angular/common@^6.0.0, required by angularfire2@5.0.0-rc.11
npm ERR! peer dep missing: @angular/core@^6.0.0, required by angularfire2@5.0.0-rc.11
npm ERR! peer dep missing: @angular/platform-browser@^6.0.0, required by angularfire2@5.0.0-rc.11
npm ERR! peer dep missing: @angular/platform-browser-d

[2018-07-03 10:44] jgan42 commented on #1760
Hi, I had a similar issue, in my case it was a wrong import of switchtMap. maybe it may help :
#1746

[2018-07-03 11:32] #1759 closed

[2018-07-03 11:34] davideast commented on #1757
Hi @arikanorh. I'm not sure what code you're using so it's hard to tell you if you're using the right approach. However, if you've already accepted access on the Google profile it won't require you to accept access for every login. If you have further questions ping the official JS SDK repo as AngularFire is just a wrapper around auth. https://github.com/firebase/firebase-js-sdk/

[2018-07-03 11:34] #1757 closed

[2018-07-03 11:35] davidheis commented on #1760
thankyou so much!

[2018-07-03 11:35] #1760 closed

[2018-07-03 13:02] Bielik20 opened #1762 "Bug: doc(...).snapshotChanges does not return DocumentChangeAction"
### Version info

**Angular:** 6.0.3

**Firebase:** 5.1.0

**AngularFire:** 5.0.0-rc.11

**Other:** Windows 10, browser (chrome)

### How to reproduce these conditions

Subscribe to any DOCUMENT with "snapshotChanges". Eg:
[code]

### Debug output

![image](https://user-images.githubusercontent.com/13436218/42220665-ea39d078-7ecf-11e8-9570-6bc4b1680e25.png)

### Expected behavior

According to [do

[2018-07-03 14:51] yugank1991 commented on #1705
it is not working yet..Anyone has a solution of it ?

[2018-07-03 16:13] beautifulboy11 opened #1763 "percentChanges() only emitting the first value 0, and the last 100, no intermediate values"
### Version info

**Angular:**

**Firebase:**

**AngularFire:**

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

### How to reproduce these conditions

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**

**Steps to set up and reproduce**

**Sample data and security rules**

<-- include/attach/link to some json sample data (or provide credentials to a sanitized,

[2018-07-03 17:59] anasbaddyr commented on #1705
@yugank1991 did you try the solution i posted above? Seems to have solved the issue for me.

[2018-07-03 22:37] AreejNour opened #1764 "save profile function return false"
//data service class
import { Injectable } from '@angular/core';
import { FirebaseObjectObservable ,AngularFireDatabase} from 'angularfire2/database-deprecated';
//import { , AngularFireObject , AngularFireList  } from "angularfire2/database";
import { Observable } from 'rxjs/Observable';
import {AngularFireModule} from 'angularfire2';
import {User} from 'firebase/app';
import {Profile} from '../m

[2018-07-03 23:05] pshields opened #1765 "collection.valueChanges sometimes returns just the last document updated, instead of the entire collection"
### Version info

**Angular:** v6.0.7
**Firebase:** v5.2.0
**AngularFire:** v5.0.0-rc.11

### Repro notes

I think this is going to take quite a while to develop a repro and figure out precisely under what circumstances it is occurring, so I wanted to log an issue and get some kind of response encouraging further investigation before doing that work. One thing I've found is that I can make the iss

[2018-07-04 00:13] pshields commented on #1765
I was able to work around this by caching the `.valueChanges()` results in a ReplaySubject in my service and just subscribing/unsubscribing from that in my various service methods. I'll go ahead and close this since I'm not planning to create a repro of the initial issue anymore.

[2018-07-04 00:13] #1765 closed

[2018-07-04 00:56] davidheis opened #1766 "The XMLHttpRequest compatibility library was not found."
Hi, Im new to universal.
first I fixed an error 'cannot read property 'filter' of undefined' by going into angularfire2/firebase.app.module.js and changing the firebase import to 'import firebase from "firebase/app" which fixed that. Now I get this new error. I saw elsewhere on github issues that this was meant to be resolved with an update to "angularfire2". But still getting it.

This error happ

[2018-07-04 01:49] wh1terose commented on #1761
Following this thread, mine also does not retrieve data anymore from firebase. It was working a week ago, now it's all effed up..

[2018-07-04 02:16] hiepxanh commented on #1764
I'm sorry, I can help you if you pate a mess of code like this. What is exactly problem?

[2018-07-04 02:18] hiepxanh commented on #1754
how do you logout?

[2018-07-04 02:19] hiepxanh commented on #1756
unlimited empty user objects => your router is looping

[2018-07-04 06:47] ninthdecimal-dev1 commented on #1705
@anasbaddyr
I have tried with **import firebase from 'firebase/app';**
 but it is giving error related to export

[2018-07-04 09:08] Omar-Qalei opened #1767 "Angularfire2 how can retrieve images array stored in database and show in html"
in console

imagesURLArray
[
0 : {name: "data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAAQABAAD…I6ms1+Tkjr5Ah8cvjdzaO5+lNI3Tk9z/Mfhwf+uWHHv4//9k="} // URL  image after upload in Angularfire 2 database
1 : { "imageURL  1" }
2 : { "imageURL  2" }
3 : { " imageURL  3 " }
4 : { "imageURL 4 " }
]

i tried used ngFor such as
<div *ngFor="let itemof itemArray">
  <img *ngFor="let url of imageURLArray" [src]=

[2018-07-04 09:09] Omar-Qalei commented on #1767
<div *ngFor="let itemof itemArray">
  <img *ngFor="let url of imageURLArray" [src]="image"></div>
</div>

[2018-07-04 09:09] Omar-Qalei commented on #1767
*ngFor="let itemof itemArray"
  img *ngFor="let url of imageURLArray" [src]="image"

[2018-07-04 09:23] kanafghan commented on #1745
I would really love for this to be fixed :-|

Have been trying to make it work the past 2 days.

[2018-07-04 11:30] bfan1256 commented on #1744
Any updates on a fix yet @davideast ?

[2018-07-04 11:51] davideast commented on #1763
Hi @beautifulboy11! I need a lot more information before providing help. Could you provide a brief sample of code? A repo on stackblitz? How large is your file? Some small files can be uploaded in one shot. However, AngularFire is a wrapper around the JS SDK. [File your issue here](https://github.com/firebase/firebase-js-sdk/) if it persists and try to include the information listed above. Thanks!

[2018-07-04 11:51] #1763 closed

[2018-07-04 11:52] #1752 closed

[2018-07-04 19:08] sondresorbye0111 commented on #1756
The problem was with my router module configuration. Thanks

[2018-07-04 19:08] #1756 closed

[2018-07-04 23:48] AreejNour commented on #1764
at the first I was using

profileObject: FirebaseObjectObservable;

// FirebaseObjectObservable and database(AngularFireDatabase) imported from "'angularfire2/database-deprecated';" because it is not found at "angularfire2/database"

constructor(private database:AngularFireDatabase) {

}
//the fuction saveProfile always return false and I don't know why
async saveProfile(user:User , profile:Profil

[2018-07-05 07:08] hiepxanh commented on #1756
yeah, good to know that.

[2018-07-05 07:15] DavidCGarcia89 commented on #1754
I'm using: AngularFireAuth

I build the constructor of the class with:

[code]

And then use it here:

[code]
  logout(){
    this.afAuth.auth.signOut().then(()=>{
    // hemos salido
    })
  }

[2018-07-05 10:48] IsaacSomething commented on #1678
Worked for me, needed to update firebase to 4.13.1

[2018-07-05 15:46] xcash opened #1768 "Authentication not working in NWJS (node-webkit)"
### Version info

**Angular:** 6.0.3

**Firebase:** 5.0.4

**AngularFire:** 5.0.0-rc.11

**Other (e.g. Ionic/Cordova, Node, browser, operating system):** NWJS v0.30+

### How to reproduce these conditions

As the setup is not trivial I created a small repository demonstrating the problem. It uses docker and docker-compose.
The repository is at https://github.com/xcash/angularfire2-auth-issue

**St

[2018-07-05 22:21] jwuliger commented on #1705
I have tried everything is well. All suggestions including the one from @yugank1991. Prerendering and SSR does not work with Firebase Hosting/Cloud Functions. I can't speak for anyone else but I am also not able to get it to work on my workstation using a simple NodeJS Server. I don't understand why this issue was closed as many people are having problems with it. Is there something that I am miss

[2018-07-05 22:58] ananbetak opened #1769 "Firebase problem"
I Am not sure this is related to angularfire2 ..

But it is yes related to firebase ..

Some Strange thing is hapenning ..

I Am trying to delete document from firebase, the problem is
even when the ID, isn't found on the collection
It gives me back , a successfull msg.

is it a bug on firebase ???

    DeleteOrganization(id) {
        return this.afs.collection('organizations').doc(id).delete()

[2018-07-06 01:31] jwuliger commented on #1705
Update -

Found the issue for me. @yugank1991 Your solution was what led me to find out that I needed to add an additional import.

**Instead of:**

`import * as firebase from 'firebase/app';`

**I changed the imports to:**

[code]

Now I can run SSR on any Node server. I am still in the process of testing the firebase function for hosting. If you would like to see this working in real-time check

[2018-07-06 08:09] ghost opened #1770 "Ionic: Uncaught (in Promise)....probably relating to NgZone.runOutsideAngular"
### Version info

**Angular:** 5.2.11

**Firebase:** latest

**AngularFire:** latest

**Ionic:** latest

### How to reproduce these conditions

**Steps to set up and reproduce**
Setup a new project and initialize the Firebase app, import AngularFireStore
and setup a simple homepage containing only:
[code]
and my "store" is not even called yet

**Sample data and security rules**
No data in Database

[2018-07-06 09:03] younesdiouri opened #1771 "AccessToken of credential AuthProvider error"
# Version info
Angular:6.0.5

Firebase: latest

AngularFire: latest

# How to reproduce these conditions

## Steps to set up and reproduce

Setup a new project and initialize the Firebase app, import AngularFireStore :

-  Setup an authService with **AngularFireAuth** (oAuth : Google, Facebook or Twitter).

Sample data and security rules
Signin once with oAuth to have a user in the database  - sec

[2018-07-06 16:36] jgan42 commented on #1769
Hi,

I'm not familiar with firestore but if it works like rtDb,

I think .delete method is like .set(null).  It doesn't care if the data is here or not, it just delete it,

The Promise might fail only if the request can't reach the server, like if you are offline.

[2018-07-07 08:32] ziyaddin commented on #1707
@hiepxanh unfortunately, your version suggestion did not work. I personally use `angularfire2@5.0.0-rc.3` and `firebase@4.8.0` and it works fine. You can use it as an alternative.

[2018-07-07 10:26] umeshblader3 opened #1772 "When i launch angular ssr in nginx, I get this error. If there any solution for this?"
Node server listening http://localhost:4000
ERROR TypeError: zone.runOutsideAngular is not a function
    at new AngularFirestore (/home/ubuntu/app_frontend/ecosoftlk/dist2/node_modules/angularfire2/bundles/firestore.umd.js:156:31)
    at _createClass (/home/ubuntu/app_frontend/ecosoftlk/dist2/node_modules/@angular/core/bundles/core.umd.js:10981:20)
    at _createProviderInstance$1 (/home/ubuntu/a

[2018-07-07 13:35] KgotsoK commented on #1736
Also facing this issue!!!

Tried the hardest to kill the 404 exceptions logged in the console. No luck. This is an actual issue. If the file doesn't exist, yes throw an exception, but don't log it regardless.

[2018-07-07 17:20] sondresorbye0111 commented on #621
I have this issue now

[2018-07-07 19:06] Maistho opened #1773 "limitToLast and 'child_added' do not work together"
### Version info

**Angular:** 6.0.7

**Firebase:** 5.2.0

**AngularFire:** 5.0.0-rc.11

### How to reproduce these conditions

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**

See this stackblitz

https://stackblitz.com/edit/angular-nm6r3a?file=app%2Fapp.component.ts

**Steps to set up and reproduce**

[code]
When using limitToLast and 'child_added' the limit is not kept afte

[2018-07-08 16:00] apamies commented on #1708
For this issue I executed
"npm dedupe"
then uninstall and reinstall the exact version of firebase and angularfire2 (in my setup was: firebase@4.12.1  &&  angularfire2@5.0.0-rc.6.0) and this issue was solved.

[2018-07-08 18:10] jrodl3r commented on #1500
Just ran into the same issue. 🤞on a good solution...

[2018-07-08 19:48] alexdabast commented on #1705
@jwuliger unfortunately this is not working for me.
Could you confirm the npm package that you are using and why do you need to import firebase that way ? to use messaging ?

Thanks

[2018-07-08 20:48] garyee commented on #651
As had this exacte problem and this page came up on google and was the only good solution:
Update the RXJS Lib changed, it is:

    import { take } from 'rxjs/operators';

    this.af.database.object('sections/max_cap')
    .pipe(take(1))
    .subscribe((data) => {
          console.log("Setting..");
          let newData = data.$value + table.max_seats;
          this.af.database.object('section/

[2018-07-09 04:47] guptasanchit90 commented on #1353
I tried this today and found the same issue with both endAt and endBefore. My quick workaround to this was to pass order by with 'asc' for getting next page and 'desc' for previous page.

[code]

This is not the ideal code, but for prototyping purpose this should save your day.

[2018-07-09 11:34] jwuliger commented on #1705
Hello @alexdabast Judging from what is working for others in this issue, my best guess is that it must be environment/package related.

I am not currently using Firebase Messaging. My issue was using Firebase with AngularFire2 in dynamic SSR and/or generative prerendering with Angular Universal.

My environment is:

[code]

Also from my last comment, you can pull the app I am working on in questio

[2018-07-09 11:44] alexdabast commented on #1705
Thank you I made it work by downgrading to angularfire2 to rc9 so for me I think there is still something wrong in the rc10/11 release

[2018-07-09 11:53] jwuliger commented on #1705
@alexdabast Yes, that was another solution. I wanted to use the latest RC.11 build though. I am glad you have everything squared away now!

[2018-07-09 13:15] chunkingz opened #1774 "How to retrieve a document id for a collection"
Hi guys, nice work but i am finding it difficult getting the document id from my firestore database...this is a snippet

`     this.businessCollection = this.fb.collection<Ibusiness>('businesses');
     this.businesses = this.businessCollection.valueChanges();
     console.log(this.businesses);
`
 which returns an Observable i can loop through, but apparently using let i=index in the for loop, doe

[2018-07-09 13:45] arikanorh commented on #1774
You need to use snapshotChanges instead of valuechanges

[2018-07-09 17:47] cbstodd commented on #1278
Thank you for posting your code @EduardoIbarra. Helped big time.

[2018-07-10 08:48] younesdiouri commented on #1771
I found finally a counter way to get accessToken without getting the error message for those who still have it :
[code]
(not reaching it with dots but with brackets) 🥇

[2018-07-10 08:48] #1771 closed

[2018-07-10 15:29] JancoBH commented on #1745
Is there any news? :(

[2018-07-10 17:02] jamesdaniels commented on #1745
While we are diagnosing troubles with the Cloud Functions enivornment, I'd
suggest spinning your code up on AppEngine.

On Tue, Jul 10, 2018, 8:29 AM Janco Boscan <notifications@github.com> wrote:

[2018-07-10 18:10] Kamshak commented on #1705
@jamesdaniels i'm getting this error with rc.11 as well any chance you could look into it again? See above for others with the same issue

[2018-07-10 18:53] alejandrobovino opened #1775 "Typescript error rxjs"
I have an old proyect with Angularfire2 2.0.0-beta.2 ionic2, node version 6.14.3.
The problem when compile are a lot of Typescript errors, all under node_modules/angularfire2/node_modules/rxjs/ folder

I think maybe angularfire2 has a wrong version. any help with this?

[2018-07-11 02:11] patrickmichalina commented on #1745
Server side auth has still not been addressed for both firestore and rtdb. No repo owners have given help for this issue in this or other tickets.

[2018-07-11 03:10] jamesdaniels commented on #1745
@patrickmichalina let's keep it on topic here please.

[2018-07-11 10:06] florent1933 commented on #1567
@texano00 , I have the same problem. Did you resolve this?

[2018-07-11 11:47] Kamshak commented on #1669
I'm getting this with rc.9 and firebase 5.2.0

[2018-07-11 12:30] Kamshak opened #1776 "Working Configuration"
Hey, does anyone have this working at the moment with universal & normal hmr build?
I'm running into all kinds of issues (some have been closed but are still present) and i'm getting to the point where I have absolutely no idea how to get this to run on the 5.0 version.

If you have it working could you share your lock file and package versions? (firebase, rxjs, zone.js and  angularfire)

Not work

[2018-07-11 14:47] carlosacabrera commented on #1567
@texano00, @florent1933
The solution works but it does throw that typing error. It can be fixed by adding `instance?: string` to `/node_modules/firebase/index.d.ts` line 122

[code]

[2018-07-11 15:44] mskinho commented on #1473
Solution:
fetchAvailableExercises() {
    this.fbSubs.push(this.db
      .collection('availableExercises')
      .snapshotChanges().pipe(
      map(docArray => {
        return docArray.map(doc => {
          const data = doc.payload.doc.data() as Exercise;
          const id = doc.payload.doc.id;
          return {
            id, ...data
          };
        });
      }))

[2018-07-11 17:01] florent1933 commented on #1567
Thanks for your answer @carlosacabrera, it's very helpful.

[2018-07-11 18:03] Kamshak commented on #1773
i think you're looking for

```this.list$ = this.db.list(ref).valueChanges(['child_added']).pipe(first());```

[2018-07-11 18:13] Maistho commented on #1773
@Kamshak Yes, that's what I'm using, but the bug is that limitToLast should already limit to only the most recently added item.

The following code will probably work, but is a workaround that I shouldn't need.
[code]

[2018-07-11 18:41] SGissubel commented on #1473
I'm not really sure I understand the context here - without matching my nomenclature.

Plus that does't 100% apply when you have to go inside of collection, then doc, then collection, etc.

But my last one was how I solved it already.

And I was not using pipes when I created this.  Though it's a good note to go back in and update some code!

Cheers!

[2018-07-11 20:07] Kamshak commented on #1773
Limit to last will give you the last highest priority item (unless you order by child or something else) i think. It does not mean give me only last added child (1 value). See also https://firebase.google.com/docs/database/admin/retrieve-data#limit-queries

[code]
See the explanation:

[2018-07-11 23:28] Maistho commented on #1773
Thanks for a good explanation! 👍

I still think that the behaviour is somewhat confusing though, since I get only the `n` most recent values when not only listening to `child_added`.

Maybe the Observable should not emit a list, and only emit values instead? I feel like my confusion is from getting a list with a bunch of `child_added` events instead of getting each child one by one. When I've gott

[2018-07-12 15:34] tayambamwanza commented on #1774
@chunkingz hopefully this will work for you.

this.businessCollection = this.fb.collection<Ibusiness>('businesses');

this.businesses = this.businessCollection.snapshotChanges(); console.log(this.businesses);

this.business.pipe(
  map(changes => {
    const data = changes.payload.data();
    const id = changes.payload.id;
    return { id, ...data };
  })
).subscribe(changes => {
  console.log(cha

[2018-07-12 16:19] Kamshak commented on #1773
Yeah you're right that might be a bug, it seems that in the implementation of the list observable it always merges in a "value" change [1], even though "child_added" would be enough to fetch everything. Perhaps there is a reason for this, @davideast probably knows more.

[1] https://github.com/angular/angularfire2/blob/2c2fe021667b8675a6ceabb891f979c20d632570/src/database/list/changes.ts#L10

[2018-07-12 18:41] nitzuga commented on #1775
I am having issues with rxjs library update, started this week with a working project.  Followed the migration guide:
[code]

Didn't have better results.

[code]

Ionic Framework: 3.9.2
Ionic App Scripts: 3.1.10
Angular Core: ^6.0.9
Angular Compiler CLI: ^5.2.11
Node: 10.6.0
OS Platform: macOS High Sierra
Navigator Platform: MacIntel
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) Appl

[2018-07-12 18:53] alejandrobovino commented on #1775
I can´t change ionic version.

[2018-07-12 20:08] matthewharwood commented on #1688
How does this problem come up every single other version? Broken in rc `.8` fixed in `.9` broken in `.10` & `.11`?

[2018-07-12 20:12] drpain commented on #586
@hcallejas Thank you! That worked like a charm.

I thought I would share a more elaborate example for those that would like to see this in action.

[code]

[2018-07-12 21:56] chunkingz commented on #1774
Hi guys, thanks for your feedback @arikanorh & @tayambamwanza , but i still get errors,
I copied the snippet and modified it, this is what i have:

  private businessCollection2: AngularFirestoreCollection<Ibusiness>;
  businesses2: Observable<any>;

     this.businessCollection2 = this.fb.collection('businesses');
     this.businesses2 = this.businessCollection2.snapshotChanges();

this.businesse

[2018-07-13 08:00] VRCorp commented on #1745
Hi @jamesdaniels, @davideast,

Without adding pressure on you, do you have a rough idea about a date for the fix to be delivered? Are we speaking about days? months?

Why this question? => to know if I can include this functionality in my next project release planned for the end of this month, or if I have to postpone it.

Thank you guys !
(and thanks for your hard work !)

[2018-07-13 10:34] Bielik20 commented on #1728
I am facing a similar issue.

Let's say we have a collection with ids:
[code]

# Correct Behavior

We do something like that:
[code]

This gives us:
[code]

Everything is fine, just as expected.

# Unexpected Behavior

However, if we do this:
[code]

This would produce:
[code]

Note that I am not printing anything from the `doc` subscription.

# Conclusion

Having subscription anywhere to a docume

[2018-07-13 16:50] Kamshak commented on #1776
Has anyone gotten this to work? I can't figure it out, i've sunk at least 8 hours into this with just 0 progress...

If anyone has any idea i'd appreciate any hint!

I've tried importing everything in my main module to make sure it's there
[code]
this seems to require every conceivable build of the thing (esm, cjs) but still once i initialzeApp i get the errors "TypeError: app.auth is not a functi

[2018-07-13 17:49] jamesdaniels commented on #1745
We've not found any bugs here, like many of the issues floating around, this is likely caused by a bad combination of node_modules.

[2018-07-13 17:55] jamesdaniels commented on #1745
The main problem is the firebase JS SDK is not developed with the intention of developers installing `@firebase/*` anything by themselves, as they are 0.x releases and unstable.

Yarn complains about missing peer deps, developer installs them, breaks everything, everyone is sad and frustrated.

There are lingering & inconsistent problems with Zone.js on Cloud Functions, with their flavor of node,

[2018-07-13 17:59] jamesdaniels commented on #1776
We released rc.11 to address this. https://github.com/angular/angularfire2/releases

Also don't directly require or install any of the `@firebase/*` modules.

[2018-07-13 17:59] #1776 closed

[2018-07-13 18:02] jamesdaniels commented on #1775
Sorry, you're using a version that's two years out of date; we don't have the bandwidth to support this. I recommend upgrading your project.

Closing, feel free to continue to discuss.

[2018-07-13 18:02] #1775 closed

[2018-07-13 18:14] Kamshak commented on #1776
Thanks @jamesdaniels, unfortunately using rc.11 doesn't seem to change anything, if I do everything by the guide

1) angularfire2 rc.11
2) firebase@^5.0.3 (matches angularfire package.json)
3) do not require any firebase modules at all
4) Import the modules
[code]

I still receive
[code]

[2018-07-13 18:20] eikooc opened #1777 "Add arguments to object() changes"
It seems like the `"child_added"`, `"child_changed"`, `"child_removed"`, and `"child_moved"` limiting events are only exposed on the `.list()` method and not `.object()` via typings.

Is that by design? If not. I'd like to file this feature request :)

[2018-07-13 20:58] tayambamwanza commented on #1774
@chunkingz Hi, did you solve your problem yet? I wrote a function that handles all this for me, would you be able to repost this problem/question to stackoverflow? Then leave a link here that I can follow. I'll post the full modified service there, it should work for you then.

[2018-07-13 21:59] tux240 opened #1778 "Use custom claims"
### Version info

**Angular:**

**Firebase:**

**AngularFire: 2

**Other (e.g. Ionic/Cordova, Node, browser, operating system): ionic 3

Hello,

Is it possible to use custom claims to add and retrieve user roles with angularfire2 ?

Thanks for your help

[2018-07-14 06:53] chunkingz commented on #1774
okay, i'll do that, my version of angularfire2 is the latest version 5.0.0-rc.11

[2018-07-14 07:02] tayambamwanza commented on #1774
@chunkingz Great I'll be on standby.

[2018-07-14 07:04] chunkingz commented on #1774
https://stackoverflow.com/questions/51336131/how-to-retrieve-document-ids-for-collections-in-angularfire2s-firestore

[2018-07-14 09:30] MohitKS5 commented on #435
If I give a type to document reference, then running update on it with multi-path gives type error. Any idea how to solve that?
[code]
this gives  `ERRORArgument of type '{ "personal/tel": any; }' is not assignable to parameter of type 'Partial<LocalUser>'.`

[2018-07-16 11:01] Devqon commented on #1775
I also get errors when using Ionic 3. Because Ionic 4 (with angular6 integration) isn't released yet, I'm forced to use angular 5 (which is in Ionic 3).
Which version of angularfire2 works with angular5?

[2018-07-16 11:04] ali125 opened #1779 "Problem with the onesignal in ionic 3"
I have problem with the onesignal in ionic 3
first I create a new project and when I add onesignal plugin , I cannot build app

same as this steps:
1- ionic start myApp blank
2- ionic cordova plugin add onesignal-cordova-plugin
3- npm install --save @ionic-native/onesignal
4- ionic cordova build --release --prod android

What should l do????

-- my command after step 4
FAILED

FAILURE: Build faile

[2018-07-16 11:05] #1779 closed

[2018-07-16 12:39] Kamshak commented on #1776
Ping @jamesdaniels, is there anything i could try or do to debug this?

[2018-07-16 14:53] nitzuga commented on #1775
Using [NVM](https://github.com/creationix/nvm) and downgrading versions of Angular, AngularFire2 and firebase y manage to get my app to work. I suggest using older versions that are still compatible until the release of Ionic 4. Apparently with Ionic 3 there's no complete rxjs6 compatibility.
With NVM I set up this environment :

[code]

This is the dependencies I am using in my **package.json** :

[2018-07-16 17:12] innovationven commented on #1635
I can`t solve the problem, please i need help :

ionic 3.20.0
cordova 8.0.0

"firebase": "^5.2.0-0",
 "angularfire2": "^5.0.0-rc.8.1-next",
  "promise-polyfill": "^8.0.0",

import { NgModule, ErrorHandler } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { IonicApp, IonicModule, IonicErrorHandler } from 'ionic-angular';
import { MyApp } from './app.component

[2018-07-16 18:02] sarunint commented on #1635
@innovationven see https://github.com/angular/angularfire2/issues/1635#issuecomment-389568397

[2018-07-16 19:55] innovationven commented on #1635
I did see that comment but the problem is the same, i don`t know what to do

[2018-07-17 00:47] sarunint commented on #1635
Please update to rc.9 or greater.

[2018-07-17 04:29] umeshblader3 commented on #1705
**Still the error comes in 5.0.0-rc.11 **
ERROR TypeError: Cannot read property 'filter' of undefined
    at _firebaseAppFactory (/Users/umeshblader/Projects/front-end/ecosoftlk-new/dist/server.js:58665:41)
    at /Users/umeshblader/Projects/front-end/ecosoftlk-new/dist/server.js:98786:66
    at ZoneDelegate.module.exports.ZoneDelegate.invoke (/Users/umeshblader/Projects/front-end/ecosoftlk-new/di

[2018-07-17 04:37] tahminabs23 commented on #1770
I also have the same issue, anyone can help here?

[2018-07-17 08:09] obermoserkitz commented on #1770
Hey there! I found a solution for that.
`npm i rxjs@^6.0 rxjs-compat --save`
and then the problem was gone :-)

[2018-07-17 17:01] TimRadder commented on #1770
This also solved it for me. Was getting this error while following along with a tutorial, thank you a lot there @obermoserkitz.

[2018-07-17 22:45] patrickmichalina commented on #621
This is still slow with latest.

[2018-07-18 05:30] Steven-Harris opened #1780 "Support retry functionality for getDownloadURL()"
### Overview
I have a page in my application where I upload an image and show the user the generate thumbnail of the image rather than the full image. When the image gets uploaded, I have a firebase function that gets triggered to generate the thumbnail.

Below is my simple upload method where I store the download path (full image) and the path (the name of what the file will be)
[code]
### Versio

[2018-07-18 15:16] Omar-Qalei opened #1781 "How can I retrieve images after upload in storage angularfire2 then stored in angularfiredatabase?"
How can I retrieve images after upload in storage angularfire2 then stored in angularfiredatabase?

I can see links   in console but can't show that in ngfor html
console :
itemList{
...//another data
...//another data
...//another data
multiImages {
0: "URL image",
1: "URL image",
2: "URL image",
3: "URL image",
4: "URL image",
 }
}

[2018-07-18 16:01] freelancersunil commented on #1466
For anyone trying this with Ionic or Cordova please consider, https://stackoverflow.com/questions/44081040/ionic2-authentication-firebase

[2018-07-18 16:10] freelancersunil opened #1782 "Runtime Error: Firebase Phone Verification with Ionic or Cordova Never Works"
### Version info

**Angular:** ionic-angular 3.9.2

**AngularFire:** 5.0.0-rc.11

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

(Cordova CLI) : 8.0.0

ionic (Ionic CLI) : 3.20.0

Android SDK Tools : 25.2.5
    ios-deploy        : 1.9.1
    ios-sim           : 5.0.8
    Node              : v8.11.3
    npm               : 6.1.0
    OS                : macOS High Sierra
    Xcode

[2018-07-18 16:13] freelancersunil commented on #1782
@team (AngularFire2) / (Firebase) is this true about Ionic or Cordova for Firebase phone Auth ?

https://stackoverflow.com/questions/44081040/ionic2-authentication-firebase

[2018-07-18 21:58] taheruddin opened #1783 "Bug: AngularFirestore.doc().valueChanges() does not return any value"
AngularFirestore.doc().valueChanges() does returns null until I make a change (manually while testing). But AngularFirestore.collection().valueChanges() returns value.

### Version info

**Angular: ^6.0.3**

**Firebase: ^5.2.0**

**AngularFire:^5.0.0-rc.11**

**npm: 5.6.0**

**node: 8.11.3**

### How to reproduce these conditions
 [Here is a repo of minimal case. ](https://github.com/taheruddin/ng

[2018-07-19 04:53] philip-firstorder commented on #1705
@jamesdaniels
Still error, I think this should be reopened
"angularfire2": "**^5.0.0-rc.11**",
"firebase": "^5.2.0",
"@angular": "^6.0.7",
"@nguniversal": "^6.0.0",

[code]

[2018-07-19 06:02] Steven-Harris commented on #1783
Your setup looks right. Can you elaborate by what you mean when you say

Could you share your collection with the document in it so we can verify the structure?

[2018-07-19 06:05] Steven-Harris commented on #1781
Please refer to the [docs](https://github.com/angular/angularfire2/blob/master/docs/storage/storage.md)
Specifically, if you save the image path available you can use .getDownloadURL() to get the full image url

[2018-07-19 06:07] Steven-Harris commented on #1778
Can you elaborate? You certainly can have a user store with users and their roles. Then you can have logic in your db rules to check for certain permissions. If use needs those claims locally they could get them from the store, although it would be good to have logic in the rules so that they can only return their own.

[2018-07-19 06:12] Steven-Harris commented on #1769
what happens if you lookup by docRef and not through the collection

[2018-07-19 06:15] Steven-Harris commented on #1751
What does your rxjs imports look like

[2018-07-19 06:44] rtm commented on #1711
Inevitably, I reached the point where I need to get my old app running, with the latest versions of firebase and angularfire2 (since it uses a library which has since been upgraded), and since I don't want to rewrite all the database logic I need to use `database-deprecated`, but this bug is preventing me from doing that. `afdb.object` returns not a `FirebaseObjectObservable` as it should, but rat

[2018-07-19 07:23] rtm commented on #1711
FYI, the buggy code in `src/database-deprecated` would most likely need to be rewritten as:

[code]

and similarly in one other place for objects.

When I forked the repo and tried to run `npm run build_npm`, which is the command shown in `publish.sh`, I was informed that there is no such npm script defined. When I try to publish with `npm publish` after doing an `npm run build`, it complains that

[2018-07-19 09:34] umeshblader3 opened #1784 "ERROR TypeError: Cannot read property 'filter' of undefined in 5.0.0-rc.11"
**Still the error comes in 5.0.0-rc.11 **
ERROR TypeError: Cannot read property 'filter' of undefined
    at _firebaseAppFactory (/Users/umeshblader/Projects/front-end/ecosoftlk-new/dist/server.js:58665:41)
    at /Users/umeshblader/Projects/front-end/ecosoftlk-new/dist/server.js:98786:66
    at ZoneDelegate.module.exports.ZoneDelegate.invoke (/Users/umeshblader/Projects/front-end/ecosoftlk-new/di

[2018-07-19 12:06] taheruddin commented on #1783
Screenshot of firebase data-
![firestore-data](https://user-images.githubusercontent.com/3476712/42940303-a4582fd4-8b61-11e8-9ad2-7c9db7361da9.png)
Just after opening the app in google chrome, it looks like this-
![ngfs-bug](https://user-images.githubusercontent.com/3476712/42940243-66ca0d90-8b61-11e8-928e-810a18182334.png)

Then I edit the firestore document slightly-
![firestor-data-changed](htt

[2018-07-19 13:36] taheruddin commented on #1783
I did not enter document id, therefore it set automatically (a random string). I will appreciate any solution or insight.

[2018-07-19 13:54] Steven-Harris commented on #1783
@taheruddin, it's the *ngIf messing it up. I not sure why but it's more of a angular async pipe issue or caveat.
[code]

[2018-07-19 15:53] patrickmichalina commented on #1778
Do you mean you want the Firebase auth JWT to contain custom claims?

[2018-07-19 18:36] davideast commented on #1784
Please use the compat library or upgrade to RxJS 6.

[2018-07-19 18:36] #1784 closed

[2018-07-20 03:39] rtm commented on #1711
A version of database-deprecated which seems to be working so far is in https://github.com/rtm/angularfire2.

[2018-07-20 03:49] jamesdaniels commented on #1711
Feel free to send open a PR, even if it's just a WIP.

[2018-07-20 04:25] umeshblader3 opened #1785 "Critical dependency: the request of a dependency is an expression"
**When i build universal, i get this error. Please help me.**

WARNING in ./node_modules/node-gyp-build/index.js 13:9-32
Critical dependency: the request of a dependency is an expression
 @ ./node_modules/bufferutil/index.js
 @ ./node_modules/ws/lib/buffer-util.js
 @ ./node_modules/ws/lib/receiver.js
 @ ./node_modules/ws/index.js
 @ ./server.ts

[2018-07-20 13:00] rajashekarreddy2222 opened #1786 "DOMException ​ while generating tokens"
filename: "webpack-internal:///./node_modules/@firebase/messaging/dist/esm/src/models/token-manager.js"
​
lineNumber: 120
​
message: "The operation failed because the requested database object could not be found. For example, an object store did not exist but was being opened."
​
name: "NotFoundError"
​
result: 2154168323

[2018-07-20 13:14] santhoshitguy commented on #1593
Thanks a lot @miaupip !

[2018-07-20 14:35] #1783 closed

[2018-07-20 21:56] JonasJW opened #1787 "Generate a Id and then use it with set operation"
### Version info

This most likely not an error but I can't figure out how to solve my problem and I couldn't find anything that actually helped me in other posts.

**Angular:** 6.0.3

**Firebase:** 5.2.0

**AngularFire:** 5.0.0-rc.11

**Other (e.g. Ionic/Cordova, Node, browser, operating system):** No

### How to reproduce these conditions

**Steps to set up and reproduce**

`const key = this.db.

[2018-07-20 23:02] itsthesteve commented on #1705
To add to this, also getting the following errors. The [change in src/core/firebase.app.module.ts](https://github.com/angular/angularfire2/commit/eed5802#diff-bdb6b409af08da485e2b960e4d9f75eaL37) looks suspect.

[code]

[code]

Did multiple rimraf and removal of lock files, etc.

Digging around the original `filter of undefined`, it's trying to access the `apps` prop, but logging that out there's

[2018-07-21 01:51] pepecachivache commented on #1602
People im getting this error! please helppp!

ERROR in src/app/feed/feed.component.ts(6,10): error TS2305: Module '"/Users/joecastro/Desktop/angular/base-chat/node_modules/angularfire2/database/index"' has no exported member 'FirebaseListObservable'.
src/app/services/chat.service.ts(56,37): error TS2345: Argument of type '{ query: { limitToLast: number; orderByKey: boolean; }; }' is not assignable

[2018-07-21 07:39] Omar-Qalei opened #1788 "I have a unique error in ng-bootstrap.github.io 'Carousel'"
my carousel doesn't responsive to [activeId] with thumbnail  , after back and click to another ads , I need refresh page to reset data then responsive activeId.
how can solve this problem without refresh page?

Note 1: no errors in console .
Note 2: I used ngFor and observable to get images of Angularfire2.

[2018-07-21 12:02] hsuanweifu commented on #280
How do you use GeoFire on Angular 6? I am getting GeoFire is not a constructor error.

[code]

[code]
<img width="1018" alt="untitled" src="https://user-images.githubusercontent.com/9949366/43035367-e5ddc60c-8ca2-11e8-8cf3-78639652cd92.png">

[2018-07-21 13:16] runtimeZero opened #1789 "Executing " “callable functions” using angularfire2"
Callable functions in firebase can be executed as below:

firebase.functions().httpsCallable('addMessage');
I am wondering what is the equivalent of this in AngularFire2. I have scanned the documents and don't see any mention of this.

If there is no equivalent then how do i obtain a handle to underlying firebase object in AngularFire2 ?

[2018-07-21 20:03] jburns24 commented on #1707
@hiepxanh I to have been running into this issue. using
firebase: 5.2.0
angularfire2: 5.0.0-rc.11
angular: 6.0.7

I have a sample app that I was trying to make this work in that you can checkout. https://github.com/jburns24/angularfire2-auth-bad-demo

[2018-07-21 20:13] Jorciney commented on #1363
https://stackoverflow.com/a/51459727/7204574

[2018-07-22 00:09] nfoote commented on #280
I'm having the same issue @hsuanweifu
I've also posted the error here https://github.com/firebase/geofire-js/issues/173
Hopefully we will hear back with a solution soon.

[2018-07-22 01:19] blithezus commented on #1306
@ravivit9  thank very much , kisses :)

[2018-07-22 06:56] Qaizer commented on #1593
Angular Update instructions specified removing rxjs-compat.

[2018-07-22 11:53] diegotham opened #1790 "FirebaseError. No document to update using set()"
### Version info

**Angular:** 6.0.3

**Firebase:**  5.0.4

**AngularFire:** 5.0.0-rc.9

**Other (e.g. Ionic/Cordova, Node, browser, operating system):** Chrome

### How to reproduce these conditions
**Steps to set up and reproduce**

When I try to set an item that didn't exist using the method "set" from angularfire2, I get an error in the console saying:

Error: Uncaught (in promise): FirebaseEr

[2018-07-23 06:44] indianazhao commented on #1700
Hi @WB3Tech , have you solved this issue?

[2018-07-23 13:21] schankam commented on #1708
The last firebase version is breaking things (5.3.0). Stay below that for now until the issue get fixed..

[2018-07-23 13:47] mazeethd commented on #1776
**possible work around: try manually initializing firebase as below**
`
firebase.initializeApp(Config)
`

i have faced a similar issue but different environment. i was working with ionic and phone authentication. the same code which was working earlier was not working with latest update with error saying default app not initialized.
this error is raised irrespective on initialization via angularfi

[2018-07-23 14:17] WB3Tech commented on #1700
Yes, thank you. I switched to RxJS 6

On Mon, Jul 23, 2018 at 2:44 AM, Indiana Zhao <notifications@github.com>
wrote:

--
Cheers,

Bill Bensing
WB3 Tech | https://wb3tech.com

[2018-07-23 19:19] atinybeardedman commented on #1789
It looks like as of RC9 they added this ability through a new module called AngularFireFunctionsModule (I was literally just coming to this repo to look for this ability as well)

You can import that module with all the other angularfire ones and then use the AngularFireFunctions object exported from it in your component. There's no documentation but it looks like there's a method called httpsCall

[2018-07-24 12:05] vincent-cm commented on #1713
**Potential bug found**

Conflict with @angular-devkit/build-optimizer/webpack-loader'

See below code snippet:

config buildOptimizerLoader
[code]

**execlude @firebase/database/dist from buildOptimizerLoader(AoT) build success in AoT mode**

[code]

But if not, the build will **freeze** at
69% building modules 1720/1726 modules 6 active …ient/node_modules/....js

**This can not be reproduced whe

[2018-07-24 13:00] waaeel commented on #643
thank you @davideast !

do you know how to combine 2 querys ?

I tried this, but it is not functioning :
[code]

[2018-07-24 13:47] vincent-cm commented on #1713
https://github.com/angular/angular-cli/issues/11639

[2018-07-24 16:56] #1790 closed

[2018-07-24 19:13] Omar-Qalei opened #1791 "Angularfire2 how to reverse data in angular 6 after push in key ' reverse() method'?"
how to reverse data in angular 6 after push in key?
I tried used reverse method but in itemArray.reverse();

[2018-07-24 22:56] Bengejd commented on #1405
I found a workaround for my chat app. Basically, when the user first entered a chat session, it would load the appropriate amount of messages, but when they left and re-entered that room (at some point), it would only load the last message they received. It was a really confusing issue, but this seems to work. I'm not sure about the repercussions of it, but for now. I'm going to use it.

 `first.a

[2018-07-25 11:03] tja4472 commented on #1787
I think you are missing some brackets.

[code]

[2018-07-25 11:29] wojtek1150 opened #1792 "__/auth/handler.js window.close after Google SignIn"
I'm not sure this is an plugin issue, but after sign in with google using `signInWithRedirect` I'm getting blank page on google with this in console:
[code]

Screenshot below
![image](https://user-images.githubusercontent.com/5401942/43198386-c6f497d8-900e-11e8-8c09-868ed3ddcbf3.png)

Anyone?

[2018-07-25 14:30] asgarli commented on #1388
Can we keep this bug open to track the upstream dependencies?

[2018-07-25 21:34] guibas741 commented on #1626
@alsit did you get it fixed? I'm facing the same problem, tried upgrading, downgrading but nothing seems to work

[2018-07-25 21:53] hamza-imran commented on #425
I get this error while working on my project
Module '"d:/Tutorials/Angular 5/Work/myauthapp/node_modules/angularfire2/index"' has no exported member 'AngularFire'.
Module '"d:/Tutorials/Angular 5/Work/myauthapp/node_modules/angularfire2/index"' has no exported member 'AuthProviders'.
Module '"d:/Tutorials/Angular 5/Work/myauthapp/node_modules/angularfire2/index"' has no exported member 'AuthMethod

[2018-07-25 21:53] hamza-imran commented on #425
Can someone help me to find out the solution??

[2018-07-26 15:21] FiringBlanks opened #1793 "Auth: Google SignInWithPopup causes MatDialog to be buggy"
This used to work fine before I upgraded my project from Angular 5 to Angular 6. Now the Google sign-in's  `signInWithPopup` seems to cause the next MatDialog popup to act weird. At times, it fails to load more than the basic elements of the dialog. Other times, it may surprisingly load the full dialog, but doesn't update the dialog when a user clicks on an element (like a checkbox) on time (it's

[2018-07-26 17:42] Noext commented on #1762
same issue on ubuntu

` this.db.collection('polls').doc(id).snapshotChanges().subscribe(poll => {})`

poll.payload  is not a DocumentChange, so you can't call .doc property to retrieve le document

[2018-07-26 22:07] philip-firstorder commented on #1705
Changed the imports and now I get these errors, this issue should for sure be reopened.

[code]

[2018-07-26 22:51] hamza-imran commented on #1619
What I have to write to install angularfire2@next

[2018-07-27 10:44] Ntshuxekani commented on #1702
Error: Uncaught (in promise): TypeError: Function expected
TypeError: Function expected

[2018-07-27 11:29] #1713 closed

[2018-07-27 13:05] lenanex commented on #1789
It seems to be working but it's not :)

`constructor(public db: AngularFirestore, public functions: AngularFireFunctions) {}
  getData(id){
    var getData =  this.functions.httpsCallable('getData');
     return getData({id: id}).then((result) => console.log(result)).catch((e)=> console.log(e));
  }
`
Doing this, sends the HTTPS request to the server but I have a "Response for preflight is invalid

[2018-07-27 20:38] DarshanGowda0 commented on #1292
Okay, the only work around I was able to come up with is using a rxjs map operator and converting Timstamp to Date objects in my firestore observables. Thanks to @codediodeio for his amazing tutorials as always.

[2018-07-28 17:19] Qarun-Qadir-Bissoondial opened #1794 "When injecting AngularFireAuth, app.auth() is not a function"
I'm a currently trying to use Angularfire2 authentication with my current angular 6 project. So I've initialized the project using AngularFireAuth.initializeApp(environment.config), I've imported AngularFireAuth module in my app.module and I've put AngularFireAuth as a provider in the app.module as well.
However, any component I try to inject AngularFireAuth into, it gives me a console error "Type

[2018-07-28 17:41] Qarun-Qadir-Bissoondial commented on #1707
@MartinNuc  When you imported auth from firebase/app, can you provide some code as to how you used the import?

[2018-07-28 21:57] emannuell commented on #280
@nfoote and @hsuanweifu Im having the same issue. How have you solved?

[2018-07-29 02:59] noilly commented on #1705
I get this error using rc9 and rx11! I fixed it by using @jwuliger's fix.

[2018-07-29 08:31] gfaganli commented on #1682
what is the alternative way for sending notifications in safari? can we use APNs with FCM ? or other solutions that related to FCM

[2018-07-29 10:45] FiringBlanks commented on #1781
This question is better asked on StackOverflow. But since you asked:

[code]

[2018-07-29 13:10] Omar-Qalei commented on #1781
I solved this problem last 2 weeks ago. 👍 using file reader and for loop.
 thanks for help.

[2018-07-29 19:46] sondresorbye0111 opened #1795 "Slow Google auth"
I am signing in to my app using Google like this:
`signInWithGoogle() {
    return this.afAuth.auth.signInWithRedirect(new auth.GoogleAuthProvider());
  }`

Then I am subscribing to the user observable and redirect if the user is signed in:
`this.sub = this.auth.user$.subscribe((user) => {
      if (user) {
        this.router.navigate(['/']);
      }
    });`
### Actual behavior
It work perfectly

[2018-07-29 22:07] FiringBlanks commented on #1781
If the issue is solved, please close it.

[2018-07-30 09:10] onepixeldev opened #1796 "How to display all child data as list"
Hi guys, I am working on an App using ionic & firebase. I need to know how to display all job list created by user on a display page

Here are the data on firebase
![3](https://user-images.githubusercontent.com/24386715/43388156-fa497b7a-941a-11e8-9458-27e55059c592.JPG)

this is ts file for display page
![1](https://user-images.githubusercontent.com/24386715/43388264-43fb6ea4-941b-11e8-9a4d-205919

[2018-07-30 17:11] sulco commented on #1676
Hey, I think it would be great to start even (or: especially) with having `ng add angularfire2` command available that would
- install the module
- prepare configuration object to be filled
- and setup the module

If you're opened to it, I would gladly help with this one (I've already prepared analogous part on other projects)

[2018-07-30 17:16] codediodeio commented on #1676
@sulco That would be amazing. I've not had the time recently to move this forward. Just having `ng add` would be a valuable addition.

[2018-07-30 17:30] sulco commented on #1676
Great, I'm on it then - should have a PR within the next couple of days.

[2018-07-30 17:44] ShoaibCubix opened #1797 "Cache not updating"
I am a newbie to angularfire so pardon me if I am asking something stupid and i will be thankful if someone will guide me through it. I have this code

this.afs.collection('users', ref => ref.where('user_id', '==', userId)).snapshotChanges().map(actions => {
        return actions;
      });
    })

The problem is the data in action is always an old one. The SnapshotMetadata always has fromCache:t

[2018-07-30 18:01] davideast commented on #1797
Hi @ShoaibCubix Please use stackoverflow for questions like this.

[2018-07-30 18:01] #1797 closed

[2018-07-30 18:02] davideast commented on #1796
Hi @onepixeldev, Please use stackoverflow for questions like this.

[2018-07-30 18:02] #1796 closed

[2018-07-30 18:03] davideast commented on #1795
Hi @sondresorbye0111! This repo is a wrapper around auth please raise your issue with the official SDK if it still persists. Auth is a time consuming process so it can take 5 seconds on slow connections.

[2018-07-30 18:04] davideast commented on #1793
Hi @FiringBlanks. This is not an issue that we can pin down with a few lines of code. I recommend opening an issue on stackoverflow to get help from the community. Reproducing with a stackblitz will be helpful as well.

[2018-07-30 18:04] #1793 closed

[2018-07-30 18:05] davideast commented on #1792
Hi @wojtek1150, Please use stackoverflow for questions like this.

[2018-07-30 18:05] #1792 closed

[2018-07-30 18:05] #1791 closed

[2018-07-30 18:05] davideast commented on #1789
We are getting docs on this soon!

[2018-07-30 18:05] #1788 closed

[2018-07-30 18:06] davideast commented on #1786
Please follow the issue template so we can properly help you. Closing this one but feel free to open a new one.

[2018-07-30 18:06] #1786 closed

[2018-07-30 18:07] #1787 closed

[2018-07-30 18:07] davideast commented on #1785
Please use the issue template so we can properly help you. Closing this one, but feel free to open a new one that follows the template.

[2018-07-30 18:07] #1785 closed

[2018-07-30 18:08] davideast commented on #1780
Hi @Steven-Harris! This does sound like a good feature, but we are swamped with other tasks at the moment. If you'd like to create a proposal that we can review that would be awesome! I'm closing this now but feel free to open a proposal.

[2018-07-30 18:08] #1780 closed

[2018-07-30 18:11] davideast commented on #1777
Object is only value by design. What use case do you have for needing events on an object?

[2018-07-30 18:11] #1781 closed

[2018-07-30 18:11] #1774 closed

[2018-07-30 18:13] davideast commented on #1773
@Kamshak Child added is not enough to fetch everything. We need to know what the "initial state" of the list. That way we only emit the array once the "initial state" is in place.

[2018-07-30 18:13] #1767 closed

[2018-07-30 18:13] #1754 closed

[2018-07-30 18:14] davideast commented on #1751
Please use the issue template so we can properly help you. Closing this one, but feel free to open a new one that follows the template.

[2018-07-30 18:14] #1751 closed

[2018-07-30 18:14] davideast commented on #1761
Please use the issue template so we can properly help you. Closing this one, but feel free to open a new one that follows the template.

[2018-07-30 18:14] #1761 closed

[2018-07-30 23:27] chovy commented on #281
I get an error that `auth.currentUser` doesn't exist.

[2018-07-30 23:30] chovy opened #1798 "Example of crud for user-specific collections?"
i'm trying to set a collection of items for each user, that only the user has access to.

I need some crud examples on how to manage this list.

it will be balances in an account for example. with different currencies having different balances.

[2018-07-31 07:13] sondresorbye0111 commented on #1795
@davideast, this problem does not occur in vanilla js. The problem is that the user observable emits the user object very late even after the user has been redirected back from Google login page.

[2018-07-31 10:12] johanchouquet opened #1799 "npm run build fails on Windows"
My initial intention was to contribute by submitting a PR. But, I ran into some issues on some points which are needed to do so:

### Version info

**Angular: 6.1**

**Firebase: 3.17.4**

**AngularFire: 5.0-rc.11**

**node: 9.5.0**

**Other (e.g. Ionic/Cordova, Node, browser, operating system): no**

*My OS: windows 10***

**Steps to set up and reproduce**

- I just forked the repository
- then I

[2018-07-31 10:42] Omar-Qalei opened #1800 "Angularfire2 how can I retrieve data between min and max price"

[2018-07-31 11:08] phc0615 commented on #281
use firebase.auth().currentUser

[2018-07-31 11:17] Omar-Qalei commented on #1800
[code]

[2018-07-31 16:10] #1800 closed

[2018-07-31 16:11] #1778 closed

[2018-07-31 16:12] #1764 closed

[2018-07-31 16:15] #1706 closed

[2018-07-31 16:29] #1770 closed

[2018-07-31 18:40] davideast commented on #1795
What version are you on for Angular, AngularFire, RxJS, and Firebase JS? This may be a zones issue.

[2018-07-31 19:13] sondresorbye0111 commented on #1795
"@angular/core": "^6.0.5",
"angularfire2": "^5.0.0-rc.10",
"rxjs": "^6.2.1",
"firebase": "^5.0.4"

[2018-08-01 11:17] digitaldynamics commented on #576
Thanks @arielcessario , I have fixed it..

[2018-08-01 12:31] davideast commented on #1795
Can someone create a stackblitz the shows the problem? I haven't ran into it myself

[2018-08-01 13:41] psrcek opened #1801 "[Feature Request] Crashlytics support"
Pretty self explanatory, log any errors that occur (console.error) to firebase crashlytics.

[2018-08-01 16:03] joaqcid commented on #1744
Im getting a similar error with Hot Module Replacement enabled

[2018-08-01 18:02] davideast commented on #1801
I would love this too, but Crashlytics is currently only iOS and Android. When/If it comes to the web we will support it sooooooooo fast.

[2018-08-01 18:02] #1801 closed

[2018-08-01 18:14] davideast commented on #1744
Hey @bfan1256 @joaqcid! @jamesdaniels is working on excluding this from the SSR builds. Stay tuned!

[2018-08-02 03:31] mikhailmelnik commented on #1747
Spent a few hours yesterday debugging same thing, ended up with the following snippet illustrating the issue:
[code]
with output `[N]`, `{...}`, `[1], [N]` where N/1 is the reported collection length, so if I add `take(1)` to the last line which was my original intention I would never receive the full collection.

As a workaround started using underlying `firestore` which allows to set a source:

[2018-08-02 08:44] Omar-Qalei opened #1802 "Angularfire2 database how can I equalTo() leaf nodes array ?"
Angularfire2 database how can I use equalTo() leaf nodes array ?
area ={ area1 , area2 , area3 }
` for (let _i = 0; _i < area .length; _i++) {
      const outDoorFeatures = this.db.database.ref( 'NewYork' ).orderByChild( 'Area' ).equalTo( area [ _i ]  )
        .on('value', function (snapshot) {
        console.log(snapshot.val());
        snapshot.forEach(function (data) {
        console.log(dat

[2018-08-02 08:46] Omar-Qalei commented on #1802
[https://i.stack.imgur.com/XhDJa.png](url)

[2018-08-02 08:47] Omar-Qalei commented on #1802
such as [https://i.stack.imgur.com/Yp9Pa.png](url)

[2018-08-02 08:47] Omar-Qalei commented on #1802
such as [](https://i.stack.imgur.com/Yp9Pa.png)

[2018-08-02 08:48] Omar-Qalei commented on #1802
[](https://i.stack.imgur.com/Yp9Pa.png)

[2018-08-02 08:48] Omar-Qalei commented on #1802
[https://i.stack.imgur.com/Yp9Pa.png](url)

[2018-08-02 10:15] Omar-Qalei commented on #1802
please help

[2018-08-02 10:26] ceekem commented on #1782
hi @Freelancersunil, you should have this

`ionViewDidLoad() {
    this.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
  }`

after the constructor and also declare

`public recaptchaVerifier:firebase.auth.RecaptchaVerifier;`

before the constructor.
hope this helps

[2018-08-02 19:31] arikanorh opened #1803 "Firebase storage upload fails on iOS 11"
### Version info

**Angular:**
"^6.0.7"
**Firebase:**
"^5.2.0"
**AngularFire:**
^5.0.0-rc.11
**Other (e.g. Ionic/Cordova, Node, browser, operating system):**
iOS Safari
### How to reproduce these conditions
Upload data on Safari with angular service worker enabled, the upload finished with error. The error can be seen in the photo. Photo is not uploaded

![image](https://user-images.githubusercont

[2018-08-03 04:37] ImAbinash opened #1804 "firebase polyfill error"
Cannot find module "@firebase/polyfill"

[2018-08-05 22:45] Awoshe commented on #1798
you can do that using security rules in firebase. Do some reading on security rules. hope that helps.

[2018-08-06 09:17] Kamshak commented on #1784
Still get this no matter what the RxJS version is. When debugging the firebase it imports contains a "default" property. I suspect it is related to this: https://github.com/Microsoft/TypeScript/issues/2719

[2018-08-06 09:17] Kamshak commented on #1784
using the "module" entry in package.json in webpack resolve (esm)

[2018-08-06 09:47] yuliankarapetkov opened #1805 "AngularFireUploadTask snapshot state doesn't change upon cancellation - AngularFireStorage"
### Version info

**Angular:** 6.03

**Firebase:** 5.2.0

**AngularFire:** 5.0.0-rc.11

### How to reproduce these conditions

**Steps to set up and reproduce**

Subscribe to `snapshotChanges` and log the value of the snapshot. Cancel the `AngularFireUploadTask` through the `cancel()` method. Snapshot doesn't change => `snapshot.state === 'running'`, instead of `snapshot.state === 'cancelled'`

##

[2018-08-06 10:46] sachin7254 opened #1806 "Error while injecting AngularFirestore in custom service"
### Version info

**Angular:**

**Firebase:**

**AngularFire:**

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

### How to reproduce these conditions

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**

**Steps to set up and reproduce**

**Sample data and security rules**

<-- include/attach/link to some json sample data (or provide credentials to a sanitized,

[2018-08-06 10:55] sachinpatil1920 opened #1807 "Error while injecting AngularFirestore in custom service"
My custom service:-
import {Exercise} from './exercise.model';
import {Injectable, OnInit} from '@angular/core';
import {Subject} from 'rxjs';
import {AngularFirestore} from 'angularfire2/firestore';
import 'rxjs/Rx';

Injectable();
export class TrainingService implements OnInit{
  availableExercises: Exercise[] = [
    {id: 'crunches', name: 'Crunches', duration: 30, calories: 8},
    {id: 'touch

[2018-08-06 12:04] #1807 closed

[2018-08-06 20:17] #1806 closed

[2018-08-06 20:18] davideast commented on #1805
@yuliankarapetkov Can you create a stackblitz for me to debug?

[2018-08-06 20:18] #1802 closed

[2018-08-07 07:01] gfaganli commented on #1766
+ the same error, solutions in the internet does not work

[2018-08-07 12:15] yuliankarapetkov commented on #1805
@davideast Hey, thanks for looking into this for me.

Here's a [stackblitz link](https://stackblitz.com/edit/angularfire2-cancel-upload)

[2018-08-07 21:09] jamesharvey2 commented on #556
@pookdeveloper
You're right about that.
I realized my second parameter had a typo. I removed second parameter and it started working.

[2018-08-08 08:10] gfaganli commented on #1705
so what is the last decision? which versions of angularfire and firebase  solves problem? or how to import firebase?

[2018-08-08 09:34] RudiPersson commented on #1705
Got everything to work using:
"firebase": "^5.3.0",
"angularfire2": "^5.0.0-rc.9"

[2018-08-08 14:08] gfaganli commented on #1705
still not working, now error switched to that one -_-  :
 Error: The XMLHttpRequest compatibility library was not found.

i followed @philip-firstorder  but again not working
// Required for Firebase
(global as any).WebSocket = require('ws');
(global as any).XMLHttpRequest = require('xmlhttprequest').XMLHttpRequest;

after all -
Error: Unable to Instantiate Firebase Messaing ReferenceError: self i

[2018-08-08 19:18] DmytroKurapin opened #1808 "Update fields in nested objects replaces nested objects"
### Version info

**Angular:*6.1.0*

**Firebase:*5.3.1*

**AngularFire:*5.0.0-rc.11*

**@ionic/angular:4.0.0-beta.1**

### How to reproduce these conditions

**Steps to set up and reproduce**

I have FirebaseService which should update appropriate data, in similar way like push works with arrays.
So my constructor:

`constructor(public firestore: AngularFirestore) { }`

then I have function which

[2018-08-09 01:43] hiepxanh commented on #1804
hello,I don't what exactly problem do you have.
If do you still have your problem? please describe your situation. Follow our issue template.
If not, please close your issue.

[2018-08-09 01:44] hiepxanh commented on #1748
hello @cweblogix is everything alright? can you close your issue?

[2018-08-09 01:46] hiepxanh commented on #1753
can you provide a minimum repository?

[2018-08-09 02:10] #1804 closed

[2018-08-09 02:11] ImAbinash commented on #1804
I got the solution

[2018-08-09 03:59] davidtlee opened #1809 "Feature request: support `array-contains`"
It looks like firestore now supports `array_contains` query functionality:

https://firebase.google.com/support/release-notes/js

![image](https://user-images.githubusercontent.com/863081/43877250-a6db41f0-9b4d-11e8-85f6-26a24f57b587.png)

This would be super useful for reducing the querying needed. For example if I need to get all the comments for a list of N posts, this would N individual querie

[2018-08-09 07:37] yuliankarapetkov commented on #1805
@davideast did you get the chance to check the stackblitz link provided?

[2018-08-09 10:55] KhabouMahdi opened #1810 "error"
{{item.$key}} didn't work  and {{item.attribut}} work why

[2018-08-09 11:12] timeo-schmidt opened #1811 "ISSUE? .signInWithPopup unexpected refresh when account is new"
I am fully stuck at an issue relating to the angularfire Google Sign in.

The following is happening:

 - If the user is not listed in the firebase AUTH, then after signing in via the google login popup, the page immediatly refreshes.
 - If the use has logged in previously and is not a new user in the firebase auth, the page works completely fine and does not show this kind of refresh/crash behavi

[2018-08-09 14:03] #1810 closed

[2018-08-09 14:03] #1811 closed

[2018-08-09 14:04] davideast commented on #1811
Hi @timeo-schmidt! Please use stackoverflow for these kind of questions.

[2018-08-09 14:04] davideast commented on #1809
Hi @davidtlee! We support this already in the query callback.

[2018-08-09 14:04] #1809 closed

[2018-08-09 19:58] cstodor commented on #1708
Same issue with:
angularfire2 ^5.0.0-rc.3
firebase 4.11.0
rxjs 5.5.11

[2018-08-09 20:51] larssn commented on #1490
Any status on this?

[2018-08-09 23:09] takahser commented on #1597
Didn't work for me!
I tried the following constellations:

- "firebase": "4.13.1" and "angularfire2": "5.0.0-rc.5-next"
- "angularfire2": "5.0.0-rc.11" and "firebase": "^5.0.2"
- "angularfire2": "5.0.0-rc.11" and "firebase": "5.3.1"

I'm using Angular 6.

Any suggestions?

[2018-08-10 01:28] hiepxanh commented on #1708
@cstodor you should upgrade your firebase to new version.
@naveen-me can we close this issue?

[2018-08-10 01:31] hiepxanh commented on #1772
hello, can you follow the issue template. how can I reproduce your error? which version of firebase are you using?  can you provide a minimum of repository that we can review it?

[2018-08-10 05:08] Matttaylor8910 commented on #1809
Hi @davideast, could you give an example or point to documentation?

Using 'array-contains' within the where clause throws the following error:

This is the code I'm trying to use with version 5.0.0-rc.11 of angularfire2:
`return this.afs.collection('games', ref => {
      return ref
        .orderBy('timestamp')
        .where('playerIds', 'array-contains', uid)
        .limit(30);
    })`

[2018-08-10 05:32] pradt commented on #1789
Hi, how are you guys importing this into your project. I'm getting

my import statement is `import { AngularFireFunctionsModule } from 'angularfire2/AngularFireFunctionsModule'`

I'm using AngularFire2 5.0.0-rc.11

[2018-08-10 05:46] pradt commented on #1789
@lenanex , @atinybeardedman  @runtimeZero try Angularfirebase's example : https://angularfirebase.com/lessons/saas-metered-subscriptions-with-stripe-billing-and-firebase/

There's an implementation that can help.

[2018-08-10 06:48] FiringBlanks opened #1812 "[Request] Search collection for docs containing string"
**Feature Request**
At present, Firestore doesn't allow searching  collections for strings (see [example](https://gfycat.com/SlushyUnsightlyGrouper)). This feature is outsourced to 3rd party libraries (Algolia). The .orderBy and .limit methods are great, and can be greatly augmented with a new method (ie. `.contains`) to search collections that contain the provided string, then return those matchi

[2018-08-10 20:38] TyagiAnkit40 commented on #1747
I have the same issue. Did anyone find a workaround on how to disable caching when using valuechanges or onSnapShot?

[2018-08-11 20:53] BluebambooSRL commented on #1685
Hi there, could someone implemente SSR with angular2?

[2018-08-11 20:55] BluebambooSRL commented on #1766
Same problem.. @davidheis  did you find the solution?

[2018-08-11 21:02] BluebambooSRL commented on #1745
Hi @jamesdaniels, @davideast
Do you know if there is any update on this?

Many thanks for the work/information that you provide.
Federico

[2018-08-11 21:10] davidheis commented on #1766
it was all too hard in the end. too many moving pieces, too complicated. just went back to normal SPA and live with the fact my page partially renders on google bot. i dont have time to debug overly complicated apps let alone could you image if i had heaps of these to debug? no way.

[2018-08-12 02:49] leonlovett commented on #1809
@Matttaylor8910 I had the same issue. Searching does work as David East says, but for some reason the typings weren't correct for me locally. I had to edit the typings file for firebase, then the app started building again.

Open `node_modules/firebase/index.d.ts` to line 1543 and added 'array-contains' to the type WhereFilterOp.

[2018-08-12 13:32] fdambrosio commented on #1708
I have the same problem

[2018-08-12 19:42] KaraboMaimane commented on #1382
Im not getting any output whatsoever from my database. Anything wrong im doing. i followed this documentation but to no avail: https://github.com/angular/angularfire2/blob/master/docs/rtdb/lists.md
![fb 2](https://user-images.githubusercontent.com/19784643/44005734-630f4586-9e89-11e8-9557-82db46949587.JPG)
![fb](https://user-images.githubusercontent.com/19784643/44005735-63813484-9e89-11e8-93fb-95

[2018-08-13 18:54] itsthesteve commented on #1766
My understanding is there was a regression in rc.11, some workarounds in #1705.

[2018-08-13 19:44] AlunoHappy commented on #1701
@hiepxanh "por favor, atualize seu código, instale o rxjs 5.5"
How to do this?

[2018-08-13 19:54] BluebambooSRL commented on #1705
Same problem here...

[2018-08-13 19:59] #1748 closed

[2018-08-13 22:33] TyagiAnkit40 commented on #1747
I can test. Currently, I am using an ugly workaround by calling get directly inside get collection which I want to avoid.

this.db.collection('OrderBom', ref => {
      let query : firebase.firestore.Query = ref;
      query = query.where('orderNo', '==', orderNo).where('inEntityLC', '==', entity);
      query.get({source: 'server'}).then(result=>{
        var arr=[];
        result.forEach((doc)

[2018-08-13 22:51] TyagiAnkit40 commented on #1747
Will it be better if we can directly specify {source : 'server'} instead of reading metadata? That way, the subscribe to valuechanges / snapshot will only fire once. Today, subscribe fires two times, one for cached data and another for server data.

[2018-08-14 01:25] richarddavenport commented on #1794
@Qarun-Qadir-Bissoondial [stackblits example](https://stackblitz.com/edit/angular-rtk3y3?embed=1&file=app/hello.component.ts)
I don't know how to reproduce your issue, but it looks like you have a couple of issues with your providers. In your app module you're adding `AngularFireAuth` when it should be `AngularFireAuthModule` also, you're injecting the same `AngularFireAuth` (not `AngularFireAuthM

[2018-08-14 03:10] davidtlee commented on #1809
@davideast thanks! it does look like it works. But I realized I was reading it wrong. I thought array-contains allows passing in an array for matching anything within the array. But I realized it only allows passing in a single value and checking if an array on the backend contains the query item. whoops!

[2018-08-14 09:55] philip-firstorder commented on #1705
@gfaganli Here is my project for you to do a side-by-side comparison with yours, maybe it helps. Mine compiles for ssr, prerender, serve, everything...

https://github.com/firstorder-gmbh/firstorder.io

[2018-08-14 13:18] alexdabast commented on #1805
Seems to be a real bug
The last event is not emitted on the snapshotChanges() however it will be emitted in the .then() promise

[code]

[2018-08-14 13:33] z3phyro commented on #1807
hi.... how did you solved this issue?

[2018-08-14 13:34] z3phyro commented on #1807
hi @sachinpatil1920 how did you solved this issue?

[2018-08-14 16:31] davideast commented on #1809
@leonlovett If you update to the latest Firebase version the typings should work

[2018-08-14 16:46] danwulff commented on #1745
With the announcement of the Node 8 runtime, will this now work?
https://firebase.googleblog.com/2018/08/cloud-functions-for-firebase-config-node-8-timeout-memory-region.html

[2018-08-14 17:11] JancoBH commented on #1745
I have the same question of @danwulff

[2018-08-14 21:42] gtcdevop commented on #1809
I manage to solve this issue using the following dependencies version
[code]

[2018-08-15 06:38] tamama opened #1814 "How can I destroy a firebase app?"
To initialize a firebase app for user1, we use:

let firebaseApp1 = firebase.initializeApp(user1Config);

Now, suppose user1 logs out, we need:

firebaseApp1.destroy();

such that we can initialize for another user say user2. Is there a way to destroy the instance completely?

Everything is done on the client-side, as we need to access client's data on his firestore. Nothing is stored in the serve

[2018-08-15 07:57] tamama commented on #1814
I found the solution:

firebaseApp1.delete()

should do the work.

[2018-08-15 07:57] #1814 closed

[2018-08-15 09:03] Kamshak commented on #1707
For me in my bundle there were somehow two versions of @firebase/app:
[code]
to workaround this i added a plugin in my webpack config:
[code]

That fixed it for me. Versions:
[code]

[2018-08-15 09:03] Kamshak commented on #1589
For me in my bundle there were somehow two versions of @firebase/app:
[code]
to workaround this i added a plugin in my webpack config:
[code]

That fixed it for me. Versions:
[code]

[2018-08-15 10:12] tamama opened #1815 "How to deploy cloud functions from public Github / private Gitlab via Rest API"
Hi,

May I know how could I deploy cloud functions from either public Github or private Gitlab repository via Rest API?

(I want to deploy it from the client-side Angular on behalf of my logged-in users. Of course, the code belongs to the client's Github repository which needs to be oauth-ed.

Thank you very much.

Kind regards,
Tamama

[2018-08-15 16:53] Kamshak commented on #1707
That doesn't work for prod though :cry:

[2018-08-15 19:36] jamesdaniels commented on #1815
Questions of this nature would be better suited for [firebase-talk](https://groups.google.com/forum/#!forum/firebase-talk)

[2018-08-15 19:36] #1815 closed

[2018-08-15 19:38] jamesdaniels commented on #1812
Out of scope for AF2 + the JS SDK, as it would need to implemented on the backend. [Please submit as a feature request](https://firebase.google.com/support/contact/).

[2018-08-15 19:38] #1812 closed

[2018-08-15 19:44] jamesdaniels commented on #1808
For array modifications you should use `FieldValue.arrayRemove` / `arrayUnion`; [see Todd's blog post](https://firebase.googleblog.com/2018/08/better-arrays-in-cloud-firestore.html) and [the reference for the JS SDK](https://firebase.google.com/docs/reference/js/firebase.firestore.FieldValue#.arrayRemove).

[2018-08-15 19:44] #1808 closed

[2018-08-15 19:47] jamesdaniels commented on #1753
This is due to the recent RCs requiring Angular 4.

[2018-08-15 19:47] #1753 closed

[2018-08-15 21:25] aaronhma commented on #1795
Why don't you read the official angularfire2 documentation about authentication: https://github.com/angular/angularfire2/blob/master/docs/auth/getting-started.md

[2018-08-16 00:17] tamama commented on #1815
Thanks! I will do this.

[2018-08-16 06:11] #1701 closed

[2018-08-16 06:12] #1685 closed

[2018-08-16 06:12] jamesdaniels commented on #1490
Being addressed in #1813

[2018-08-16 06:12] #1490 closed

[2018-08-16 06:14] #1704 closed

[2018-08-16 08:33] kanafghan commented on #1745
@danwulff and @JancoBH FYI, I have been trying to do so the last 2 days but without any luck :disappointed:

[2018-08-16 21:15] RalfViellieber commented on #886
Thanks alltej, same problem, same solution :-)
But still having to downgrade in 2018?!

[2018-08-17 07:32] tamama commented on #1240
@jamesdaniels
Instead of initializing in app.module.ts, can I initialize dynamically?
At the time of compiliation, I do not know the coordinates of the firebase project, which I will only obtain after the client signs in.

Thanks in advance.

Kind regards,
Tamama

[2018-08-17 07:37] vhosamane commented on #1142
I am also facing same issue. I am not able to get single value.

My ts file passing id to get single record.

import { Component, OnInit } from '@angular/core';
import { Router, ActivatedRoute, Params } from '@angular/router';
import { UserService } from '../user.service';

@Component({
  selector: 'app-user-details',
  templateUrl: './user-details.component.html',
  styleUrls: ['./user-details.co

[2018-08-17 07:47] vhosamane opened #1817 "How to get single record data in firebase2 and angular 6"
Hi I am not able to get single record data and its not throwing any error. Please help me out.

My package.json

"dependencies": {
    "@angular/animations": "^6.0.3",
    "@angular/common": "^6.0.3",
    "@angular/compiler": "^6.0.3",
    "@angular/core": "^6.0.3",
    "@angular/forms": "^6.0.3",
    "@angular/http": "^6.0.3",
    "@angular/platform-browser": "^6.0.3",
    "@angular/platform-brow

[2018-08-17 09:27] alixaxel opened #1818 "[BUG] Data Fetched Twice (RTDB)"
### Version info

**Angular:** 6.0.9

**Firebase:** 5.3.1

**AngularFire:** 5.0.0-rc.11

### How to reproduce these conditions

[code]

https://stackblitz.com/edit/angular-rxjs6-f2ey8o

Data is downloaded twice even though only one subscription exists.

**Steps to set up and reproduce**

1. Open Developer Console in Chrome and switch to Network tab
2. Filter by WebSocket connections
3. Refresh htt

[2018-08-17 09:28] alixaxel commented on #1818
Related to #819 ?

[2018-08-17 09:35] kanafghan commented on #1817
Your `map()` function is wrong since it does not return anything, i.e. the return value will be `undefined`. Check [this sample](https://stackblitz.com/edit/angularfire-single-object) on Stackblitz.com to see a working example. Please remember to add your Firebase config in the `app.module.ts` file.

Change your `map()` function to:

[code]

and since you are using RxJS 6, I would suggest using `p

[2018-08-17 11:07] vhosamane commented on #1817
Above solution is working for me. thanks

[2018-08-17 12:27] kanafghan commented on #1817
Your welcome @vhosamane, I'm glad that I could help.

[2018-08-17 16:14] axis80 commented on #1117
I also ran into this issue but I believe it's with Firebase, not angularfire2.

[2018-08-17 16:39] davideast commented on #1818
Hey @alixaxel! This is not a bug sadly. We have no way of knowing when an initial dataset is complete so we first download the data with a `.once('value')` listener. This way you won't get emissions for each item in the initial list. That listener does not populate the cache, if it did we would not have this problem. We then create a listener to listen to future changes.

This is not a problem in

[2018-08-17 16:39] #1818 closed

[2018-08-17 16:39] #1817 closed

[2018-08-17 16:40] davideast commented on #1795
@patrickmichalina Can you provide a code sample or some context to help troubleshoot? I've been testing and haven't hit this problem.

[2018-08-17 16:40] #1777 closed

[2018-08-17 16:40] #1772 closed

[2018-08-17 16:42] davideast commented on #1768
Hi @xcash! This is unlikely an issue with AngularFire and more likely an issue with the core auth SDK. Do you mind raising an issue with the official repo? I don't work on the Auth SDK so I can't provide much help here. https://github.com/firebase/firebase-js-sdk/

[2018-08-17 16:42] #1768 closed

[2018-08-17 17:07] davideast commented on #1762
@Bielik20 @Noext We are changing `doc.snapshotChanges()` to return a `Observable<DocumentSnapshot<T>>` in the next release. The `type` is useless on it because it is always a value update regardless of the type of change.

[2018-08-17 17:13] davideast opened #1819 "Proposal: New observable properties"
## Properties not methods!
We’re thinking about introducing a new properties on the `AngularFireCollection` and `AngularFireDocument` classes.

[code]

This helps avoid the sticky situation of loops. If you create an observable as a function inside a loop each render creates multiple observables with multiple subscriptions. If each observable has a different query criteria it will act unpredictabl

[2018-08-17 17:16] davideast opened #1820 "Proposal: unwrapCollection and unwrapDocument operators"
## Easier access to a document’s ID

Getting the `id` mapped to a single document has also long been a pain point, so we thinking of introducing a new operator to simplify this process:

**Collection**
[code]

**Document**
[code]

Leave a comment letting us know what you think.

[2018-08-17 17:58] xcash commented on #1768
Hi @davideast, thanks for the reply. :) Ok as I return from holidays i'll open that referring here.

[2018-08-17 19:56] davideast commented on #1707
@Kamshak What do you imports of Firebase look like?

[2018-08-17 19:57] #1782 closed

[2018-08-17 19:59] davideast commented on #1747
We will add the ability to filter client events with #1819. However, in the OP's use case you should not use `.take(1)` on a stream. Stream behave differently than a data request like a `.get()` call. If you need the set of data call `ref.get()`.

[2018-08-17 19:59] #1747 closed

[2018-08-17 20:10] codediodeio commented on #1819
I like this and it aligns better with other modules in Angular like reactive forms `valueChanges` or the rotuer's `queryParams`.

One thing I'm not clear on... will the `docs` prop map the call to `data()` for you? Otherwise I believe you will get a "circular JSON" error with the async pipe, unless you map it yourself with RxJS, which is painful.

[2018-08-17 20:18] davideast commented on #1819
The `docs` prop will not map the call to `data()`.  There's good information on the `DocumentSnapshot` so I don't want to strip it.

I'm thinking we can port your operators over from RxFire to do the unwrapping (#1820). What do you think?

[2018-08-17 20:26] codediodeio commented on #1819
Ah, that makes more sense. I think that's a reasonable way to go. The only alternative I could see is another prop like `itemsCollection.data`. A little less code, but not quite as flexible as Rx operators.

[2018-08-17 22:07] jamesdaniels commented on #1766
You'll need to import a compatibility framework to your Functions && server.ts for SSR.

[code]

[2018-08-17 22:07] #1766 closed

[2018-08-17 22:08] jamesdaniels commented on #1705
Fixing the apps/filter issue in #1821

[2018-08-18 03:12] aaronhma commented on #1795
Just an idea, guys. You might want to upgrade your RXJS, rxjs-compat(if using), and also angularfire2 for better compatibility.

[2018-08-18 09:10] sis0k0 commented on #1676
Heya, @sulco any updates on this? I can help if you have any problems :)

[2018-08-18 13:02] sondresorbye0111 commented on #1223
I have this problem using firestore

[2018-08-18 17:47] williamJmelton commented on #1676
@sulco I'm also willing to help out with this if needed.

[2018-08-19 18:47] kautily commented on #1342
this is not working for me

[2018-08-20 04:01] hiepxanh commented on #1820
I love this. I think that is great

[2018-08-20 07:04] Kamshak commented on #1707
@davideast

Imports are done the normal way through AngularFire*Module imports and in one case I import auth like this to create auth providers:
[code]

[2018-08-20 09:28] madakk opened #1822 "signInWithPopup breaks out of the NgZone"
### Version info

**Angular:** 5.0.0

**Firebase:** 4.5.0

**AngularFire:** 5.0.0-rc3

### How to reproduce these conditions

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**

https://angularfire-auth-ngzone.stackblitz.io

**Steps to set up and reproduce**

**Sample data and security rules**

<-- include/attach/link to some json sample data (or provide credentials to a sanitize

[2018-08-20 18:45] davideast commented on #1707
@Kamshak For TypeScript you should use the star import so nothing funky occurs.

[code]

Can you give that a try to and see if it helps? Firebase isn't packaged for single exports like you're using and that may be causing problems.

[2018-08-20 19:59] kanafghan commented on #1745
Out of curiosity, I've tried to experiment with how to make Firebase realtime-database work with Angular Universal and Cloud Functions using the newly added Node.js 8 runtime. To do so, I have created a [demo/experiment app](https://github.com/kanafghan/ng-ssr-gcf).

The good news is that it is working, but as long as we do not access `database()` from `firebase-admin` in the startup script, i.e.

[2018-08-21 01:56] davideast commented on #1819
@codediodeio `itemsCollection.data` would only work if you configured it in `AngularFireList`:

[code]

What do you think?

[2018-08-21 03:41] hiepxanh commented on #1708
update your firebase to `angular 6` ,  `firebase 5.1.0` and `angularfire2 rc 11`

[2018-08-21 11:43] simonpeters commented on #1808
Is there an example of how to do this with angularfire2 or should we use the native SDK?

[2018-08-21 12:55] brijkhatri5 opened #1823 "db.list is not a function"
ERROR TypeError: "db.list(...).subscribe is not a function"

import { Component } from '@angular/core';
import { AngularFireDatabase, FirebaseListObservable } from 'angularfire2/database-deprecated';

@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.css']
})
export class AppComponent {
  courses: any[];
  constructor(db: AngularFireDatabase

[2018-08-21 16:37] jamesdaniels commented on #1823
You'll need to use auditTrail or one of state, value, or snapshotChanges():   `db.list('/courses').snapshotChanges().subscribe()`

https://github.com/angular/angularfire2/blob/master/docs/rtdb/lists.md#angularfireaction---action-based-api

[2018-08-21 16:37] #1823 closed

[2018-08-22 05:05] brijkhatri5 opened #1826 "import issues"
ERROR Error: "StaticInjectorError(AppModule)[AppComponent -> AngularFireDatabase]:
  StaticInjectorError(Platform: core)[AppComponent -> AngularFireDatabase]:
    NullInjectorError: No provider for AngularFireDatabase!"

Do I need to import certain things? which maybe I am missing.!

[2018-08-22 06:41] fcalderon commented on #1745
I just learned about this issue the hard way :cry:
[code]
I spent a few hours trying to debug my app which has hanging for some reason. The hanging started after pushing a fix to a bug which was preventing a call to `AngularFireDatabase#object`. it was hanging because of this, right were `AngularFireDatabase#object` was being called. However, there was no error, no warning, and no log, from Angula

[2018-08-22 08:03] Kamshak commented on #1707
@davideast thanks for the reply! I upgraded webpack/angular alongside angularfire and it turns out the issue was that I had this in my webpack config:
[code]
but you now need to exclude the ngfactory stuff:
[code]

Because otherwise for some reason different loaders would get applied to the module apparently which creates the 'query' part in the include. Sorry about spamming here a bit, was gettin

[2018-08-22 09:06] brijkhatri5 commented on #1826
SDK_VERSION: '5.0.4',
I have installed angularfire2 in my system.

[2018-08-22 10:19] dancornilov opened #1828 "Firestore security rule issue"
### Version info
Angular: 6.0.2

Firebase: 5.0.4

AngularFire: 5.0.0-rc.10

**Which is my problem?**
In firestore simulator action pass validation but in app show error with insufficient permissions.

**Store collections and fields.**
<img width="1076" alt="screen shot 2018-08-22 at 1 10 19 pm" src="https://user-images.githubusercontent.com/24212761/44457965-625f5280-a60d-11e8-9919-c1a027e2b241.pn

[2018-08-22 10:48] Omar-Qalei opened #1829 "Angular Firestore can't find array-contains in library WhereFilterOp ?"
Angular Firestore can't find array-contains in library WhereFilterOp ?
I wanna compare Array List
`
where ('ArrayListFirestore' , 'array-contains',  arrayList);
`
'array-contains' error not found

[2018-08-22 11:32] guillefd commented on #1707
Had the same issue after upgrading to `angularfire2 5.0.0-rc-11` and `firebase 5.0.4`.
Reinstalled node_modules, cleaned node cache, and `app.auth is not a function` keep showing.

SOLUTION
After pretty much time debugging, did the following and it worked:
- created a new FRESH angular project
- installed angularfire and firebase `$ npm install firebase angularfire2 --save`
- replaced complete `/s

[2018-08-22 20:54] yairtawil commented on #380
Hi,
try `take` with `pipe`:
[code]

[2018-08-22 22:15] giladrom opened #1831 "Firebase: Illegal App name when initializing an Ionic Angularfire2 app"
### Version info

**Angular:**
[code]

**Firebase:**
firebase@5.4.0

**AngularFire:**
angularfire2@5.0.0-rc.11

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**
Ionic 3.20.0
Cordova 8.0.0

### How to reproduce these conditions

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**

**Steps to set up and reproduce**
The following has worked using older Angularfire2/Fi

[2018-08-22 22:38] #1831 closed

[2018-08-22 22:38] giladrom commented on #1831
For anyone experiencing the same issue - the problem was with the
[code]

dependency.

[2018-08-23 01:28] hiepxanh commented on #1826
which version of angularfire2? can you provide minimum repository can reproduce the error

[2018-08-23 07:56] Omar-Qalei opened #1833 "Firestore how can I use 2 array-contains in same index?"
Firestore how can I use 2 array-contains in same index?
but Firestore have rule only one

[2018-08-23 09:16] brijkhatri5 commented on #1826
version of angulaarfire2 is 4.0.0 and  Can u please if possible tel me how to check the minimum repository.. Sry ,but I am just a beginner

[2018-08-23 10:39] SymbhaWhambhaw opened #1834 "I'm doing a chat using angular 6, it gave me error when using the ngFor directive to show the messages from the firebase. Needing your programmers help"
![sem titulo](https://user-images.githubusercontent.com/41637376/44520757-c266ff00-a6c8-11e8-9602-fd09c2b7f597.png)

error
![sem titulo1](https://user-images.githubusercontent.com/41637376/44520862-1b369780-a6c9-11e8-931f-324bdf822523.png)

[2018-08-23 18:13] itsthesteve commented on #1834
It's impossible to say from the images you provided.  You might get better feedback from Stack Overflow.

[2018-08-24 02:30] hiepxanh commented on #1799
remove your node_modules then try to run `npm test` again

[2018-08-24 02:31] hiepxanh commented on #1822
please, upgrade your `angularfire to 5.0-rc11` and `firebase 5.0.4` `NgZone.isInAngularZone` is not ready on old version

[2018-08-24 02:33] hiepxanh commented on #1829
please, may you can open stackoverflow issue? I don't think this place is suitable for this type of question. You should only report about angularfire2 error or bug itself.

[2018-08-24 02:34] hiepxanh commented on #1833
please, may you can open stackoverflow issue? I don't think this place is suitable for this type of question. You should only report about angularfire2 error or bug itself.
by the way, you have duplicate issue

[2018-08-24 05:27] isitme opened #1836 "I can't subscribe to angularFireListObservable Please help.. I thought the async pipe will handle that but it isn't"
import { Component, OnInit } from '@angular/core';
import { FirebaseListObservable } from 'angularfire2/database-deprecated';
import { chatMessegeModel } from '../models/chat-message.model';
import { ChatService } from '../services/chat.service';

@Component({
  selector: 'app-feed',
  templateUrl: './feed.component.html',
  styleUrls: ['./feed.component.css']
})
export class FeedComponent impleme

[2018-08-24 15:42] kylecordes commented on #1552
I've experienced an interesting variation of this. I have a collection query with snapshotChanges() which always emits twice. First it emits just a single result (one document), then a moment later emits its actual correct result. I'm still investigating at what layer this happens etc.; but it seems worth a mention as it may be related to this earlier issue.

[2018-08-24 16:02] kylecordes commented on #1728
I can confirm the behaviors described here. `valueChanges()` and `snapshotChagnes()` typically (sometimes, but not necessarily every time) emit twice. First typically with a single record, then with the actual result. This occurs in an entirely static Firebase database, one which is had no data written to it for a long time.

I believe this is a valid bug, and that it is correct to expect that, in

[2018-08-24 17:45] jamesdaniels commented on #1552
@kylecordes the first emission is your cached results, the second is presumably the update from the server.

[2018-08-24 22:02] itsthesteve commented on #1705
Thanks @jamesdaniels!  Universal doesn't throw that error with rc12 anymore. The XMLHttpRequest fix mentioned by @philip-firstorder is still required which is simple enough.

[2018-08-25 04:11] kylecordes commented on #1552
@jamesdaniels @davideast  It would be much preferable to have programmatic control (or at least visibility) on this. As we try to create visual polish by running animations as the data changes, this double delivery of the data causes exaggerated visual disruption.

Yet there seems to be no straightforward path to postprocess the observable and get good results; skip(1) doesn't work, because on an

[2018-08-25 05:59] jamesdaniels commented on #1552
We just added a get() observable in rc.12. That should help.

Docs are pending but give it a shot in the meantime.

On Fri, Aug 24, 2018, 9:11 PM Kyle Cordes <notifications@github.com> wrote:

[2018-08-25 12:55] willykc commented on #1822
Hi, I reproduced this issue and #1384 on `angular 6.1.4`, `angularfire 5.0.0-rc.12` & `firebase 5.4.1`.

[2018-08-26 23:34] joseduno commented on #1221
Thanks!, I had the same problem and could solve it!

[2018-08-27 11:31] rinkukumar-kiwi commented on #1724
@MurhafSousli  I'm also facing same problem so can you please tell me that how you get rid of this problem it'll save my day if you help me in this problem.

[2018-08-27 15:00] MurhafSousli commented on #1724
@rinkukumar-kiwi I don't really know what was the cause and cannot remember how I solved it, but you can check the stackblitz above, it is working

[2018-08-27 16:46] Ricardwo commented on #762
Hello, I need helpe, problems in firebase

index.esm.js:74 [2018-08-27T16:45:08.769Z]  @firebase/database: FIREBASE WARNING: set at /shopping-list/-LKwG_FT0fmNc5UqZQbv failed: permission_denied
defaultLogHandler @ index.esm.js:74
Logger.warn @ index.esm.js:160
warn @ index.cjs.js:345
(anonymous) @ index.cjs.js:12840
(anonymous) @ index.cjs.js:12019
PersistentConnection.onDataMessage_ @ index.cjs.j

[2018-08-27 20:09] itsthesteve commented on #1836
You're binding to `main`, which isn't a variable in your class.  You probably meant `let item of feed | async`

[2018-08-28 04:22] Chan4077 opened #1842 "Documentation for AngularFireMessaging"
### Version info

**Angular:** `6.1.4`

**Firebase:** `5.4.1`

**AngularFire:** `5.0.0-rc.12`

**Other (e.g. Ionic/Cordova, Node, browser, operating system):** macOS Mojave Version 10.14 Beta (18A371a), NodeJS `10.7.0`, Google Chrome Canary Version 70.0.3534.4

### Expected behavior

There should be documentation for the all new `AngularFireMessaging` module as added from PR #1749.

### Actual beh

[2018-08-28 11:04] shashankalivenet opened #1843 "storage not working after generating build on Angular 6"
Hi,
    I am trying to use firebase storage with angularfire2 in a web application, i am able to connect and test it on the local system and it is working all fine, but when i build it and upload it on the server it gives an issue while uploading the file.

**Angular version** : 6.0.3

**Node version** : 8.11.2

**npm version** : 5.6.0

**angularfire2 version** : 5.0.0-rc.11

**rxjs version** : 6.

[2018-08-28 11:06] Chan4077 commented on #1843
Could you attach a screenshot of the Firebase Console on the Storage view?

[2018-08-28 11:17] shashankalivenet opened #1844 "ionic build process pauses (connected with issue #1843)"
Hi,
   It is connected with issue #1843

Developing an ionic application, imported the angularfire2 library for storage usage, working fine when testing it on local system but not able to generate a build for it.

**ionic version** : 4.0.1

**node version** : 8.11.2

**npm version** : 6.4.0

**angularfire2 version** : 5.0.0-rc.6.0

**firebase version** : 5.4.1

**rxjs version** : 5.5.6

**Expected

[2018-08-28 11:49] shashankalivenet commented on #1843
@Chan4077

![image](https://user-images.githubusercontent.com/42770460/44721043-4b75a000-aae6-11e8-9831-208e459ae26a.png)

[2018-08-28 11:52] shashankalivenet commented on #1843
@Chan4077

![consolefirebase](https://user-images.githubusercontent.com/42770460/44721263-f25a3c00-aae6-11e8-84a8-7b486483e2c6.png)

[2018-08-28 18:18] stephengardner commented on #1593
If you're reading this, adding `rxjs-compat` is not the "correct" way to solve a compatibility issue.  That being said, it might be the only way.  Your bundle size will now increase.

[2018-08-29 19:45] Daddelbob commented on #556
@maxmumford https://github.com/angular/angularfire2/issues/556#issuecomment-249225395
"The problem is with firebase not being initialised" --> firebase.initializeApp(environment.firebaseConfig);

Thx

[2018-08-29 20:10] robert-king opened #1845 "bundle size"
After following this [blog](https://coryrylan.com/blog/analyzing-bundle-size-with-the-angular-cli-and-webpack)

I get that firebase is 1.82 mb:
@firebase/database/dist/index.cjs.js is quite big, and i'm wondering, is this for the realtime database? because i'm not using the realtime database, so wondering If I could remove this?

<img width="1270" alt="screen shot 2018-08-29 at 11 51 16 am" src="h

[2018-08-29 20:44] jamesdaniels commented on #1845
Are you using AF 5.0? We've gone ngModule and the requires are done properly in each AngularFire*Module, allowing you to tree shake out unused deps.

The benefits of tree shaking are damaged however if you do your own `import 'firebase'` (pulls in everything) or `import 'firebase/database'` if you don't need it.

[2018-08-29 20:44] #1845 closed

[2018-08-29 20:48] jamesdaniels commented on #1843
This is due to `storageBucket` not being defined in the Firebase options you pass to `initializeApp`.  [Click "Add Firebase to your web app" here](https://console.firebase.google.com/project/_/settings/general/) to get the object you should be passing into `initializeApp`.

[2018-08-29 20:48] #1843 closed

[2018-08-29 20:50] jamesdaniels commented on #1844
You're running incompatible versions of angularfire and firebase.

[2018-08-29 20:50] #1844 closed

[2018-08-29 20:51] #1836 closed

[2018-08-29 20:51] jamesdaniels commented on #1834
Without seeing your component.ts we cannot help.

[2018-08-29 20:54] jamesdaniels commented on #1822
We have to run auth outside of angular's zone unfortunately. We're working on a strategy which might help, but in the meantime you can call `zone.run(() => ...)` in your `.then(...)`.

[2018-08-29 20:57] jamesdaniels commented on #1829
Odds are you need to update your Firebase.

[2018-08-29 20:57] #1829 closed

[2018-08-29 20:57] jamesdaniels commented on #1828
Questions such as these are better suited for Stack Overflow.

[2018-08-29 20:57] #1828 closed

[2018-08-29 20:59] jamesdaniels commented on #1826
Odds are you didn't import `AngularFireDatabaseModule` in your `AppModule` properly. It should look like this https://github.com/jamesdaniels/AngularFireDocs/blob/master/src/app/app.module.ts#L30

[2018-08-29 20:59] #1826 closed

[2018-08-29 21:02] jamesdaniels commented on #1794
Yeah, I believe it's that your providing AngularFireAuth in the same module that your importing AngularFireAuthModule. Putting your example up on StackBlitz would be very helpful as we could fork it and help you get it running.

[2018-08-29 21:02] #1794 closed

[2018-08-29 21:04] #1707 closed

[2018-08-29 21:06] jamesdaniels commented on #1708
If you were compiling for SSR or in an environment that was otherwise using CJS, you could see these failures prior to rc.12. It should be addressed now.

[2018-08-29 21:06] #1708 closed

[2018-08-29 21:06] #1833 closed

[2018-08-29 21:07] jamesdaniels commented on #1799
I believe we need to do some work to make our tooling Windows friendly.

[2018-08-29 21:28] SymbhaWhambhaw opened #1846 "Please help me"
using the angular 6 with firabase, creating a chat.
giving error in ref

![sem titulo5](https://user-images.githubusercontent.com/41637376/44816638-b86a6200-abda-11e8-94c0-d29f2bab15c9.png)

getMessages(): FirebaseListObservable<ChatMessage[]> {

  return this.db.list('messages', ref =>{
  ref.orderByKey().limitToLast(25)

}).valueChanges();

[2018-08-29 21:31] robert-king commented on #1845
"angularfire2": "^5.0.0-rc.10",

have:

import { firestore } from 'firebase';

date: firestore.FieldValue.serverTimestamp(),

could that be it?

[2018-08-29 21:49] jamesdaniels commented on #1846
You're not returning in your factory.

Do either

[code]

Or leave off the curlies to do implicit return

[code]

[2018-08-29 21:49] #1846 closed

[2018-08-29 21:50] jamesdaniels commented on #1834
Aaaaand still not enough information to be able to tell what you're doing. You might want to put this up on StackBlitz.

[2018-08-29 21:50] #1834 closed

[2018-08-29 21:55] SymbhaWhambhaw commented on #1846
I tried both ways this is giving the same error

[2018-08-29 23:32] assasindev commented on #1688
Also, I got the same error.
this is my devDependencies:

[code]

[2018-08-29 23:34] assasindev commented on #1688
@malindakpt
i am using angular-cli: 6.1.0
I followed you, but got the same error.

[2018-08-30 01:12] hiepxanh commented on #1799
yeah, forgot it, I build successful on Mac. it must be Window problem

[2018-08-30 04:38] shashankalivenet commented on #1843
yes i used this ->>   yofoodie-epos-development.appspot.com
in the configuration but then also it gave me the error

On Thu, Aug 30, 2018 at 2:18 AM James Daniels <notifications@github.com>
wrote:

[2018-08-30 04:41] shashankalivenet commented on #1844
ok thank you

On Thu, Aug 30, 2018 at 2:21 AM James Daniels <notifications@github.com>
wrote:

[2018-08-30 11:53] dunglp opened #1847 "firestore : edit a document field via an input"
Hi,

I was looking at how the sample code of documents showing data.

`<div>
      {{ (item | async)?.name }}
    </div>`

Is is possible to use an input for editing the item name in the sample above ?
I haved tried this
`<input *ngIf="item | async" type="text" [(ngModel)]="item.name" [value]="item.name" />`

but it didn't work.

I can get the data to display by this

    this.rpInfo = this.rpDoc.

[2018-08-31 04:28] yogeshdakre commented on #1809
array-contains only work with string?? the examples which are given shows that it works with string but how to deal when array contains objects
/mycollection
    /array +{name:'yogi'},
                 {name:'yogi1'},
                 {name:'yogi2'}

here how the query will be

[2018-08-31 13:37] miglrodri commented on #1272
Hello,

I am using firestore from firebase(npm) and the property exists was not available on the querySnapshot:

https://firebase.google.com/docs/firestore/query-data/get-data
[code]

querySnapshot in that context have a property 'empty' that I use to know if I get a document or not from the query. Hope this helps too.

[2018-08-31 21:41] Vino16491 commented on #1272
@mk4yukkalab do you got workaround to ur concern

And if i need a query like : this.afs.collection('users', ref => ref.where('email', '==', email)) how i can do that?
--

[2018-08-31 21:50] MrDrProfX commented on #886
Same problem.

[2018-09-02 02:27] CheckMater commented on #1762
How can I know which change occurred if the type field is always "value"?

Thanks.

[2018-09-02 09:28] johndavis987342 opened #1852 "Download URL and state not updated for file uploads"
### Version info

**Angular:** 6.0.0

**Firebase:** 5.4.2

**AngularFire:** 5.0.0 (@angular/fire)

### How to reproduce these conditions

**Failing test unit, Plunkr, or JSFiddle demonstrating the problem**

Minimal StackBlitz project to allow reproduction of the issue: https://stackblitz.com/edit/angular-cjpn4m

**Steps to set up and reproduce**

Upload a small file (< 1MB).
Upload a larger file

[2018-09-02 09:29] madakk commented on #1789
@davideast Any idea why the angularfire2 wrapper converts the `Promise` returned from the native API to an `Observable`? A `Promise` seems to make more sense, which means any consumer needs to convert the `Observable` back to a `Promise` with `Observable.toPromise`, as is shown in the example posted by @pradt  above.

[2018-09-02 10:47] Sejal08 commented on #1039
ergtyhujijkl;

[2018-09-03 03:54] kylecordes commented on #1552
@jamesdaniels Doe `get()` make it possible to retrieve the first "real" result, and then further updates on there, without ever getting the erroneous partial result at the beginning?

[2018-09-03 04:54] jamesdaniels commented on #1552
No, get() replaces the need for take(1) and allows an optional argument
allowing you to control whether the results come from the server or cache.

This behavior is not erroneous. It's your local cache firing the first
emission per design of the JS SDK. You do want the user to see something if
their network is not available right?

We're thinking of allowing an argument to value/snapshotChanges()

[2018-09-03 07:31] johanchouquet commented on #1799
Thanks for the effort if you work on that. I tried to rebuild from scratch, but same result.

[2018-09-04 01:31] sketchthat commented on #1789
An update to @lenanex's code for anyone else that is having problems.

[code]

[2018-09-04 04:50] sketchthat commented on #1789
Of course, but why have the wrapper convert it to an Observable if the API returns a Promise?

Observable indicates that the state might change after request - but it's always final.

[2018-09-04 07:46] jamesdaniels commented on #1789
Not if it's a single. The idea is to allow it to be pipelined, including
our own zone pipelining.

Observables are very much the first class citizen in Angular. That's the
whole idea behind this library, else why use it at all?

On Mon, Sep 3, 2018, 9:50 PM Michael Kimpton <notifications@github.com>
wrote:

[2018-09-05 10:34] wvanderdeijl opened #1855 "Messaging: TypeError: this.onTokenRefreshInternal is not a function"
### Version info

Angular: 6.0.9
Firebase: 5.4.1
AngularFire: 5.0.0-rc.12

### How to reproduce these conditions

[code]

### Debug output

** Errors in the JavaScript console **
[code]

### Expected behavior

No error. Problem seems to be in messaging.ts: https://github.com/angular/angularfire2/blob/185943f60012d8c3dcf7cc26413e3278f9e426be/src/messaging/messaging.ts#L56
[code]

messaging.onTokenR

[2018-09-05 11:47] akilmakda commented on #1842
@davideast  any update on  `AngularFireMessaging`?

[2018-09-05 14:28] davideast commented on #1842
Hi @akilmakda! No update. But as you can see from the recent PRs we are working towards a final release that also requires documentation. I can't provide a timeline as there's much to do right now, but ensure we will have it all done soon.

[2018-09-05 16:51] jamesdaniels commented on #1855
Hmmm... interesting. In my test project it seems to be working as expected
but that does sound off and I'll take a peek. I'm also using different
versions of Firebase + Angular.

What's the context in which you're subscribing? A service, component?

On Wed, Sep 5, 2018, 3:34 AM Wilfred van der Deijl <notifications@github.com>
wrote:

[2018-09-07 00:01] vixson opened #1857 "Firebase Auth Error floods console logs"
### Version info

**Angular: 5.2.0**

**Firebase: 4.13.1**

**AngularFire: 4.0.0-rc.2**

**Node: 8.11.2**

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**

### How to reproduce these conditions

**Steps to set up and reproduce**
1. Install angularfire2.
2. Import Angularfire2AuthModule
3. Then make an auth (login or register into firebase either via oauth or email/password)
4. The

[2018-09-07 00:56] vixson commented on #1847
You have to manually write the data **onInput**

_*.component.html_

`<input *ngIf="itemDoc | async as item" (keydown)="setValue($event.value)" [value]="item.name"/>`
or
`<input *ngIf="itemDoc | async as item" (input)="setValue($event.value)" [value]="item.name"/>`

_*.component.ts_

[2018-09-07 01:31] Chan4077 commented on #1842
Closing this issue as the docs for `AngularFireMessaging` have been created: 78a9736b4bb97de66019445efcc8f9a0e1c4e174

[2018-09-07 01:31] #1842 closed

[2018-09-07 04:51] CajetanRodrigues commented on #1695
fetchAvailableExercises() {
    this.fbSubs.push(this.db
      .collection('availableExercises')
            .snapshotChanges().pipe(    map(docArray => {
                      return docArray.map(doc => {
                        return {
                          id: doc.payload.doc.id,
                          name: doc.payload.doc.data().name,
                          duration: doc.payload.do

[2018-09-07 05:16] suparnavg opened #1858 "AngularFireStorage custom request headers"
Feature request: Custom headers in AngularFireStorage requests where the user is not logged in using Firebase auth

When downloading a user's private files from my google cloud storage bucket using AngularFireStorage, everything works perfectly IF the user has been logged in using Firebase Auth (in the browser).

My Firebase bucket rule is:
`allow read: if resource.metadata.email_of_uploader == re

[2018-09-07 05:46] jamesdaniels commented on #1858
The solution here would be to use Firebase custom or cookie auth. Generate the token on your Node.js server using the Admin SDK and pass it to the client.

[2018-09-07 05:46] #1858 closed

[2018-09-07 05:51] jamesdaniels commented on #1857
Can you file with the JS SDK? https://github.com/firebase/firebase-js-sdk/issues/new

[2018-09-07 05:51] #1857 closed

[2018-09-07 05:53] jamesdaniels commented on #1745
Solved in recent releases, docs are up for review #1841

[2018-09-07 05:53] #1745 closed

[2018-09-07 05:54] jamesdaniels commented on #1744
Dealt w/in #1850

[2018-09-07 05:54] #1744 closed

[2018-09-07 05:55] jamesdaniels commented on #1728
#1825 should have dealt with the remaining duplicate issues

[2018-09-07 05:55] #1728 closed

[2018-09-07 05:57] jamesdaniels commented on #1789
Docs are up.

[2018-09-07 05:57] #1789 closed

[2018-09-07 05:58] #1726 closed

[2018-09-07 06:04] suparnavg commented on #1858
Thanks @jamesdaniels! - for other readers, information on [creating & using tokens](https://firebase.google.com/docs/auth/admin/create-custom-tokens) using the Admin SDK.

[2018-09-07 06:46] donpironet opened #1859 "ServerValue.TIMESTAMP not found on AngularFireStore"
**Angular:**
6.1.0
**AngularFire:**
5.0.0-rc.11

I want to use the ServerValue.TIMESTAMP like I find on the internet and in the docs right here:
https://firebase.google.com/docs/reference/js/firebase.database.ServerValue

Now I've got a AngularFirestore injected in my service and I can't find the timestamp property on this one. I also don't find this in the docs of angularfire2.

How can I use thi

[2018-09-07 07:43] h2u commented on #1601
Hey. I just tried step by step what @hiepxanh suggested but all the time i try to login with google/facebook it opens browser, i see the "app-12345.firebaseapp.com" address then it redirects to localhost.

[code]

the code

[code]

[2018-09-07 08:18] donpironet commented on #353
I get that it's undefined.

I'm doing it like:

`angularFireDb.database['ServerValue']['TIMESTAMP']`

AngularFireDb is of type AngularFireDatabase.

[2018-09-07 08:31] #1859 closed

[2018-09-07 11:03] gfaganli commented on #1705
Is latest version compatible with angular 5? I am using firebase in 2 project, one app is in the angular 5, another angular 6. Angular 6 works fine with  "angularfire2": "^5.0.0-rc.12", "firebase": "^5.4.1". But in angular 5 it throws an error like -
Unable to Instantiate Firebase Messaing TypeError: C.messaging is not a function
 Error comes from line in the below, but could not find any solution

[2018-09-07 13:32] gfaganli commented on #1705
@Kamshak  Thanks for your help.
I tried first one bit that did not work.
In order to try second solution i have to upgrade project to angular 6, which i would not prefer.

[2018-09-07 16:08] h2u opened #1860 "signInWithRedirect does not redirect back to app"
### Version info

Windows 10 64
Ionic 4
Cordova 8
Android 7 (26)

[code]

### How to reproduce these conditions

- start blank ionic project
- install & setup angularfire
- complete guide: https://firebase.google.com/docs/auth/web/cordova?authuser=2

home.ts
[code]

home.html
[code]

### Debug output

Console is empty.
After i logged in on google accounts, it redirects me to here:

![whatsapp imag

[2018-09-07 17:33] Omar-Qalei opened #1861 "How to read and write JSON file in angular 6?"
` import * as fs from 'fs';`

[code]
Error: Module not found: Error: Can't resolve 'fs' in 'Component'

I wanna read and write json file . and how connect Nodejs to Angular 6 if no anyway to solve my problem .

[2018-09-07 19:39] IngAjVillalon opened #1862 "ERROR { Error: Uncaught (in promise): Error: Cannot find module "./.../.module.ngfactory"."
### Version info

**Angular:** 6.0

**Firebase:** 5.4.2

**AngularFire:** 5.0.0-rc.7

**Other (e.g. Ionic/Cordova, Node, browser, operating system):**
"rxjs": "^6.3.2",
"rxjs-compat": "^6.3.2",
"sweetalert2": "^7.26.28",
"zone.js": "^0.8.26"

**devDependencies**:
"typescript": "^2.9.2",
"webpack-cli": "^3.1.0",
"ws": "^6.0.0",
"xmlhttprequest": "^1.8.0"

### How to reproduce these conditions

**Fa

[2018-09-07 19:48] Omar-Qalei commented on #1861
Tell how can I write json file then closed

[2018-09-08 04:36] jamesdaniels commented on #1862
For lazy loading you'll need to pass your `LAZY_MODULE_MAP` into the render factory's providers. Check out what I've done in the new SSR docs up for review #1841 in [Getting started with Angular Universal](https://github.com/angular/angularfire2/blob/dfaaac880d2829a893d471a2ee3811b79fcfaff3/docs/universal/getting-started.md).

I also have a project I'm working on here which implements SSR with AOT

[2018-09-08 04:36] #1862 closed

[2018-09-08 05:39] odineshrao commented on #1745
i am too facing the issue with AngularFire2 and cloud function:
ERROR TypeError: Cannot read property 'storage' of undefined
    at new AngularFireStorage

[2018-09-08 07:26] maktarsis commented on #1745
@odineshrao , my problem is solved in recent release (@angular/fire)

[2018-09-08 15:51] IngAjVillalon commented on #1862
Thanks, @jamesdaniels what you answered me worked perfectly.
Now everyone can see the solution in this repository:
[](https://github.com/IngAjVillalon/Angular-Universal-6-Server-Side-Render)

[2018-09-08 16:32] jamesdaniels commented on #1862
Great to hear. I'll likely turn this work into a schematic to make it
easier to get going but one step at a time ;)

On Sat, Sep 8, 2018, 8:51 AM IngAjVillalon <notifications@github.com> wrote:

[2018-09-08 20:57] euberdeveloper opened #1865 "convert auth promises to observable"
### Version info

**Angular:**
I am using Angular 6

**AngularFire:**
I am using the newest Angular Fire 2 (08/09/2018)

### How to reproduce these conditions

**Steps to set up and reproduce**

This is my auth service, I want to convert the auth promises to observable (rxjs 6.1.0, I updated typescript to 2.9 because angular flex was not working)

[code]

This is the component wich uses login func

[2018-09-08 22:14] cmer4 commented on #1855
Same issue here:

Ionic 3.9.2
Angular: 5.2.3
Firebase: 5.4.2
AngularFire: 5.0.0 release

`TypeError: this.onTokenRefreshInternal is not a function
    at Observable.webpackJsonp.601.WindowController.onTokenRefresh [as _subscribe] (index.esm.js:1883)
    at Observable._trySubscribe (Observable.js:42)
    at Observable.subscribe (Observable.js:28)
    at subscribeTo.js:21
    at subscribeToResult (s

[2018-09-09 14:06] aligassan opened #1866 "Uncaught TypeError: Object(...) is not a function"
l had problem with real time database . lm try to get data from my database in my project using ionic3 , l had successfully pushing data to database without error , but the problem is with Retrieving data . when l run my app l got `Uncaught TypeError: Object(...) is not a function ` .

my code in home.ts :

[code]

posting page :

[code]
l faced problem only with home.ts .

[2018-09-09 19:54] maiertudor commented on #1199
Changed:"angularfire2": "^4.0.0-rc.0","firebase": "^3.9.*",in package.json
npm install

Worked for me also!

[2018-09-10 01:02] hiepxanh commented on #1866
not sure where that error come from, please provide an example repository can reproduce that error. (and upload your image with error if possible)

[2018-09-10 04:30] codediodeio commented on #1860
I can confirm this issue as well, but have no idea how to debug.  It's not an issue with AF, which works fine with redirect auth on the web, so I'm assuming it's an issue in one of those cordova black boxes.

 A workaround for Google Auth is to use the Google Plus Plugin and and use `signInWithCredential`. Here's a full guide verified with Ionic 4 https://angularfirebase.com/lessons/ionic-google-l

[2018-09-10 07:43] schankam commented on #1708
"angularfire2": "^5.0.1",
"firebase": "^5.4.2"

And still getting issues.

I can for example use auth() by importing it that way:

import { auth } from 'firebase';

But then I get this warning message in my console:

It looks like you're using the development build of the Firebase JS SDK.
When deploying Firebase apps to production, it is advisable to only import
the individual SDK components you i

[2018-09-10 10:27] kmuthukrishnan opened #1867 "Facebook OAuth authentication not working through AngularFire2"
### Version info

Angular CLI: 6.0.8
angularfire2": "^5.0.0-rc.9
typescript: ~2.7.2

### How to reproduce these conditions

I am using facebook OAuth login through Angular Fire 2 for my website. I have done all the settings as specified including App Domains (basic settings) and Valid OAuth Redirect URIs (facebook login settings). However, I am still getting the error message as specified in the s

[2018-09-10 14:15] jonathan-chin opened #1868 "Cannot get errors from callable functions"
I'm using ^5.0.0-rc.11 and I can execute callable functions without a problem, so long as the return code is 200. If I try to throw a 400 error, I will always get the same code.

here's my function code; it will explicitly induce an error.
[code]

here's my client code:
[code]

I will always get this:
[code]

if I have the server return a 200 status, I can get the message "world".
if I call the fu

[2018-09-10 14:37] h2u commented on #1860
Hey, @codediodeio . Thanks for reply. Tried today your solution but it's not working giving everytime error: Object(...) is not a function at GooglePlus.login (index.js:24)

Spent few hours of finding the solution, nothing helped, switched to another work :) Maybe you know something about this error?

[2018-09-10 14:42] codediodeio commented on #1860
That error is usually related to RxJS, does `npm install rxjs-compat` fix it? (and restart your dev server)

[2018-09-10 14:56] h2u commented on #1860
Just updated rxjs-compat, restarted server. Nothing changed.

[code]

[2018-09-10 15:16] aligassan commented on #1866
@codediodeio you are right . after l updated `npm i rxjs-compat ` the code working fine . thank you

[2018-09-10 15:35] codediodeio commented on #1860
If you're on Ionic v3 you want `npm i @ionic-native/google-plus@4.12.2` and  the import should look like

[code]

On Ionic v4, you need all native plugins updated to 5.0.0-beta and imported from npx.

[code]

[2018-09-10 15:54] h2u commented on #1860
Im on v4 and imports are as you say.

[2018-09-10 16:14] codediodeio commented on #1860
Are you sure,  v4 should have `"@ionic/angular": "^4.0.0-beta"`, but the package on this issue is `"ionic-angular": "3.9.2"`

[2018-09-10 18:10] bradyisom commented on #1855
I am having the same issue while subscribing in a service.

However, I cannot get the workaround to work either. I'm not able to get access to the `onTokenRefresh` method. @cmer4 or @wvanderdeijl can you share a little more context of your workaround? Where are you getting the reference to the `messaging` or `app` object?

[2018-09-11 01:13] hiepxanh commented on #1866
wow, so exectly 🗡  ✌️ v
@aligassan can we close that issue?

[2018-09-11 01:15] hiepxanh commented on #1867
you should add redirect url in facebook app config too

[2018-09-11 03:13] codediodeio commented on #1855
@bradyisom the workaround from @cmer4 looks good. Here is another option that works, but pulls in the full firebase SDK, so really only suitable for development. Use try/catch otherwise your app will fail catastrophically on Safari.
[code]

[2018-09-11 06:00] aligassan commented on #1866
Sure, thanks

[2018-09-11 06:00] #1866 closed

[2018-09-11 06:00] aligassan commented on #1866
Sure thank you

[2018-09-11 06:15] h2u commented on #1860
I thought @ionic-native/core is ionic version and it's 4.12.2, and there is no package @ionic/angular, only ionic-angular and the latest version is 4.0.0-alpha.0 not 4.0.0-beta. You sure that i need to update ionic-angular?

[2018-09-11 06:17] h2u commented on #1860
Ok, i found package - https://www.npmjs.com/package/@ionic/angular
Do i need to remove ionic-angular then?

[2018-09-11 06:51] h2u commented on #1860
Okay, everything works now. I did not installed @ionic/angular. Downgraded @ionic-native/google-plus to 4.12.2 and it's working now. Thank you.

[2018-09-11 11:31] Lx commented on #1645
The table in the updated docs still references `getDownloadURL` as an available method on `AngularFireUploadTask`, which doesn't seem to be the case.

[2018-09-11 15:01] JonesM87 commented on #677
Reference with examples would be very helpful

[2018-09-11 15:58] vandres commented on #1668
Will it be possible to use this library also without rxjs-compat?

[2018-09-11 15:59] bradyisom commented on #1855
Thanks. I used something similar to the workaround by @cmer4. It seems to be working fine for me with the workaround. Seems like binding these functions in the angularfire2 library should fix this issue.

[2018-09-11 17:49] jonathan-chin commented on #1868
It seems the error comes from using https.onRequest instead of https.onCall.

[2018-09-11 17:49] #1868 closed

[2018-09-11 19:32] jonathan-chin opened #1869 "How to test callable functions locally?"
I'm doing some extensive development and testing of firebase callable functions. Deploying every change is time consuming, especially in aggregate.

I can serve the functions locally with `firebase serve` but can't call them through AngularFire2. The URL is automatically generated in this basic format: `https://us-central1-share-meals-dev.cloudfunctions.net/hello`

I looked into the firebase-funct

[2018-09-11 23:17] Tolitech opened #1870 "Firebase Cloud Messaging with ServiceWorker in a subdirectory"
### Version info

**Angular:** 6.1.1

**Firebase:** 5.4.2

**AngularFire:** 5.0.0

**Ionic:** 4.0.0-beta.7

### How to reproduce these conditions

In localhost everything works perfectly.
The problem is that on the server, I can not put the PWA in a site (root), but in a subdirectory.

So, in the build is used **baseHref: /pwa** for example.

On the site (production), it is looking for a default s

[2018-09-12 03:49] jamesdaniels commented on #1855
I see, in my quick tests I was calling directly in a module. Seems like it's tripping up while in a service. I'll get the bind patch in and cut 5.0.2 shortly. Thanks for hunting this down everybody!

[2018-09-12 11:40] Bielik20 commented on #1728
@jamesdaniels I am using `"@angular/fire": "^5.0.0"`, `"firebase": "^5.4.2"` and the issue still persists.

[2018-09-12 16:00] newmesiss commented on #1305
@fbayanati this works well, I implemented it in my project and it goes well, but how do I integrate the session start of the second database?

[2018-09-12 17:47] djabif commented on #1769
Hey @ananbetak, how did you solve this issue? It's happening to me know and don't know how to solve it :(

[2018-09-12 18:09] gonzad77 opened #1871 "delete() method return undefined"
Hi, i am trying to delete a document from a "people" collection by ID.
The problem happens when the Promise succeed it always return undefined.

[code]
I debugged the code and the key is recived correctly:
![image](https://user-images.githubusercontent.com/18126204/45443985-98d43e80-b69c-11e8-9667-3e6573457231.png)

Then the promise is resolved, but it return undefined:
![image](https://user-image

[2018-09-12 18:10] davideast commented on #1870
Hey @Tolitech! Like our docs state, we [unfortunately cannot integrate with the Angular Service Worker](https://github.com/angular/angularfire2/blob/master/docs/messaging/messaging.md#angularfiremessaging-is-not-compatible-with-the-angular-service-worker). Is there a requirement for having it in a sub-directory? If you need it there you register it in the sub-directory and then call `messaging.use

[2018-09-12 18:13] davideast commented on #1871
@gonzad77 Please follow the issue template so we can help you better.

Calling `.delete()` return a promise, so you don't need to wrap it. You can simplify your code and avoid your bug all together like below:

[code]

[2018-09-12 18:13] #1871 closed

[2018-09-12 18:14] davideast commented on #1869
Hi @jonathan-chin! Please raise this [JS SDK repo](https://github.com/firebase/firebase-js-sdk/issues), so the right team can answer the question. I just wrap the API so I can't provide much help.

[2018-09-12 18:14] #1869 closed

[2018-09-12 18:17] davideast commented on #1865
Hi @euberdeveloper! We intentionally want these methods to return promises as they are mutations, not streams. Streams should be observables, mutations should be eager. If we changed it to an observable the following code would not work:

[code]

You would to call subscribe just to log the user in, which not practical or intuitive.

[code]

To listen to authentication state we provide those observ